{% extends "layout.html" %}

{% block pageTitle %}
  Get funding for farming and land management
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}
<a onclick="history.back()" class="govuk-back-link">Back</a>
{% endblock %}



{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/v1-6/_get-funding/gf-checklist" method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="why-unsuccessful--hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Please let us know why your previous application was unsucessful
                </h1>
              </legend>
              <div id="why-unsuccessful-hint" class="govuk-hint">
                Select all that apply.
              </div>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="why-unsuccessful" name="why-unsuccessful" type="checkbox" value="Reason unsuccessful">
                  <label class="govuk-label govuk-checkboxes__label" for="why-unsuccessful">
                    option 1
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="why-unsuccessful-1" name="why-unsuccessful" type="checkbox" value="Reason unsuccessful 1">
                  <label class="govuk-label govuk-checkboxes__label" for="why-unsuccessful-1">
                    option 2
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="why-unsuccessful-2" name="why-unsuccessful" type="checkbox" value="Reason unsuccessful 2">
                    <label class="govuk-label govuk-checkboxes__label" for="why-unsuccessful-2">
                      option 3
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="why-unsuccessful-3" name="why-unsuccessful" type="checkbox" value="Reason unsuccessful 3">
                    <label class="govuk-label govuk-checkboxes__label" for="why-unsuccessful-3">
                      option 4
                    </label>
                  </div>
              
          </div>
            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>



{% endblock %}
