{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      Check available funding and grants for your land or farm
    </h1>
    <p> From: <a href="/path/of/page">Department for Environment, Food & Rural Affairs</a> and <a href="/path/of/page" class="govuk-link" >Rural Payments Agency</a></p>

    <p>Find out what funding we offer as part of the Farming and Countryside Programme. This is for land or farms in England. </p>
    <p>You may be able to apply for one or more funds and grants if you or your land are eligible. The guidance for each fund and grant will explain where this is possible. </p>

    <div class="govuk-inset-text">
      This service does not confirm your eligibility. You may be able to apply for one or more funds and grants if you or your land is eligible.
    </div>
    <p>You can also <a href="startwiz.html">answer a few questions to narrow funding.</a> </p>
  </div>
</div> 

<div class="govuk-width-container" id="filtersearch" id="refresh">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row" >

      <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <h2 class="govuk-heading-m">Search</h2>
          <p class="govuk-!-font-size-16 govuk-hint">Enter a keyword or the name of a grant. Use the filters to narrow your search.</p>
          <input class="govuk-input govuk-!-width-full" id="one-third" name="one-third" type="text">
          <hr class="govuk-section-break govuk-section-break--m">
          <a href="filter_results_organic.html#search" role="button" draggable="false" class="govuk-button" data-module="govuk-button" >
            Search
            </svg></a>
          
          
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default" aria-expanded="true">
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Funding type
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                      Countryside Stewardship (CS)
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                      Farming Equipment and Technology Fund (FETF)
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
                      Sustainable Farming Incentive (SFI)
                    </label>
                  </div>
              </div>
            </div>
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                    Land use
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                      Air quality
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                      Arable land
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                      Biodiversity
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                      Boundaries
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                      Coast
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                      Educational access
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                      Flood risk 
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                      Grassland
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                      Historic environment
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                      Livestock management
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                      Organic land
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                      Pollinators and wildlife
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                      Priority habitats
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                      Trees (non-woodland)  
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                      Uplands
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                      Vegetation control
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                      Water quality
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                    <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                      Woodland
                    </label>
                </div>
              </div>
            </div>
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                    Items, options and supplements
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                      Capital items
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                      Options
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
                      Supplements
                    </label>
                  </div>
                </div>
              </div>
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                    Tiers, offers or standalone items
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                      Higher Tier
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                      Mid Tier
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
                      Offer: Arable
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                      Offer: Lowland grazing
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                      Offer: Mixed farming
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                      Offer: Upland
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-4" name="organisation" type="checkbox" value="DfT">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-4">
                      Standalone capital items
                    </label>
                  </div>
                </div>
              </div>
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                    Closing date
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                      Less than 1 month
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                      Between 1 and 3 months
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
                      Over 3 months
                    </label>
                  </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
            </div>
          </div>
 

    </div>
 
    </div>
    <div class="govuk-grid-column-two-thirds" id="refresh">
      <dd class="govuk-summary-list__value govuk-heading-m ">
        575 results
      </dd>
      <dd class="govuk-!-text-align-right">
        <a class="govuk-link govuk-!-font-size-19" href="shortlist.html">
          Go to shortlist
        </a>
      </p>
      </dd>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <p class="govuk-body"> <a href="#" class="govuk-link">Capital Grants</a></p>
       <dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          Funding type: Countryside Stewardship (CS)
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#refresh1" id=Add1 onclick="changetoremove1()">
            Add to shortlist<span class="govuk-visually-hidden"> Remove WD12: Creation of upland wood pasture from shortlist</span>
          </a>
        </p>
        <script>
        function changetoremove1() {
        document.getElementById("Add1").innerHTML = "Remove from shortlist";
        }
        </script>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          Land use: Air quality, Biodiversity, Trees (non-woodland), Uplands, Woodland
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          Closing date: 11:59pm 4 January 2024
        </dd>
      </div>
    </dl>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
     
  <p class="govuk-body"> <a href="#" class="govuk-link">England Woodland Creation Offer</a></p>
    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          Land use: Biodiversity, Priority habitats, Organic land, Uplands, Woodland
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#refresh1" id=Add1 onclick="changetoremove1()">
            Add to shortlist<span class="govuk-visually-hidden"> Remove WD12: Creation of upland wood pasture from shortlist</span>
          </a>
        </p>
        <script>
        function changetoremove1() {
        document.getElementById("Add1").innerHTML = "Remove from shortlist";
        }
        </script>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          Closing date: 11:59pm 1 January 2025
        </dd>
      </div>
    </dl>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


      <p class="govuk-body"> <a href="https://www.gov.uk/countryside-stewardship-grants/nectar-flower-mix-ab1" class="govuk-link">HS2 Woodland Fund </a></p>
        <dl class="govuk-summary-list govuk-summary-list--no-border">
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              Land use: Biodiversity, Priority habitats, Uplands, Woodland
            </dd>
            <dd class="govuk-summary-list__actions">
            <p>
              <a class="govuk-link" href="#refresh" id=Add onclick="changetoremove()">
                Add to shortlist<span class="govuk-visually-hidden"> Remove WD12: Creation of upland wood pasture from shortlist</span>
              </a>
            </p>
            <script>
            function changetoremove() {
            document.getElementById("Add").innerHTML = "Remove from shortlist";
            }
            </script>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dd class="govuk-summary-list__value">
              Closing date: 11:59pm 31 March 2024
            </dd>
          </div>
        </dl>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"id="refresh2">

      <p class="govuk-body"> <a href="https://www.gov.uk/countryside-stewardship-grants/earth-bank-restoration-bn4" class="govuk-link" >Local Authority Treescapes Fund</a></p>
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            Land use: Trees (non-woodland), Uplands, Woodland 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#refresh2" id=Add2 onclick="changetoremove2()">
              Add to shortlist<span class="govuk-visually-hidden"> Remove WD12: Creation of upland wood pasture from shortlist</span>
            </a>
          </p>
          <script>
          function changetoremove2() {
          document.getElementById("Add2").innerHTML = "Remove from shortlist";
          }
          </script>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            Closed: 11:59pm 8 February 2024 
          </dd>
        </div>
      </dl>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" id="refresh3">

      <p class="govuk-body"> <a href="https://www.gov.uk/countryside-stewardship-grants/multi-species-ley-op4" clasCs="govuk-link" >Species Survival Fund</a></p>
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            Land use: Arable land, Biodiversity, Organic land, Priority habitats, Uplands 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#refresh3" id=Add3 onclick="changetoremove3()">
              Add to shortlist<span class="govuk-visually-hidden"> Remove WD12: Creation of upland wood pasture from shortlist</span>
            </a>
          </p>
          <script>
          function changetoremove3() {
          document.getElementById("Add3").innerHTML = "Remove from shortlist";
          }
          </script>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            Closing date: 11:59pm 26 October 2023 
          </dd>
        </div>
      </dl>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-body"> <a href="guidancepage.html" class="govuk-link">Tree Health Pilot</a></p>
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            Land use: Air quality, Biodiversity, Trees (non-woodland), Uplands, Woodland 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Add to shortlist<span class="govuk-visually-hidden"> Remove WD12: Creation of upland wood pasture from shortlist</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            Closing date: 11:59pm 31 August 2024 
          </dd>
        </div>
      </dl>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-body"> <a href="guidancepage.html" class="govuk-link">Urban Tree Challenge Fund </a></p>
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            Land use: Air quality, Biodiversity, Trees (non-woodland), Uplands, Woodland
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Add to shortlist<span class="govuk-visually-hidden"> Remove WD12: Creation of upland wood pasture from shortlist</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            Closing date: 11:59pm 8 February 2024
          </dd>
        </div>
      </dl>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-body"> <a href="guidancepage.html" class="govuk-link">Woodland Creation Planning Grant</a></p>
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            Land use: Biodiversity, Priority habitats, Uplands, Woodland
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Add to shortlist<span class="govuk-visually-hidden"> Remove WD12: Creation of upland wood pasture from shortlist</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            Closing date: 11:59pm 31 March 2024 
          </dd>
        </div>
      </dl>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <p class="govuk-body"> <a href="guidancepage.html" class="govuk-link">Woodland Partnership</a></p>
      <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            Land use: Biodiversity, Priority habitats, Uplands, Woodland
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Add to shortlist<span class="govuk-visually-hidden"> Remove WD12: Creation of upland wood pasture from shortlist</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dd class="govuk-summary-list__value">
            Closing date: 11:59pm 31 March 2024
          </dd>
        </div>
      </dl>
     <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
     <nav class="govuk-pagination" role="navigation" aria-label="results">
      <ul class="govuk-pagination__list">
        <li class="govuk-pagination__item govuk-pagination__item--current">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
            1
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
            2
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
            3
          </a>
        </li>
      </ul>
      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
          </svg></a>
      </div>
    </nav>
    </div>
  </main>
</div>


{% endblock %}
