{% extends "govuk-prototype-kit/layouts/unbranded.html" %} {% block pageTitle %}
Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit {%
endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div
      style="border: 5px solid rgb(65, 67, 69); background: GhostWhite"
      class="govuk-!-padding-6 govuk-!-margin-bottom-8"
    >
      <p class="govuk-body">From: comms@defra.gov.uk</p>
      <hr
        class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4"
      />
      <p class="govuk-body">To: youremail@emailaddress.co.uk</p>
      <hr
        class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4"
      />
      <p class="govuk-body">Subject: New Farmland and wildlife grant</p>
      <hr
        class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-4"
      />
      <p class="govuk-body">Dear Subscriber,</p>
      <p class="govuk-body">
        Defra have created a new tool for you to check available funding and
        grants.
      </p>
      <p class="govuk-body">
        We think you may be interested in the
        <a
          href="https://www.gov.uk/guidance/sfi-actions-for-farmland-wildlife-on-improved-grassland"
          class="govuk-link"
          >Farmland wildlife on improved grassland 2023</a
        >
        grant.
      </p>
      <p class="govuk-body">
        Alternatively, you can
        <a href="filterfirst1.html" class="govuk-link"
          >view all available funding and grants</a
        >
        using our tool.
      </p>
      <p class="govuk-body">Kind Regards,</p>
      <p class="govuk-body">Defra</p>
    </div>
  </div>
</div>

{% endblock %}
