{% extends "layouts/main-signed-in.html" %} {% block pageTitle %} Check your answers
template – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block
beforeContent %} {{ govukBackLink({ text: "Back", href:
"javascript:window.history.back()" }) }} {% endblock %} {% block content %}

<script>
function printPage() {
  window.print();
} 
function downloadFile() {
            const content = "This is the content of the downloaded file.";
            const blob = new Blob([content], { type: 'text/plain' });
            const url = URL.createObjectURL(blob);

            const a = document.createElement('a');
            a.href = url;
            a.download = 'downloaded-file.txt';
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
            URL.revokeObjectURL(url);
}

</script>

<style>
  /* List styles */
  ul {
      margin: 0;
      padding: 0;
      text-align: right;
      
  }

  /* Display list items horizontally */
  ul li {
      display: inline;
      margin-left: 20px; /* Add some spacing between items */
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

   <h1 class="govuk-heading-xl">Shortlist of funding and grants</h1>

    
    <div class="govuk-grid-column-full-width">
      
        
 <h2 class="govuk-heading-m">3 results</h2>

<!--Tabs-->
<div class="govuk-tabs" data-module="govuk-tabs">
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#grants">
        Grants (2)
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#options">
        Options (1)
      </a>
    </li>
      <li class="govuk-body"><a class="govuk-link" onclick="printPage()">Print</a></li>
      <li class="govuk-body"><a class="govuk-link" onclick="downloadFile()">Download </a></li>
      <li class="govuk-body"><a class="govuk-link" href="mailto:email@example.com">Share by email</a></li>
  </ul>
 <div class="govuk-tabs__panel" id="grants">
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Farmland wildlife on improved grassland 2023</h2>
                <ul class="govuk-summary-card__actions">
                  <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                      View<span class="govuk-visually-hidden"></span>
                    </a>
                  </li>
                  <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                      Remove<span class="govuk-visually-hidden"></span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Priorities:
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Biodiversity, Grassland, Uplands
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Goals:
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Creating or improving, Managing or protecting
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Grant scheme:
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Sustainable Farming Incentive (SFI)
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Payment type:
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Revenue payment
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Closing date:
                    </dt>
                    <dd class="govuk-summary-list__value">
                      To be confirmed
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
          </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Low input grassland 2023</h2>
                <ul class="govuk-summary-card__actions">
                  <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                      View<span class="govuk-visually-hidden"></span>
                    </a>
                  </li>
                  <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                      Remove<span class="govuk-visually-hidden"></span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Priorities:
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Biodiversity, Grassland, Uplands
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Goals:
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Creating or improving, Managing or protecting
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Grant scheme:
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Sustainable Farming Incentive (SFI)
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Payment type:
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Revenue payment
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Closing date:
                    </dt>
                    <dd class="govuk-summary-list__value">
                      To be confirmed
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="options">
   <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          
            <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">IGL1: Take improved grassland field corners</h2>
                <ul class="govuk-summary-card__actions">
                  <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                      View<span class="govuk-visually-hidden"> of University of Gloucestershire</span>
                    </a>
                  </li>
                  <li class="govuk-summary-card__action"> <a class="govuk-link" href="#">
                      Remove<span class="govuk-visually-hidden"> from University of Gloucestershire</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Priorities:
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Grassland, Uplands
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Goals:
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Managing or protecting
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Grant scheme:
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Sustainable Farming Incentive (SFI)
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Payment type:
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Revenue payment
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
          
        </tr>
      </tbody>
      
</table>
  </div>
  
</div>
        

    
    

    





<!--Footer-->

          <script>
          function changetoremove1() {
          document.getElementById("Add1").innerHTML = "Remove from shortlist";
          }
          </script>
          </dd>
    </div>








    <p class="govuk-body">
      <a
        href="https://www.gov.uk/countryside-stewardship-grants/nectar-flower-mix-ab1"
        class="govuk-link"
        >AB1: Nectar flower mix</a
      >
    </p>
    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          This is an option that you can add to a Countryside Stewardship (CS)
          agreement if you meet the eligibility criteria.
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Remove from shortlist<span class="govuk-visually-hidden">
              Remove WD12: Creation of upland wood pasture from shortlist</span
            >
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          Funding type: Countryside Stewardship (CS)
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          Land use: Arable land, Permanent crops
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          Items, options and supplements: Option
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          Tiers, offers or standalone items: Higher Tier, Mid Tier, Offer:
          Arable, Offer: Mixed Farming
        </dd>
      </div>
    </dl>
    <hr
      class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
    />

    <p class="govuk-body">
      <a href="guidancepage.html" class="govuk-link"
        >BN4: Earth bank restoration</a
      >
    </p>
    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          This is a capital item that you can add to a Countryside Stewardship
          (CS) agreement if you meet the eligibility criteria.
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Remove from shortlist<span class="govuk-visually-hidden">
              add BN4: Earth bank restoration</span
            >
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          Funding type: Countryside Stewardship (CS)
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">Land use: Arable land</dd>
      </div>
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          Items, options and supplements: Capital item
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          Tiers, offers or standalone items: Higher Tier, Mid Tier, Offer:
          Arable, Standalone capital items
        </dd>
      </div>
    </dl>
    <hr
      class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
    />

    <p class="govuk-body">
      <a href="guidancepage.html" class="govuk-link">OP4: Multi species ley</a>
    </p>
    <dl class="govuk-summary-list govuk-summary-list--no-border">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          This is an option that you can add to a Countryside Stewardship (CS)
          agreement if you meet the eligibility criteria.
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Remove from shortlist<span class="govuk-visually-hidden">
              Remove WD12: Creation of upland wood pasture from shortlist</span
            >
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          Funding type: Countryside Stewardship (CS)
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          Land use: Arable land, Biodiversity, Organic land, Uplands
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          Items, options and supplements: Option
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          Tiers, offers or standalone items: Higher Tier, Mid Tier
        </dd>
      </div>
    </dl>
    <hr
      class="govuk-section-break govuk-section-break--m govuk-section-break--visible"
    />
  </div>
</div>



{% endblock %}
