{% extends "layout.html" %}

{% set tocPage = true %}

{% set productname = EA_Name %}

{% block pageTitle %}
  Find an adviser
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: " ",
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ productname }}</h1>

      <div class="gir_meta">
        <p class="govuk-body govuk-!-margin-bottom-8">{{EA_Summary}}</p>
        <p class="govuk-heading-m">{{EA_AdviserName}}</p>
        <p class="govuk-body-s"><b>Contact details: </b><a href="mailto:{{EA_LegalInstrument}}">{{EA_LegalInstrument}}</a></p>
        <p class="govuk-body-s"><b>Location: </b>{{EA_Country}}</p>
        <p class="govuk-body-s"><b>Experience: </b>{{EA_Status}}</p>
        <p class="govuk-body-s"><b>Payment: </b>{{EA_Payment}}</p>
        <p class="govuk-body-s"><b>Is the adviser insured?: </b>{{EA_ApplicationDate}}</p>
        <p class="govuk-body-s"><b>Qualifications: </b>{{EA_DatePublication}}</p>
        <p class="govuk-body-s"><b>Sectors: </b>{{EA_Type}}</p>
        <p class="govuk-body-s"><b>Skills: </b>{{skills}}</p>
        <p class="govuk-body-s"><a href="{{EA_OtherInformation}}">Link to further information</a></p>

    </div>
  </div>

{% endblock %}
