body {
    font-family: Arial, sans-serif;
}

.accordion {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.accordion-header {
    background-color: #f1f1f1;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.accordion-content {
    display: none;
    padding-left: 20px;
}

.checkbox-group label {
    display: block;
}