{% extends "layouts/main.html" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div style="border:5px solid SteelBlue; background: GhostWhite" class="govuk-!-padding-6 govuk-!-margin-bottom-8">
    	<h1 class="govuk-heading-l">Start Page</h1>
        <p class="govuk-heading-s">Tuesday 18th July - Wednesday 19th July</p>
    	

      <!-- CONTENT -->
    
      <ul class="govuk-list govuk-!-margin-bottom-5">
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="startwiz.html">Prototype A</a> 
        </li>
     </ul> 

     <ul class="govuk-list govuk-!-margin-bottom-5">
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="filternew.html">Prototype B</a>
        </li>
    </ul> 

    <ul class="govuk-list govuk-!-margin-bottom-5">
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="https://draft-origin.publishing.service.gov.uk/guidance/funding-for-farmers-growers-and-land-managers?token=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiI2OTc0Y2Y4ZS04YWYwLTQyY2MtOTNjNy00ZTkzNzRlNTVlMGUiLCJjb250ZW50X2lkIjoiNjcwMjg2OTEtMjBmYi00OGQ1LTk3NjktMDQ1M2VmZWQyZjI3IiwiaWF0IjoxNjg5NjA5OTUwLCJleHAiOjE2OTIyODgzNTB9.KaL_atc25lQdrg1L12oan6k6KvjBy6wOPNqce5Lmwjs&utm_campaign=govuk_publishing&utm_medium=preview&utm_source=share">Prototype C</a> 
        </li>
    </ul>
</div>
</div>

</div>
</div>
</div>
</div>


{% endblock %}