<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-heading-l">
      {{ results | length }} <span class="govuk-body-s">results</span>
    </p>
  </div>
  <div class="govuk-grid-column-one-third" style="display: flex;flex-flow: column nowrap;">
      <p class="govuk-body-s" style="align-self: flex-end;margin-top:auto;">
        <a href="#">Subscribe to feed</a>
      </p>
  </div>
</div>

<!--
<div class="gir-filter-panel">
  {% if data.skills | length != 0 %}<span class="govuk-body gir-filter"><span class="govuk-!-font-weight-bold">Skills</span> <span class="gir-filtername">{{ data.skills | join(", ") }}</span></span>{% endif %}
  {% if data.sectors | length != 0 %}<span class="govuk-body gir-filter"><span class="govuk-!-font-weight-bold">Sectors</span> <span class="gir-filtername">{{ data.sectors }}</span></span>{% endif %}
  {% if data.counties | length != 0 %}<span class="govuk-body gir-filter"><span class="govuk-!-font-weight-bold">Counties</span> <span class="gir-filtername">{{ data.counties }}</span></span>{% endif %}
  {% if data.qualifications | length != 0 %}<span class="govuk-body gir-filter"><span class="govuk-!-font-weight-bold">Qualifications</span> <span class="gir-filtername">{{ data.qualifications | join(', ' ) }}</span></span>{% endif %}
  {% if data.experiences | length != 0 %}<span class="govuk-body gir-filter"><span class="govuk-!-font-weight-bold">Experience</span> <span class="gir-filtername">{{ data.experiences | join(', ' ) }}</span></span>{% endif %}
</div>
-->
