{% extends "layouts/main.html" %} {% block pageTitle %} Farming grant options finder – {{ serviceName }} – GOV.UK
Prototype Kit {% endblock %} {% block
beforeContent %}
{% endblock %}

{% block content %}

<style>
  .custom-separator {
    border: 0;
    border-top: 1px solid #000;
    width: 155%;
    margin: 0;
    padding-right: 0;
    padding-top: 15px;
  }

  .link-style {
    font-weight: bold;
    text-decoration: underline;
  }

  .date-style {
    margin-top: 5px;
  }

  .bottom-date {
    margin-top: -20px;
  }

  .blue-box {
    background-color: #1d70b8;
    color: white;
    padding: 8px 12px;
    line-height: 1.3;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 18px !important;
    /* Force smaller text */
  }

  .blue-box ul.govuk-list {
    margin: 0;
    padding: 0;
    font-size: 18px !important;
    /* Ensure list inherits the smaller size */
  }

  .blue-box ul.govuk-list li {
    margin-bottom: 4px;
    color: white;
    font-size: 18px !important;
  }

  .section-label {
    font-weight: normal;
    color: white;
    font-size: 18px !important;
  }

  .section-link {
    text-decoration: underline;
    color: white !important;
    font-weight: bold;
    font-size: 18px !important;
  }


  .content-link-list a {
    font-weight: bold;
    font-size: 16px;
  }

  .subcategory {
    font-weight: normal;
  }

  .subcategory a {
    font-weight: normal;
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Private Beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new tool – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/Beta/SP-MVP/home.html">Farming grant options finder</a>
      </li>
    </ol>
  </div>
</div>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">CGS20: Manage wet grassland for breeding wader</h1>
        <p class="govuk-body-l">Find out about eligibility and requirements for this option.</p>

        <div class="govuk-grid-column-full">
               
          <hr class="custom-separator">
          <!-- This is the grid separation line with styling -->
             
        </div>





        <p class="govuk-body-s">From <a
            href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs"
            class="link-style">Department for Environment, Food & Rural Affairs</a> and <a
            href="https://www.gov.uk/government/organisations/rural-payments-agency" class="link-style">Rural Payments
            Agency</a></p>
        <p class="govuk-body-s date-style">Published 21 May 2024</p>
        <p class="govuk-body-s date-style bottom-date">Last updated 29 April 2025</p>
        <div class="govuk-!-padding-5 blue-box">
          <ul class="govuk-list">
            <li><span class="section-label">Land type:</span> <a href="/Beta/SP-MVP/home?filter=grassland"
                class="section-link">Grassland</a>, <a href="/Beta/SP-MVP/home?filter=wetland"
                class="section-link">Wetland</a>
            </li>
            <li><span class="section-label">Area of interest:</span> <a href="/Beta/SP-MVP/home?filter=species"
                class="section-link">Species recovery and management</a>,
              <a href="/Beta/SP-MVP/home?filter=vegetation" class="section-link">Vegetation control</a>, <a
                href="/Beta/SP-MVP/home?filter=water-av" class="section-link">Water availability and storage</a>
            </li>
            <li><span class="section-label">Grant type:</span> <a href="/Beta/SP-MVP/home?filter=csht"
                class="section-link">CSHT</a></li>
          </ul>
        </div>





        <hr class="govuk-section-break govuk-section-break--m">



        <ul id="content-title" class="govuk-list content-link-list" style="color: #1d70b8;">
          <li style="color: #0b0c0c;">Contents</li>
          <li><a class="govuk-link govuk-link--no-underline" href="#cost">How much you'll be paid</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#aim">Action's aim</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#where">Where you can do this action</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#environment">Eligible land</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#available">Available area you can enter into this
              action</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#rotational">Rotational or static action</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#what">What to do</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#when">When to do it</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#evidence">Evidence to keep</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#consents">Consents, permissions and licensing
              requirements</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#capital">Capital grants to support this action</a>
          </li>
        </ul>
        <h2 class="govuk-heading-m">Duration</h2>
        <p class="govuk-body">3 years</p>
        <h2 id="cost" class="govuk-heading-m">How much will be paid</h2>
        <p class=" govuk-body">£676 per ha</p>
        <h2 id="aim" class="govuk-heading-m">Action's aim</h2>
        <p class="govuk-body">This action’s aim is that there’s wet grassland with:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>in-field wet areas, including standing water and bare and muddy areas, during the wader breeding season
            and the autumn and winter months</li>
          <li>suitable sward heights and structure for the priority breeding wader bird species on your land (or likely
            to use your land) to nest during their breeding season</li>
          <li>appropriate rush cover for the priority breeding wader species on your land (or likely to use your land)
          </li>
          <li>any historic or archaeological features protected from damage</li>
          <li>a good cover and range of flowering grasses and wildflowers from late spring and during the summer months
            if your land is priority habitat species-rich grassland</li>
        </ul>
        <p class="govuk-body">The purpose of this is to: 
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>provide suitable wet grassland nesting and feeding habitat for priority breeding wader species including
            lapwing, redshank, curlew and snipe so they can, in most years, successfully fledge their young</li>
          <li>support other species such as wintering wildfowl</li>
          <li>support other features such as historic or archaeological features, sites, ditches of high environmental
            value and areas of species-rich wet grassland
          </li>
          <p class="govuk-body">You can use this action to manage existing grassland or grassland that’s being restored
            or created for breeding waders. 
          </p>
        </ul>
        <h2 id="where" class="govuk-heading-m">Where you can do this action</h2>
        <p class="govuk-body">You can do this action on land located below the moorland line that’s one of the
          following: </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            Priority habitat <a href="https://magic.defra.gov.uk/home.htm" class="govuk-link">coastal or floodplain
              grazing marsh</a>
            which supports priority breeding waders including lapwing, redshank, curlew, snipe – it does not need to be
            mapped on the Priority Habitat Inventory (PHI) layer on MAGIC
          </li>
          <li>other wet grassland which already supports priority breeding waders</li>
          <li>has high potential for the restoration of wet grassland for priority breeding waders</li>
        </ul>
        <p class="govuk-body">You can also do this action on arable or temporary grassland located below the moorland
          line which has high potential for creation of wet grassland for breeding waders.</p>
        <p class="govuk-body">If you’re restoring or creating grassland, you must provide your Natural England adviser
          with:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a map showing where restoration (from permanent grassland to grassland habitat) or creation (from arable
            or temporary grassland to grassland habitat) will take place</li>
          <li>soil analysis results including the soil available phosphorus (Olsen P method) and the soil potassium
            status – this is only required if you’re intending to introduce wildflowers. Soil analysis must have been
            carried out within the last year, or within the last 5 years if there have been no fertiliser applications
            or increase in stocking levels since the last soil analysis.</li>
        </ul>
        <p class="govuk-body">You can use this action on sites that are not suitable for the equivalent SFI action GRH2.
          The standard management activities for GRH2 may not be suitable because:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the grassland supports a mix of wader species which need more specific management</li>
          <li>the site supports additional habitats, features or species which need specific management (for example,
            where there are areas of species rich vegetation)</li>
          <li>the site needs to use additional actions, supplemental actions or capital items which are only available
            in Countryside Stewardship Higher Tier</li>
        </ul>
        <h2 id="environment" class="govuk-heading-m">Eligible land</h2>
        <p class="govuk-body">You can do this action on land that’s: </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>an eligible land type</li>
          <li>registered with an eligible land cover on your digital maps
          </li>
          <li>declared with a
            <a href="https://www.gov.uk/government/publications/land-use-codes-rural-payments" class="govuk-link">land
              use code</a>
            which is compatible with the eligible land cover
          </li>
        </ul>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Eligible land type</th>
              <th scope="col" class="govuk-table__header">Eligible land cover</th>
              <th scope="col" class="govuk-table__header">Compatible land use code</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Arable land used to grow crops</td>
              <td class="govuk-table__cell">Arable land</td>
              <td class="govuk-table__cell">
                Land use codes for
                <a href="https://www.gov.uk/government/publications/land-use-codes-rural-payments/land-use-codes#al2"
                  class="govuk-link">arable crops</a> or
                <a href="https://www.gov.uk/government/publications/land-use-codes-rural-payments/land-use-codes#al3"
                  class="govuk-link">leguminous and nitrogen-fixing
                  crops</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Arable land lying fallow</td>
              <td class="govuk-table__cell">Arable land</td>
              <td class="govuk-table__cell">
                FA01
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Temporary grassland</td>
              <td class="govuk-table__cell">Arable land</td>
              <td class="govuk-table__cell">TG01</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Permanent grassland</td>
              <td class="govuk-table__cell">Permanent grassland</td>
              <td class="govuk-table__cell">PG01</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Watercourse - river or stream (Rivers and Streams Type 2)</td>
              <td class="govuk-table__cell">Inland water</td>
              <td class="govuk-table__cell">IW02</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Fen, marsh and swamp</td>
              <td class="govuk-table__cell">Inland wetland</td>
              <td class="govuk-table__cell">IW06</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Bog</td>
              <td class="govuk-table__cell"> Inland wetland</td>
              <td class="govuk-table__cell">IW07</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Reed bed</td>
              <td class="govuk-table__cell">Marine wetland</td>
              <td class="govuk-table__cell">MW03</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Non-agricultural area or feature which is temporary and likely to change
                over time (ineligible area)</td>
              <td class="govuk-table__cell">Non-agricultural area</td>
              <td class="govuk-table__cell">NA02</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Scattered rock</td>
              <td class="govuk-table__cell">Notional features</td>
              <td class="govuk-table__cell">NF01</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Scattered bracken or heather</td>
              <td class="govuk-table__cell">Notional features</td>
              <td class="govuk-table__cell">NF02</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Scattered scrub</td>
              <td class="govuk-table__cell">Notional features</td>
              <td class="govuk-table__cell">NF03</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Scattered water features</td>
              <td class="govuk-table__cell">Notional features</td>
              <td class="govuk-table__cell">NF05</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Scattered natural features</td>
              <td class="govuk-table__cell">Notional features</td>
              <td class="govuk-table__cell">NF06</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Track - natural surface</td>
              <td class="govuk-table__cell">Natural transport - tracks and gallops</td>
              <td class="govuk-table__cell">NT03</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Scree</td>
              <td class="govuk-table__cell">Rock</td>
              <td class="govuk-table__cell">RO02</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Boulders</td>
              <td class="govuk-table__cell">Rock</td>
              <td class="govuk-table__cell">RO03</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Rocky outcrop</td>
              <td class="govuk-table__cell">Rock</td>
              <td class="govuk-table__cell">RO04</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Watercourse - ditch, drain or dyke</td>
              <td class="govuk-table__cell">Water or irrigation features</td>
              <td class="govuk-table__cell">WF01</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Pond</td>
              <td class="govuk-table__cell">Water or irrigation features</td>
              <td class="govuk-table__cell">WF03</td>
            </tr>
          </tbody>
        </table>
        <h2 id="available" class="govuk-heading-m">Available area you can enter into this action</h2>
        <p class="govuk-body">
          Total or part of the available area in the land parcel.
        </p>
        <h2 id="rotational" class="govuk-heading-m">Rotational or static action</h2>
        <p class="govuk-body">This action is static. This means you must do it on the same location each year of the
          action’s duration.</p>
        <h2 id="what" class="govuk-heading-m">What to do</h2>
        <p class="govuk-body">Your Natural England adviser will assess your land. They’ll work with you to adapt and
          agree the activities you must do to achieve this action’s aim. All mandatory activities will be set out in
          your agreement document.</p>
        <p class="govuk-body">To get paid for this action, you must:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>maintain or restore the appropriate hydrology and provide wet conditions for priority wading birds during
            their breeding season</li>
          <li>make sure there are areas of standing water and wet features during autumn and winter</li>
          <li>provide the correct vegetation height and structure for target wading birds during the breeding season
            (typically late March to June for lapwing and redshank and April to July for curlew and late July for snipe)
            – you can do this usually by grazing but sometimes by cutting or topping</li>
          <li>carry out appropriate management to protect historic and archaeological features
          </li>
          <li>keep boundary hedges short – you’ll agree the exact height with your adviser and stated in your agreement
            document</li>
        </ul>
        <p class="govuk-body">The advice you’re given from Natural England is specific to your land which means (where
          relevant) you may also need to:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>maintain wet features, including scrapes and gutters, to provide muddy areas for waders and wildfowl to
            feed – you can apply for CSP11: Manage scrapes and gutters supplement to pay for this</li>
          <li>keep scrapes and gutters wet using water control structures</li>
          <li>keep vegetation around scrapes and gutters short with some taller tussocks</li>
          <li>remove livestock at certain times of the year</li>
          <li>reduce the risk of nests being trampled by grazing with a low stocking density and carefully managing
            livestock during the wader breeding season</li>
          <li>follow a stocking calendar which includes stock type and minimum and maximum stocking rates each month
          </li>
          <li>restrict topping to areas and time periods set out in your agreement</li>
          <li>control scrub, rushes and other tall or competitive plant species to achieve the right vegetation
            conditions for target birds</li>
          <li>maintain or restore a mix of high value indicator plants if the grassland is a species-rich priority
            habitat – some indicator species must be frequent or occasional across the site (as set out in your
            agreement)</li>
          <li>establish additional plant species if agreed with your Natural England adviser</li>
          <li>follow an agreed wildfowling strategy and record bag returns</li>
        </ul>
        <p class="govuk-body">
          You must not:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>apply fertilisers or farmyard manure (unless agreed with your Natural England adviser)</li>
          <li>apply any other manures, digestate or any other industrial by-product including paper waste</li>
          <li>apply pesticides - you may be able to use herbicides to spot-treat or weed-wipe for the control of
            injurious weeds, invasive non-native plant species, nettles or other plants if this has been agreed with
            your Natural England adviser</li>
          <li>supplementary feed except for the use of mineral blocks or other forms of feed agreed by your Natural
            England adviser</li>
          <li>carry out mechanical operations or other activities that may cause significant disturbance to birds during
            the breeding season or the autumn and winter (this does not include ditch maintenance)
          </li>
          <li>work on ditches between April and August – this may also apply to surface water features</li>
          <li>harrow, roll, supplementary feed or allow bare soil on historic or archaeological features</li>
          <li>allow additional scrub to encroach on archaeological or historic features</li>
          <li>plough, cultivate or reseed, unless this is part of an agreed sward creation or enhancement plan</li>
          <li>carry out drainage works without written permission from your Natural England adviser</li>
          <li>carry out land management activities in a way that causes poaching or overgrazing</li>
        </ul>
        <h2 id="when" class="govuk-heading-m">When to do it</h2>
        <p class="govuk-body">
          You must do this action each year of its duration.
        </p>
        <h2 id="evidence" class="govuk-heading-m">Evidence to keep</h2>
        <p class="govuk-body">You must keep evidence to show what you have done to complete this action. If it’s not
          clear that you have done this action in a way that could reasonably be expected to achieve its aim, the Rural
          Payments Agency (RPA) may ask for this evidence.</p>
        <p class="govuk-body">You must supply the evidence if they ask for it, including:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>records of field operations at parcel level</li>
          <li>photographs</li>
        </ul>
        <h2 id="other" class="govuk-heading-m">Other actions or options you can do on the same area as this action </h2>
        <p class="govuk-body">You can do the following actions or options on the same area in a land parcel as this
          action.</p>
        <p class="govuk-body">Some actions or options can only be done on the same area if they’re done at a different
          time of year to this action.</p>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Scheme</th>
              <th scope="col" class="govuk-table__header">Action or option code</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">SFI 2024 actions</td>
              <td class="govuk-table__cell">CSAM1, OFC1, OFC2, OFM1, OFM2, CIPM1, CNUM1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">SFI 2023 actions</td>
              <td class="govuk-table__cell">SAM1, IPM1, NUM1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">CSHT actions</td>
              <td class="govuk-table__cell">CSP13, CSP14, CSP15, CWS1, CWS3, CSP21, CSP20</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">CS options</td>
              <td class="govuk-table__cell">OR1, OR2, OT1, OT2</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">ES options</td>
              <td class="govuk-table__cell">N/A</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">SFI pilot standards</td>
              <td class="govuk-table__cell"></td>
            </tr>

          </tbody>
        </table>
        <p class="govuk-body">You can do the following actions or options on the eligible boundaries of a land parcel
          entered into this action:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>CSHT actions: CWT3</li>
          <li>SFI 2024 actions: CHRW1, CHRW2, CHRW3, BND1, BND2, WBD10</li>
          <li>SFI 2023 actions: HRW1, HRW2, HRW3</li>
          <li>CS option BE3: Management of hedgerows</li>
          <li>the introductory level of the SFI pilot hedgerows standard</li>
        </ul>
        <h2 id="consents" class="govuk-heading-m">Consents, permissions and licensing requirements</h2>
        <p class="govuk-body">
          To apply for this action, you’ll need:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Scheduled Monument Consent from Historic England for any work on scheduled monuments</li>
          <li>consent from Natural England for any activity on land designated as a site of special scientific interest
            (SSSI)
          </li>
        </ul>
        <p class="govuk-body">
          You may need to:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>agree an implementation plan or feasibility study with your Natural England adviser
          </li>
          <li>
            obtain any necessary consents from the
            <a href="https://www.gov.uk/government/organisations/environment-agency#org-contacts"
              class="govuk-link">Environment
              Agency</a>,
            lead local flood authority (LLFA) or
            <a href="https://www.ada.org.uk/member_type/idbs/" class="govuk-link">Internal Drainage Board</a>(IDB)
            before starting
            any work
          </li>
          <li>get a wildlife licence from Natural England if your activities affect a protected species or their habitat
          </li>
          <li>get advice from your Forestry Commission woodland officer or Natural England adviser if you have other
            archaeological or historic features on your agreement land</li>
        </ul>
        <p class="govuk-body">
          All archaeological and historic features (including scheduled monuments) are identified in your Historic
          Environment Farm Environment Record (HEFER).
        </p>
        <p class="govuk-body">
          If you’re a tenant, it’s your responsibility to check whether your tenancy agreement allows you to complete
          what’s required in the actions you choose. You may need your landlord’s consent.
        </p>
        <h2 id="capital" class="govuk-heading-m">Capital grants to support this action</h2>
        <p class="govuk-body">
          If you need to complete an implementation plan or a feasibility study before you apply, you can apply for
          <a href="https://www.gov.uk/government/collections/capital-items-guidance-for-applicants-and-agreement-holders#capital-grants-plans"
            class="govuk-link">capital grants plans
            funding</a>.
        </p>
        <p class="govuk-body">You can also <a
            href="https://www.gov.uk/government/collections/capital-items-guidance-for-applicants-and-agreement-holders"
            class="govlink">
            apply for capital items</a> to help you achieve the action’s aims. Your Natural England adviser will discuss
          eligible
          capital items with you.</p>


        <hr class="custom-separator-2">

        <p class="date-style govuk-body-s top-bottom-date">Published 21 May 2024</p>
        <p class="date-style govuk-body-s bottom-date">Last updated 27 March 2025</p>


        <a href="#content-title" class="govuk-link govuk-link">
          <svg class="gem-c-back-to-top-link__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
            viewBox="0 0 13 17" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
          </svg>
          Contents
        </a>






      </div>
  </main>
</div>


{% endblock %}