{% extends "layouts/main.html" %} {% block pageTitle %} Farming grant options finder – {{ serviceName }} – GOV.UK
Prototype Kit {% endblock %} {% block
beforeContent %}
{% endblock %}

{% block content %}

<style>
  .custom-separator {
    border: 0;
    border-top: 1px solid #000;
    width: 155%;
    margin: 0;
    padding-right: 0;
    padding-top: 15px;
  }

  .link-style {
    font-weight: bold;
    text-decoration: underline;
  }

  .date-style {
    margin-top: 5px;
  }

  .bottom-date {
    margin-top: -20px;
  }

  .blue-box {
    background-color: #1d70b8;
    color: white;
    padding: 8px 12px;
    line-height: 1.3;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 18px !important;
    /* Force smaller text */
  }

  .blue-box ul.govuk-list {
    margin: 0;
    padding: 0;
    font-size: 18px !important;
    /* Ensure list inherits the smaller size */
  }

  .blue-box ul.govuk-list li {
    margin-bottom: 4px;
    color: white;
    font-size: 18px !important;
  }

  .section-label {
    font-weight: normal;
    color: white;
    font-size: 18px !important;
  }

  .section-link {
    text-decoration: underline;
    color: white !important;
    font-weight: bold;
    font-size: 18px !important;
  }


  .content-link-list a {
    font-weight: bold;
    font-size: 16px;
  }

  .subcategory {
    font-weight: normal;
  }

  .subcategory a {
    font-weight: normal;
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Private Beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new tool – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/Beta/SP-MVP/home.html">Farming grant options finder</a>
      </li>
    </ol>
  </div>
</div>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">CGS4: Herbal leys</h1>
        <p class="govuk-body-l">Find out about eligibility and requirements for this option.</p>
        <div class="govuk-grid-column-full">
               
          <hr class="custom-separator">
          <!-- This is the grid separation line with styling -->
             
        </div>





        <p class="govuk-body-s">From <a
            href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs"
            class="link-style">Department for Environment, Food & Rural Affairs</a> and <a
            href="https://www.gov.uk/government/organisations/rural-payments-agency" class="link-style">Rural Payments
            Agency</a></p>
        <p class="govuk-body-s date-style">Published 21 May 2024</p>
        <p class="govuk-body-s date-style bottom-date">Last updated 29 April 2025</p>
        <div class="govuk-!-padding-5 blue-box">
          <ul class="govuk-list">
            <li><span class="section-label">Land type:</span> <a href="/Beta/SP-MVP/home?filter=arable"
                class="section-link">Arable</a>, <a href="/Beta/SP-MVP/home?filter=grassland"
                class="section-link">Grassland</a>
            </li>
            <li><span class="section-label">Area of interest:</span> <a href="/Beta/SP-MVP/home?filter=biodiversity"
                class="section-link">Biodiversity</a>,
              <a href="/Beta/SP-MVP/home?filter=soil" class="section-link">Soil health</a>
            </li>
            <li><span class="section-label">Grant type:</span> <a href="/Beta/SP-MVP/home?filter=csht"
                class="section-link">CSHT</a></li>
          </ul>
        </div>





        <hr class="govuk-section-break govuk-section-break--m">



        <ul id="content-title" class="govuk-list content-link-list" style="color: #1d70b8;">
          <li style="color: #0b0c0c;">Contents</li>
          <li><a class="govuk-link govuk-link--no-underline" href="#cost">How much you'll be paid</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#aim">Action's aim</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#where">Where you can do this action</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#environment">Eligible land</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#available">Available area you can enter into this
              action</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#rotational">Rotational or static action</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#what">What to do</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#when">When to do it</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#evidence">Evidence to keep</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#other">Other actions or options you can do on the
              same area as this action </a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#consents">Consents, permissions and licensing
              requirements</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#capital">Capital grants to support this action</a>
          </li>
        </ul>

        <h2 class="govuk-heading-m">Duration</h2>
        <p class="govuk-body">3 years</p>
        <h2 id="cost" class="govuk-heading-m">How much you'll be paid</h2>
        <p class=" govuk-body">£382 per ha</p>
        <h2 id="aim" class="govuk-heading-m">Action's aim</h2>
        <p class="govuk-body">This action’s aim is that there’s an established herbal ley with:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a mixture of grasses, legumes and herbs or wildflowers to provide varied root structures</li>
          <li>areas of flowering plants from late spring and during summer months</li>
        </ul>
        <p class="govuk-body">The purpose of this is to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>produce a high volume of forage with minimal use of inorganic fertiliser</li>
          <li>improve resilience to drought</li>
          <li>help improve and maintain the soil’s structure, carbon, biology and fertility</li>
        </ul>
        <h2 id="where" class="govuk-heading-m">Where you can do this action</h2>
        <p class="govuk-body">You can do this action on agricultural land that’s located below the moorland line.</p>
        <p class="govuk-body">You cannot do this action on:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a site of special scientific interest (SSSI)</li>
          <li>land that contains historic or archaeological features identified in your Historic Environment Farm
            Environment Record (HEFER) assessment</li>
          <li>peat land</li>
          <li>a
            <a href="https://magic.defra.gov.uk/home.htm" class="govuk-link">priority habitat</a>, including
            <a href="https://magic.defra.gov.uk/home.htm" class="govuk-link">good quality
              semi-improved grassland</a>
            and land mapped as ‘no main habitat, but additional habitat exists’ – these are mapped on the Priority
            Habitat Inventory on MAGIC
          </li>
        </ul>
        <p class="govuk-body">Coastal and floodplain grazing marsh that is managed as improved grassland may be eligible
          for this action, if agreed with your Natural England adviser.</p>
        <h2 id="environment" class="govuk-heading-m">Eligible land</h2>
        <p class="govuk-body">You can do this action on land that’s: </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>an eligible land type</li>
          <li>registered with an eligible land cover on your digital maps
          </li>
          <li>declared with a
            <a href="https://www.gov.uk/government/publications/land-use-codes-rural-payments" class="govuk-link">land
              use code</a>
            which is compatible with the eligible land cover
          </li>
        </ul>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Eligible land type</th>
              <th scope="col" class="govuk-table__header">Eligible land cover</th>
              <th scope="col" class="govuk-table__header">Compatible land use code</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Arable land used to grow crops</td>
              <td class="govuk-table__cell">Arable land</td>
              <td class="govuk-table__cell">
                Land use codes for <a
                  href="https://www.gov.uk/government/publications/land-use-codes-rural-payments/land-use-codes#al2"
                  class="govuk-link">arable crops</a> or
                <a href="https://www.gov.uk/government/publications/land-use-codes-rural-payments/land-use-codes#al3"
                  class="govuk-link">leguminous and nitrogen-fixing
                  crops</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Temporary grassland</td>
              <td class="govuk-table__cell">Arable land</td>
              <td class="govuk-table__cell">TG01</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Arable land lying fallow</td>
              <td class="govuk-table__cell">Arable land</td>
              <td class="govuk-table__cell">FA01</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Improved permanent grassland</td>
              <td class="govuk-table__cell">Permanent grassland</td>
              <td class="govuk-table__cell">PG01</td>
            </tr>
          </tbody>
        </table>
        <h2 id="available" class="govuk-heading-m">Available area you can enter into this action</h2>
        <p class="govuk-body">
          Total or part of the available area in the land parcel.
        </p>
        <h2 id="rotational" class="govuk-heading-m">Rotational or static action</h2>
        <p class="govuk-body">This action is rotational or static. This means you can either:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>move the action’s location as agreed with your Natural England adviser</li>
          <li>keep it at the same location</li>
        </ul>
        <h2 id="what" class="govuk-heading-m">What to do</h2>
        <p class="govuk-body">Your Natural England adviser will assess your land. They’ll work with you to adapt and
          agree the activities you must do to achieve this action’s aim. All mandatory activities will be set out in
          your agreement document.</p>
        <p class="govuk-body">To get paid for this action, you must:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>establish a seed mix in the first 12 months of agreement that includes at least 5 species of grass, 4
            species of legumes and 4 species of herb or wildflowers – you should agree a seed mix and minimum cover of
            each species with your Natural England adviser (you can maintain an existing herbal ley if it meets these
            requirements)</li>
          <li>maintain the required area of mixed sward for the remainder of the agreement</li>
          <li>re-establish the sward (if necessary) on the same or a different field</li>
          <li>manage the sward throughout the year by cutting or grazing</li>
          <li>shut the field up for an agreed period before cutting or grazing – typically for 5 weeks between May and
            the end of July</li>
          <li>keep a monthly record of stock numbers grazing on land parcels and provide this record if requested</li>
        </ul>
        <p class="govuk-body">You must not:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>apply any inorganic fertilisers containing nitrogen</li>
          <li>apply pesticides – you may be able to use herbicides to spot-treat or weed-wipe for the control of
            injurious
            weeds, invasive non-native plant species, nettles or other plants if this has been agreed with your Natural
            England adviser</li>
        </ul>
        <h2 id="when" class="govuk-heading-m">When to do it</h2>
        <p class="govuk-body">
          You must do this action each year of its duration.
        </p>
        <h2 id="evidence" class="govuk-heading-m">Evidence to keep</h2>
        <p class="govuk-body">You must keep evidence to show what you have done to complete this action. If it’s not
          clear that you have done this action in a way that could reasonably be expected to achieve its aim, the Rural
          Payments Agency (RPA) may ask for this evidence. You must supply the evidence if they ask for it.</p>
        <h2 id="other" class="govuk-heading-m">Other actions or options you can do on the same area as this action </h2>
        <p class="govuk-body">You can do the following actions or options on the same area in a land parcel as this
          action.</p>
        <p class="govuk-body">Some actions or options can only be done on the same area if they’re done at a different
          time of year to this action.</p>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Scheme</th>
              <th scope="col" class="govuk-table__header">Action or option code</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">SFI 2024 actions</td>
              <td class="govuk-table__cell">CSAM1, OFC1, OFC3, OFM1, OFM4, AGF1, AGF2, PRF1, PRF3, CIPM1, CNUM1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">SFI 2023 actions</td>
              <td class="govuk-table__cell">SAM1, IPM1, NUM1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">CSHT actions</td>
              <td class="govuk-table__cell">CSP13, CSP14, CSP15, CWS1, CWS3, CSP21, CSP20, CPAC1, CAGF1, CAGF3, CAGF2,
                CAGF4</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">CS options</td>
              <td class="govuk-table__cell">OR1, OR3, OT1, OT3</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">ES options</td>
              <td class="govuk-table__cell">N/A</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">SFI pilot standards</td>
              <td class="govuk-table__cell">N/A</td>
            </tr>

          </tbody>
        </table>
        <p class="govuk-body">You can do the following actions or options on the eligible boundaries of a land parcel
          entered into this action:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>CSHT actions: CWT3</li>
          <li>SFI 2024 actions: CHRW1, CHRW2, CHRW3, BND1, BND2, WBD10</li>
          <li>SFI 2023 actions: HRW1, HRW2, HRW3</li>
          <li>CS option BE3: Management of hedgerows</li>
          <li>the introductory level of the SFI pilot hedgerows standard</li>
        </ul>
        <h2 id="consents" class="govuk-heading-m">Consents, permissions and licensing requirements</h2>
        <p class="govuk-body">
          To apply for this action, you’ll need Scheduled Monument Consent from Historic England for any work on
          scheduled monuments.
        </p>
        <p class="govuk-body">
          You may need to:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>agree an implementation plan or feasibility study with your Natural England adviser</li>
          <li>get advice from your Forestry Commission woodland officer or Natural England adviser if you have other
            historic or archaeological features on your agreement land</li>
          <li>get a wildlife licence from Natural England if your activities affect a protected species or their
            habitat</li>
          <li>apply for an Environmental Impact Assessment screening or consent decision if you intend to reseed
            existing permanent grassland</li>
        </ul>
        <p class="govuk-body">
          All historic and archaeological features (including scheduled monuments) are identified in your Historic
          Environment Farm Environment Record (HEFER).
        </p>
        <p class="govuk-body">
          If you’re a tenant, it’s your responsibility to check whether your tenancy agreement allows you to complete
          what’s required in the actions you choose. You may need your landlord’s consent.
        </p>
        <h2 id="capital" class="govuk-heading-m">Capital grants to support this action</h2>
        <p class="govuk-body">
          If you need to complete an implementation plan or a feasibility study before you apply, you can apply for
          <a href="https://www.gov.uk/government/collections/capital-items-guidance-for-applicants-and-agreement-holders#capital-grants-plans"
            class="govuk-link">capital grants plans
            funding</a>.
        </p>
        <p class="govuk-body">
          You can also <a
            href="https://www.gov.uk/government/collections/capital-items-guidance-for-applicants-and-agreement-holders"
            class="govuk-link">apply for capital
            items</a> to help you achieve the action’s aims. Your Natural England adviser will discuss eligible capital
          items with you.
        </p>

        <hr class="custom-separator-2">

        <p class="date-style govuk-body-s top-bottom-date">Published 21 May 2024</p>
        <p class="date-style govuk-body-s bottom-date">Last updated 27 March 2025</p>


        <a href="#content-title" class="govuk-link govuk-link">
          <svg class="gem-c-back-to-top-link__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
            viewBox="0 0 13 17" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
          </svg>
          Contents
        </a>






      </div>
  </main>
</div>


{% endblock %}