{% extends "layouts/main.html" %} {% block pageTitle %} Farming grant options finder – {{ serviceName }} – GOV.UK
Prototype Kit {% endblock %} {% block
beforeContent %}
{% endblock %}

{% block content %}

<style>
  .custom-separator {
    border: 0;
    border-top: 1px solid #000;
    width: 155%;
    margin: 0;
    padding-right: 0;
    padding-top: 15px;
  }

  .link-style {
    font-weight: bold;
    text-decoration: underline;
  }

  .date-style {
    margin-top: 5px;
  }

  .bottom-date {
    margin-top: -20px;
  }

  .blue-box {
    background-color: #1d70b8;
    color: white;
    padding: 8px 12px;
    line-height: 1.3;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 18px !important;
    /* Force smaller text */
  }

  .blue-box ul.govuk-list {
    margin: 0;
    padding: 0;
    font-size: 18px !important;
    /* Ensure list inherits the smaller size */
  }

  .blue-box ul.govuk-list li {
    margin-bottom: 4px;
    color: white;
    font-size: 18px !important;
  }

  .section-label {
    font-weight: normal;
    color: white;
    font-size: 18px !important;
  }

  .section-link {
    text-decoration: underline;
    color: white !important;
    font-weight: bold;
    font-size: 18px !important;
  }


  .content-link-list a {
    font-weight: bold;
    font-size: 16px;
  }

  .subcategory {
    font-weight: normal;
  }

  .subcategory a {
    font-weight: normal;
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Private Beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new tool – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/Beta/SP-MVP/home.html">Farming grant options finder</a>
      </li>
    </ol>
  </div>
</div>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">CHRW4: Manage hedgerows</h1>
        <p class="govuk-body-l">Find out about eligibility and requirements for this option.</p>

        <div class="govuk-grid-column-full">
               
          <hr class="custom-separator">
          <!-- This is the grid separation line with styling -->
             
        </div>





        <p class="govuk-body-s">From <a
            href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs"
            class="link-style">Department for Environment, Food & Rural Affairs</a> and <a
            href="https://www.gov.uk/government/organisations/rural-payments-agency" class="link-style">Rural Payments
            Agency</a></p>
        <p class="govuk-body-s date-style">Published 21 May 2024</p>
        <p class="govuk-body-s date-style bottom-date">Last updated 29 April 2025</p>
        <div class="govuk-!-padding-5 blue-box">
          <ul class="govuk-list">
            <li><span class="section-label">Land type:</span> <a href="/Beta/SP-MVP/home?filter=arable"
                class="section-link">Arable</a>
            </li>
            <li><span class="section-label">Area of interest:</span> <a href="/Beta/SP-MVP/home?filter=boundaries"
                class="section-link"> Field boundaries</a>,
              <a href="/Beta/SP-MVP/home?filter=species" class="section-link">Species recovery and management</a>
            </li>
            <li><span class="section-label">Grant type:</span> <a href="/Beta/SP-MVP/home?filter=csht"
                class="section-link">CSHT</a></li>
          </ul>
        </div>





        <hr class="govuk-section-break govuk-section-break--m">



        <ul id="content-title" class="govuk-list content-link-list" style="color: #1d70b8;">
          <li style="color: #0b0c0c;">Contents</li>
          <li><a class="govuk-link govuk-link--no-underline" href="#cost">How much you'll be paid</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#aim">Action's aim</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#where">Where you can do this action</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#environment">Eligible land</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#available">Available area you can enter into this
              action</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#rotational">Rotational or static action</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#what">What to do</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#when">When to do it</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#evidence">Evidence to keep</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#consents">Consents, permissions and licensing
              requirements</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#capital">Capital grants to support this action</a>
          </li>
        </ul>

        <h2 class="govuk-heading-m">Duration</h2>
        <p class="govuk-body">3 years</p>
        <h2 id="cost" class="govuk-heading-m">How much you'll be paid</h2>
        <p class=" govuk-body"> £13 per 100 metres (m) per side</p>
        <h2 id="aim" class="govuk-heading-m">Action's aim</h2>
        <p class="govuk-body">This action’s aim is that there are managed hedgerows with a range of different heights
          and widths.</p>
        <p class="govuk-body">The purpose of this is to provide:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>habitat for wildlife</li>
          <li>pollen, nectar and berries for mammals, birds and insects</li>
        </ul>
        <h2 id="where" class="govuk-heading-m">Where you can do this action</h2>
        <p class="govuk-body">An eligible hedgerow for this action must be:</p>
        <p class="govuk-body">You cannot do this action on:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a boundary line of shrubs, or both shrubs and trees</li>
          <li>over 20m long</li>
          <li>less than 10m wide</li>
        </ul>
        <p class="govuk-body">The hedgerow can be:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>newly planted, laid or coppiced</li>
          <li>woody growth on top of an earth or stone-faced bank, for example, Cornish or Devon hedges</li>
        </ul>
        <p class="govuk-body">There can be gaps in the hedgerow if they’re not more than:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>20m long</li>
          <li>10% of the total length of the hedgerow when you add all the gaps in it together</li>
        </ul>
        <p class="govuk-body">If the gaps add up to more than 10%, you can do the action on the total length of the
          hedgerow if you’ll plant up the gaps during this action’s 5-year duration. You can apply for capital grants
          for BN7:Hedgerow gapping up and BN11: Planting new hedges to help you do this.</p>
        <p class="govuk-body">You can do this action on either one side or both sides of an eligible hedgerow unless
          you’re managing a fully established hedgerow in a coppicing or laying rotation. In this case, you must enter
          both sides of the hedgerow.</p>
        <p class="govuk-body">You must have management control of one or both sides, depending on what you enter into
          this action.</p>
        <p class="govuk-body">You can enter both sides of a roadside hedgerow (or a hedgerow that borders a neighbour’s
          land) if you:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>have a legal right or obligation to maintain the hedgerow</li>
          <li>can meet this action’s requirements</li>
        </ul>
        <h2 id="environment" class="govuk-heading-m">Eligible land</h2>
        <p class="govuk-body">All land use codes are eligible for this action.</p>
        <h2 id="available" class="govuk-heading-m">Available area you can enter into this action</h2>
        <p class="govuk-body">
          Not applicable as this is a linear action. You can choose what length of eligible hedgerows to enter into this
          action.
        </p>
        <h2 id="rotational" class="govuk-heading-m">Rotational or static action</h2>
        <p class="govuk-body">This action is static. This means you must keep it on the same area of land for the
          duration of your agreement.
        </p>
        <h2 id="what" class="govuk-heading-m">What to do</h2>
        <p class="govuk-body">Your Natural England adviser will assess your land. They’ll work with you to adapt and
          agree the activities you must do to achieve this action’s aim. All mandatory activities will be set out in
          your agreement document.</p>
        <p class="govuk-body">To get paid for this action, you must:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>manage hedges to allow them to reach a height and width agreed with your Natural England adviser
          </li>
        </ul>
        <p class="govuk-body">The advice you’re given from Natural England is specific to your land which means (where
          relevant) you may also need to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>locate vehicle or stock access routes at least 6m away from features (as agreed with your Natural England
            adviser)
          </li>
          <li>make sure all woody cuttings have been removed from within 2m of the centre of the hedge after trimming
          </li>
          <li>agree hedgerow cutting frequency with your Natural England adviser
          </li>
          <li>leave hedgerows to grow uncut if agreed by your Natural England adviser
          </li>
          <li>tag hedgerow trees agreed with your Natural England adviser
          </li>
          <li>manage the herb layer within 2m of the centre of the hedgerow as agreed with you Natural England adviser
          </li>
        </ul>
        <p class="govuk-body">You must not:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>remove any tree limbs including the lower limbs or mature ivy growth from hedgerow trees</li>
          <li>remove any standing deadwood</li>
          <li>supplementary feed within 2m of the centre of the hedge</li>
        </ul>
        <h2 id="when" class="govuk-heading-m">When to do it</h2>
        <p class="govuk-body">
          You must do this action each year of its duration.
        </p>
        <h2 id="evidence" class="govuk-heading-m">Evidence to keep</h2>
        <p class="govuk-body">You must keep evidence to show what you have done to complete this action. If it’s not
          clear that you have done this action in a way that could reasonably be expected to achieve its aim, the Rural
          Payments Agency (RPA) may ask for this evidence.</p>
        <p class="govuk-body">You must supply the evidence if they ask for it, including:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>field operations at a land parcel level</li>
          <li>associated invoices</li>
          <li>photographs</li>
        </ul>
        <h2 id="consents" class="govuk-heading-m">Consents, permissions and licensing requirements</h2>
        <p class="govuk-body">
          To apply for this action, you’ll need:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>consent from Natural England for any activity on land designated as a site of special scientific interest
            (SSSI)</li>
          <li>Scheduled Monument Consent from Historic England for any work on scheduled monuments</li>
        </ul>
        <p class="govuk-body">
          You may need to:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>agree an implementation plan or feasibility study with your Natural England adviser</li>
          <li>get advice from your Forestry Commission woodland officer or Natural England adviser if you have other
            historic or archaeological features on your agreement land</li>
          <li>get a wildlife licence from Natural England if your activities affect a protected species or their habitat
          </li>
        </ul>
        <p class="govuk-body">
          All historic and archaeological features (including scheduled monuments) are identified in your Historic
          Environment Farm Environment Record (HEFER).
        </p>
        <p class="govuk-body">
          If you’re a tenant, it’s your responsibility to check whether your tenancy agreement allows you to complete
          what’s required in the actions you choose. You may need your landlord’s consent.
        </p>
        <h2 id="capital" class="govuk-heading-m">Capital grants to support this action</h2>
        <p class="govuk-body">
          If you need to complete an implementation plan or a feasibility study before you apply, you can apply for
          <a href="https://www.gov.uk/government/collections/capital-items-guidance-for-applicants-and-agreement-holders#capital-grants-plans"
            class="govuk-link">capital grants plans
            funding</a>.
        </p>
        <p class="govuk-body">
          You can also <a
            href="https://www.gov.uk/government/collections/capital-items-guidance-for-applicants-and-agreement-holders"
            class="govuk-link">apply for capital
            items</a> to help you achieve the action’s aims. Your Natural England adviser will discuss eligible capital
          items with you.
        </p>


        <hr class="custom-separator-2">

        <p class="date-style govuk-body-s top-bottom-date">Published 21 May 2024</p>
        <p class="date-style govuk-body-s bottom-date">Last updated 27 March 2025</p>


        <a href="#content-title" class="govuk-link govuk-link">
          <svg class="gem-c-back-to-top-link__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
            viewBox="0 0 13 17" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
          </svg>
          Contents
        </a>






      </div>
  </main>
</div>


{% endblock %}