{% extends "layouts/main.html" %} {% block pageTitle %} Farming grant options finder – {{ serviceName }} – GOV.UK
Prototype Kit {% endblock %} {% block
beforeContent %}
{% endblock %}

{% block content %}

<style>
  .custom-separator {
    border: 0;
    border-top: 1px solid #000;
    width: 155%;
    margin: 0;
    padding-right: 0;
    padding-top: 15px;
  }

  .link-style {
    font-weight: bold;
    text-decoration: underline;
  }

  .date-style {
    margin-top: 5px;
  }

  .bottom-date {
    margin-top: -20px;
  }

  .blue-box {
    background-color: #1d70b8;
    color: white;
    padding: 8px 12px;
    line-height: 1.3;
    border-radius: 5px;
    margin: 5px 0;
    font-size: 18px !important;
    /* Force smaller text */
  }

  .blue-box ul.govuk-list {
    margin: 0;
    padding: 0;
    font-size: 18px !important;
    /* Ensure list inherits the smaller size */
  }

  .blue-box ul.govuk-list li {
    margin-bottom: 4px;
    color: white;
    font-size: 18px !important;
  }

  .section-label {
    font-weight: normal;
    color: white;
    font-size: 18px !important;
  }

  .section-link {
    text-decoration: underline;
    color: white !important;
    font-weight: bold;
    font-size: 18px !important;
  }


  .content-link-list a {
    font-weight: bold;
    font-size: 16px;
  }

  .subcategory {
    font-weight: normal;
  }

  .subcategory a {
    font-weight: normal;
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Private Beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new tool – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/Beta/SP-MVP/home.html">Farming grant options finder</a>
      </li>
    </ol>
  </div>
</div>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">CUP9: Low livestock grazing on moorland</h1>
        <p class="govuk-body-l">Find out about eligibility and requirements for this option.</p>

        <div class="govuk-grid-column-full">
               
          <hr class="custom-separator">
          <!-- This is the grid separation line with styling -->
             
        </div>





        <p class="govuk-body-s">From <a
            href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs"
            class="link-style">Department for Environment, Food & Rural Affairs</a> and <a
            href="https://www.gov.uk/government/organisations/rural-payments-agency" class="link-style">Rural Payments
            Agency</a></p>
        <p class="govuk-body-s date-style">Published 21 May 2024</p>
        <p class="govuk-body-s date-style bottom-date">Last updated 29 April 2025</p>
        <div class="govuk-!-padding-5 blue-box">
          <ul class="govuk-list">
            <li><span class="section-label">Land type:</span> <a href="/Beta/SP-MVP/home?filter=moorland"
                class="section-link">Moorland and upland</a>
            </li>
            <li><span class="section-label">Area of interest:</span> <a href="/Beta/SP-MVP/home?filter=biodiversity"
                class="section-link">Biodiversity</a>,
              <a href="/Beta/SP-MVP/home?filter=livestock" class="section-link">Livestock management</a>
            </li>
            <li><span class="section-label">Grant type:</span> <a href="/Beta/SP-MVP/home?filter=csht"
                class="section-link">CSHT</a></li>
          </ul>
        </div>





        <hr class="govuk-section-break govuk-section-break--m">



        <ul id="content-title" class="govuk-list content-link-list" style="color: #1d70b8;">
          <li style="color: #0b0c0c;">Contents</li>
          <li><a class="govuk-link govuk-link--no-underline" href="#cost">How much you'll be paid</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#aim">Action's aim</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#where">Where you can do this action</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#environment">Eligible land</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#available">Available area you can enter into this
              action</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#rotational">Rotational or static action</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#what">What to do</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#when">When to do it</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#evidence">Evidence to keep</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#consents">Consents, permissions and licensing
              requirements</a></li>
          <li><a class="govuk-link govuk-link--no-underline" href="#capital">Capital grants to support this action</a>
          </li>
        </ul>

        <h2 class="govuk-heading-m">Duration</h2>
        <p class="govuk-body">3 years</p>
        <h2 id="cost" class="govuk-heading-m">How much you'll be paid</h2>
        <p class=" govuk-body">£53 per ha</p>
        <h2 id="aim" class="govuk-heading-m">Action's aim</h2>
        <p class="govuk-body">This action’s aim is that there’s a low livestock density grazing on the moorland, so its
          habitat is maintained or enhanced alongside farming.
        </p>
        <p class="govuk-body">The purpose of this is to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>prevent expansion of areas of bare ground</li>
          <li>increase surface roughness</li>
          <li>reduce diffuse pollution</li>
          <li>improve water quality and flood risk management</li>
          <li>provide habitats for moorland species</li>
          <li>protect historic and archaeological features</li>
        </ul>
        <h2 id="where" class="govuk-heading-m">Where you can do this action</h2>
        <p class="govuk-body">You can only use this action in combination with Countryside Stewardship Higher Tier
          action CUP3: General moorland management.</p>
        <p class="govuk-body">You can do this action on moorland that:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>is above the moorland line</li>
          <li>is above the stockproof boundary of enclosed semi-natural vegetation, such as allotments, intakes or
            newtakes</li>
          <li>contains one or more moorland priority habitats or species, unless you’re also applying for CUP7: Manage
            non-peat moorland soils for flood and drought resilience supplement, where you do not need one or more
            priority habitats or species</li>
        </ul>
        <p class="govuk-body">If a land parcel is located above and below the moorland line, you can enter it into this
          action if:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>most of the area is above the moorland line</li>
          <li>it’s managed as one grazing unit with adjacent land parcels located above the moorland line</li>
        </ul>
        <h2 id="environment" class="govuk-heading-m">Eligible land</h2>
        <p class="govuk-body">You can do this action on land that’s: </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>an eligible land type</li>
          <li>registered with an eligible land cover on your digital maps
          </li>
          <li>declared with a
            <a href="https://www.gov.uk/government/publications/land-use-codes-rural-payments" class="govuk-link">land
              use code</a>
            which is compatible with the eligible land cover
          </li>
        </ul>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Eligible land type</th>
              <th scope="col" class="govuk-table__header">Eligible land cover</th>
              <th scope="col" class="govuk-table__header">Compatible land use code</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Permanent grassland</td>
              <td class="govuk-table__cell">Permanent grassland</td>
              <td class="govuk-table__cell">
                PG01
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Scattered scrub</td>
              <td class="govuk-table__cell">Notional features</td>
              <td class="govuk-table__cell">NF03</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Scattered bracken or heather</td>
              <td class="govuk-table__cell">Notional features</td>
              <td class="govuk-table__cell">NF02</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Watercourse - river or stream (Rivers and Streams Type 2)</td>
              <td class="govuk-table__cell">Inland water</td>
              <td class="govuk-table__cell">IW02</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Fen, marsh and swamp</td>
              <td class="govuk-table__cell">Inland wetland</td>
              <td class="govuk-table__cell">IW07</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Non-agricultural area or feature which is temporary and likely to change
                over time (ineligible area)</td>
              <td class="govuk-table__cell">Non-agricultural area</td>
              <td class="govuk-table__cell">NA02</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Scattered rock</td>
              <td class="govuk-table__cell">Notional features</td>
              <td class="govuk-table__cell">NF01</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Scattered water reatures</td>
              <td class="govuk-table__cell">Notional features</td>
              <td class="govuk-table__cell">NF05</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Scattered natural features</td>
              <td class="govuk-table__cell">Notional features</td>
              <td class="govuk-table__cell">NF06</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Gallop</td>
              <td class="govuk-table__cell">Natural transport - tracks and gallops</td>
              <td class="govuk-table__cell">NT01</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Track - natural surface</td>
              <td class="govuk-table__cell">Natural transport - tracks and gallops</td>
              <td class="govuk-table__cell">NT03</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Scree</td>
              <td class="govuk-table__cell">Rock</td>
              <td class="govuk-table__cell">RO02</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Boulders</td>
              <td class="govuk-table__cell">Rock</td>
              <td class="govuk-table__cell">RO03</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Rocky outcrop</td>
              <td class="govuk-table__cell">Rock</td>
              <td class="govuk-table__cell">RO04</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Watercourse - ditch, drain or dyke</td>
              <td class="govuk-table__cell">Water or irrigation features</td>
              <td class="govuk-table__cell">WF01</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Pond</td>
              <td class="govuk-table__cell">Water or irrigation features</td>
              <td class="govuk-table__cell">WF03</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Scrub</td>
              <td class="govuk-table__cell">Natural woodland</td>
              <td class="govuk-table__cell">WO25</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Bracken, heather and heathland</td>
              <td class="govuk-table__cell">Heath land and brakcen</td>
              <td class="govuk-table__cell">HE02</td>
            </tr>
          </tbody>
        </table>
        <h2 id="available" class="govuk-heading-m">Available area you can enter into this action</h2>
        <p class="govuk-body">
          Total or part of the available area in the land parcel.
        </p>
        <h2 id="rotational" class="govuk-heading-m">Rotational or static action</h2>
        <p class="govuk-body">This action is rotational or static. This means you can either:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>move the action’s location as agreed with your Natural England adviser</li>
          <li>keep it at the same location</li>
        </ul>
        <h2 id="what" class="govuk-heading-m">What to do</h2>
        <p class="govuk-body">Your Natural England adviser will assess your land. They’ll work with you to adapt and
          agree the activities you must do to achieve this action’s aim. All mandatory activities will be set out in
          your agreement document.</p>
        <p class="govuk-body">To get paid for this action, you must either:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>agree with your Natural England adviser the maximum grazing livestock units (GLU) per hectare that will be
            on the moorland at any time (the maximum you can agree for this action is 0.08GLU per hectare (ha))</li>
          <li>follow a stocking calendar (as agreed with your Natural England adviser)</li>
        </ul>
        <p class="govuk-body">You must record:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>land parcel reference numbers</li>
          <li>hectarage</li>
          <li>dates you plan to graze during each calendar month</li>
          <li>monthly numbers of livestock which will graze the land parcel, including their type and age bracket</li>
        </ul>
        <p class="govuk-body">
          If you manage several adjacent land parcels as one grazing unit, you can keep one stocking calendar for that
          grazing unit.
        </p>
        <p class="govuk-body">
          To convert livestock numbers into GLU, you must use the following values:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Cattle over 2 years old at the start of an agreement year – 1.0 GLU</li>
          <li>Cattle over 6 months to 2 years old at the start of an agreement year – 0.6 GLU</li>
          <li>Heavy sheep (for example most lowland sheep, rams and larger hill sheep) – 0.12 GLU
          </li>
          <li>Light sheep (for example store lambs and small hill sheep) – 0.08 GLU</li>
          <li>Goat – 0.12 GLU</li>
          <li>Pony or donkey – 0.8 GLU</li>
          <li>Horse – 1.0 GLU</li>
        </ul>
        <p class="govuk-body">
          You must not use supplementary feed for grazing livestock on land entered into this action, unless permission
          for mineral licks is agreed with your Natural England adviser.
        </p>
        <h2 id="when" class="govuk-heading-m">When to do it</h2>
        <p class="govuk-body">
          You must do this action each year of its duration.
        </p>
        <h2 id="evidence" class="govuk-heading-m">Evidence to keep</h2>
        <p class="govuk-body">You must keep evidence to show what you have done to complete this action. If it’s not
          clear that you have done this action in a way that could reasonably be expected to achieve its aim, the Rural
          Payments Agency (RPA) may ask for this evidence. You must supply the evidence if they ask for it.</p>
        <h2 id="other" class="govuk-heading-m">Other actions or options you can do on the same area as this action </h2>
        <p class="govuk-body">You can do the following actions or options on the same area in a land parcel as this
          action.</p>
        <p class="govuk-body">Some actions or options can only be done on the same area if they’re done at a different
          time of year to this action.</p>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Scheme</th>
              <th scope="col" class="govuk-table__header">Action or option code</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">SFI 2024 actions</td>
              <td class="govuk-table__cell">CMOR1, HEF5</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">SFI 2023 actions</td>
              <td class="govuk-table__cell">MOR1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">CSHT actions</td>
              <td class="govuk-table__cell">CUP3, CUP11, CUP12, CUP13, CUP14, CSP13, CSP14, CSP15, CWS1, CWS3, CSP21,
                CSP20, CSW25, CAGF1, CAGF3, CAGF2, CAGF4, CHS4</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">CS options</td>
              <td class="govuk-table__cell"> HS4</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">ES options</td>
              <td class="govuk-table__cell">N/A</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">SFI pilot standards</td>
              <td class="govuk-table__cell">N/A</td>
            </tr>

          </tbody>
        </table>
        <p class="govuk-body">You can do the following actions or options on the eligible boundaries of a land parcel
          entered into this action:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>CSHT actions: CWT3</li>
          <li>SFI 2024 actions: CHRW1, CHRW2, CHRW3, BND1, BND2, WBD10</li>
          <li>SFI 2023 actions: HRW1, HRW2, HRW3</li>
          <li>CS option BE3: Management of hedgerows</li>
          <li>the introductory level of the SFI pilot hedgerows standard</li>
        </ul>
        <h2 id="consents" class="govuk-heading-m">Consents, permissions and licensing requirements</h2>
        <p class="govuk-body">
          To apply for this action, you’ll need:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Scheduled Monument Consent from Historic England for any work on scheduled monuments</li>
          <li>consent from Natural England for any activity on land designated as a site of special scientific interest
            (SSSI)
          </li>
        </ul>
        <p class="govuk-body">
          You may need to:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>agree an implementation plan or feasibility study with your Natural England adviser</li>
          <li>get a wildlife licence from Natural England if your activities affect a protected species or their habitat
          </li>
          <li>get advice from your relevant Natural England adviser if you have other historic or archaeological
            features on your agreement land</li>
        </ul>
        <p class="govuk-body">
          All historic and archaeological features (including scheduled monuments) are identified in your Historic
          Environment Farm Environment Record (HEFER).
        </p>
        <p class="govuk-body">
          If you’re a tenant, it’s your responsibility to check whether your tenancy agreement allows you to complete
          what’s required in the actions you choose. You may need your landlord’s consent.
        </p>
        <h2 id="capital" class="govuk-heading-m">Capital grants to support this action</h2>
        <p class="govuk-body">
          If you need to complete an implementation plan or a feasibility study before you apply, you can apply for
          <a href="https://www.gov.uk/government/collections/capital-items-guidance-for-applicants-and-agreement-holders#capital-grants-plans"
            class="govuk-link">capital grants plans
            funding</a>.
        </p>
        <p class="govuk-body">You can also <a
            href="https://www.gov.uk/government/collections/capital-items-guidance-for-applicants-and-agreement-holders"
            class="govlink">
            apply for capital items</a> to help you achieve the action’s aims. Your Natural England adviser will discuss
          eligible
          capital items with you.</p>


        <hr class="custom-separator-2">

        <p class="date-style govuk-body-s top-bottom-date">Published 21 May 2024</p>
        <p class="date-style govuk-body-s bottom-date">Last updated 27 March 2025</p>


        <a href="#content-title" class="govuk-link govuk-link">
          <svg class="gem-c-back-to-top-link__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17"
            viewBox="0 0 13 17" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
          </svg>
          Contents
        </a>






      </div>
  </main>
</div>


{% endblock %}