{% extends "layouts/main.html" %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div style="border:5px solid SteelBlue; background: GhostWhite" class="govuk-!-padding-6 govuk-!-margin-bottom-8">
    	<h1 class="govuk-heading-l">Start Page</h1>
        <p class="govuk-heading-s">Tuesday 1st August - Wednesday 2nd August</p>
    	

      <!-- CONTENT -->
    
      <ul class="govuk-list govuk-!-margin-bottom-5">
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="AI/Emailai.html">Prototype A</a> 
        </li>
      </ul>

     <ul class="govuk-list govuk-!-margin-bottom-5">
        <li>
          <a class="govuk-link govuk-link--no-visited-state" href="Hybrid/Email.html">Prototype B</a>
        </li>
    </ul> 
</div>
</div>

</div>
</div>
</div>
</div>


{% endblock %}