{% extends "layout.html" %}

{% block pageTitle %}
  Get funding for farming and land management
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}
<a onclick="history.back()" class="govuk-back-link">Back</a>
{% endblock %}



{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="gf-results" method="get" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Summary
                </h1>
              </legend>
              <p class="govuk-body">
                Below is a summary of the answers you have given.
              </p>
              <h3 class="govuk-heading-m  govuk-!-margin-top-6">Application details</h2>
              <dl class="govuk-summary-list govuk-!-margin-top-4">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    What area do you specialise in?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data ['user-type'] }}
                  </dd>
                  <!--
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> your speciality</span>
                    </a>
                  </dd>
                -->
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    What type of farm do you need funding for?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data ['type-of-farm'] }}
                  </dd>
                  <!--
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> farm or land type</span>
                    </a>
                  </dd>
                -->
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Land type
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data ['location'] }}
                    </dd>
                    <!--
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> farm or land type</span>
                      </a>
                    </dd>
                  -->
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Land size
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data ['size'] }}
                    </dd>
                    <!--
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> farm or land type</span>
                      </a>
                    </dd>
                  -->
                  </div>
                  <h3 class="govuk-heading-m  govuk-!-margin-top-6">Eligibility</h2>
                  <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Have you previously applied for funding?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data ['previous-funding-application'] }}
                  </dd>
                  <!--
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> previously applied for funding</span>
                    </a>
                  </dd>
                -->
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Previous application reference
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data ['previous-application-reference'] or 'unknown'}}
                    </dd>
                    <!--
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> what was funding for</span>
                      </a>
                    </dd>
                  -->
                  </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    What was the funding for?
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data ['fund-type'] }}
                  </dd>
                  <!--
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">
                      Change<span class="govuk-visually-hidden"> what was funding for</span>
                    </a>
                  </dd>
                -->
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Was your application successful?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data ['application-successful'] }}
                    </dd>
                    <!--
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> was you application successful</span>
                      </a>
                    </dd>
                -->
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        How much funding did you receive?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data ['funding-amount-received'] or 'Not applicable' }}
                    </dd>
                    <!--
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> funding received</span>
                      </a>
                    </dd>
                -->
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Why was your previous application was unsucessful?
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data ['why-unsuccessful'] or 'Not applicable' }}
                    </dd>
                    <!--
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                        Change<span class="govuk-visually-hidden"> application unsuccessful</span>
                      </a>
                    </dd>
                -->
                  </div>
              </dl>
              
            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>



{% endblock %}
