{% extends "layout.html" %}

{% block pageTitle %}
  Funding for farmers is changing
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Land management</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<style>
  .metadata-logo-wrapper {
    border-top: 1px solid #b1b4b6;
    margin-left: 15px;
    margin-right: 15px;
  }
  .metadata-logo-wrapper .metadata-column {
    padding-left: 0;
    padding-top: 15px;
  }
  .gem-c-metadata {
    font-size: 16px;
    line-height: 1.25;
    padding-bottom: 4px;
  }
  .gem-c-metadata__term {
    box-sizing: border-box;
    float: left;
    clear: left;
    padding-right: 5px;
    margin-top: 0;
  }
  .govuk-body-s {
    line-height: 1.75em;
  }
  .gem-c-single-page-notification-button__submit {
    padding: 5px 10px;
    margin: 0;
    border: 1px solid #b1b4b6;
    color: #1d70b8;
    cursor: pointer;
    background: none;
  }
  .gem-c-single-page-notification-button__submit:hover {
    background-color: #f3f2f1;
    color: #003078;
  }
  .gem-c-single-page-notification-button__icon {
    color: #000000;
    padding-right: 6px;
    top: 3px;
    position: relative;
  }
  .gem-c-devolved-nations {
    margin-bottom: 30px;
    padding: 20px 30px;
    background: #f3f2f1;
  }
  .navigation-container {
    padding: 20px 0 20px 0;
  }
  .list-item--dashed:before {
    content: "—";
    position: relative ;
    left: 0;
    width: 20px;
    padding-right: 10px;
    overflow: hidden;
  }
  .gem-c-print-link {
    display: block;
  }
  .gem-c-print-link__button {
    padding: 5px 10px;
    margin: 0;
    border: 1px solid #b1b4b6;
    color: #1d70b8;
    cursor: pointer;
    background: none;
    text-decoration: none;
  }
  .gem-c-print-link__button:hover {
    background-color: #f3f2f1; 
    color: #003078;
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div>
      <span class="govuk-caption-xl gem-c-title__context govuk-!-margin-top-4">Guidance</span>
      <h1 class="govuk-heading-xl">
        Funding for farmers
      </h1>
    </div>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body govuk-!-font-size-24">You can apply for money to improve the environment while producing high quality food and other products if you're a farmer, land manager, forester or horticulturist.</p>

  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="metadata-logo-wrapper">
    <div class="govuk-grid-column-two-thirds metadata-column">
      
      <div class="gem-c-metadata govuk-!-margin-bottom-3" data-module="gem-toggle metadata">
  
        <!-- PUBLISHED METADATA -->
        <dl class="govuk-body-s">
          <dt class="gem-c-metadata__term">From:</dt>
          <dd class="gem-c-metadata__definition">
            <a class="govuk-link" href="/government/organisations/department-for-environment-food-rural-affairs">Department for Environment, Food &amp; Rural Affairs</a> and <a class="govuk-link" href="/government/organisations/rural-payments-agency">Rural Payments Agency</a>
          </dd>
          <dt class="gem-c-metadata__term">Published</dt>
          <dd class="gem-c-metadata__definition">9 March 2022</dd>
          <dt class="gem-c-metadata__term">Last updated</dt>
          <dd class="gem-c-metadata__definition">30 March 2022 — <a href="#full-publication-update-history" class="gem-c-metadata__definition-link govuk-!-display-none-print js-see-all-updates-link" data-track-category="content-history" data-track-action="see-all-updates-link-clicked" data-track-label="history">
              See all updates</a></dd>
        </dl>
       
        <!-- email alert button -->
        <div class="govuk-!-display-none-print govuk-!-margin-bottom-6" data-module="gem-track-click">
          <form class="gem-c-single-page-notification-button" action="/email/subscriptions/single-page/new" method="POST" data-track-label="/guidance/funding-for-farmers" data-track-action="Subscribe-button-top" data-track-category="Single-page-notification-button" data-button-location="top">
            <input type="hidden" name="base_path" value="/guidance/funding-for-farmers">
            <button class="govuk-body-s gem-c-single-page-notification-button__submit" type="submit">  <svg class="gem-c-single-page-notification-button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewbox="0 0 459.334 459.334"><path fill="currentColor" d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"></path></svg>Get emails about this page</button>
          </form>
        </div>
    
      </div>

    </div>
  </div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <section class="gem-c-devolved-nations">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Applies to England </h2>
    </section>

    <!-- Contents -->
    <aside class="navigation-container">
      <ul class="govuk-list govuk-body-s">
      <li>Contents</li>
      <li class="list-item--dashed"><a href="#environmental-land-management-funding">Environmental land management funding</a></li>
      <li class="list-item--dashed"><a href="#trees">Trees, animal health, slurry and protected landscape funding</a></li>
      <li class="list-item--dashed"><a href="#innovation">Innovation, technology, research and development funding</a></li>
      <li class="list-item--dashed"><a href="#joining">Joining farming</a></li>
      <li class="list-item--dashed"><a href="#leaving">Leaving farming</a></li>
      <li class="list-item--dashed"><a href="#farm-funding-help">Get help with farm funding</a></li>
      </ul>
    </aside>

    <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6">
      <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
    </div>



    <!-- CONTENT SECTIONS STARTS -->

    <!-- ENVIRONMENTAL -->
    <h2 class="govuk-heading-l" id="environmental-land-management-funding">Environmental land management funding</h2>
    <p class="govuk-body">You can apply for funding to manage your land in an environmentally sustainable way. This is sometimes referred to as environmental land management.</p>
    
    <h3 class="govuk-heading-m">Producing cleaner water and air</h3>
    <!--<p class="govuk-body">You can <a href="https://www.gov.uk/government/collections/sustainable-farming-incentive-guidance" class="govuk-link">apply for money from the Sustainable Farming Incentive</a> from 2022 to help:</p>-->
    <p class="govuk-body">You can apply for money from the Sustainable Farming Incentive from 2022 to help:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>build better storage of water and carbon (arable and horticultural soils standard)</li>
      <li>reduce levels of sediment, nutrients and chemical pollution in water (improved grassland soils standard)</li>
      <li>reduce greenhouse gas emissions (improved grassland soils standard)</li>
      <li>create better biodiversity - this means more types of animals and plants (improved grassland soils standard)</li>
      <li>reduce risk of flooding, erosion and run-off (arable and horticultural soils standard and improved grassland soils standard)</li>
      <li>restore peatlands (moorland and rough grazing standard)</li>
    </ul>
    <form method="GET" action="https://www.gov.uk/government/collections/sustainable-farming-incentive-guidance">
      {{ govukButton({
        text: "Apply for Sustainable Farming Incentive funding",
        classes: "govuk-button--secondary"
      }) }}
    </form>

    <h3 class="govuk-heading-m govuk-!-margin-top-6">Protecting native species and improving rivers</h3>
    <!--<p class="govuk-body">You can <a href="https://www.gov.uk/guidance/apply-for-landscape-recovery-funding-to-protect-native-species-and-improve-rivers" class="govuk-link">apply for the first round of Landscape Recovery funding</a> to support large, long-term landscape and ecosystem restoration projects. For example:</p>-->
    <p class="govuk-body">You can apply for the first round of Landscape Recovery funding to support large, long-term landscape and ecosystem restoration projects. For example:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>restore wilder landscapes</li>
      <li>create and plant woodland</li>
      <li>support peatlands and salt marshes</li>
    </ul>
    <form method="GET" action="https://www.gov.uk/guidance/apply-for-landscape-recovery-funding-to-protect-native-species-and-improve-rivers">
      {{ govukButton({
        text: "Apply for Landscape Recovery funding",
        classes: "govuk-button--secondary govuk-!-margin-bottom-0"
      }) }}
    </form>
    {{ govukInsetText({
      text: "Defra will select up to 15 projects for project development funding in 2022, and will fund more projects in 2023 and 2024."
    }) }}

    <h3 class="govuk-heading-m govuk-!-margin-top-8">Managing habitats, woodlands and flood risk</h3>
    <!--<p class="govuk-body">You can <a href="https://www.gov.uk/government/collections/countryside-stewardship" class="govuk-link">apply for Countryside Stewardship</a> to get paid to look after and improve the environment. For example:</p>-->
    <p class="govuk-body">You can for apply for Countryside Stewardship to get paid to look after and improve the environment. For example:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>conserve and restore wildlife habitats</li>
      <li>manage flood risk</li>
      <li>manage woodlands</li>
      <li>reduce widespread water pollution from agriculture</li>
      <li>keep the character of the countryside</li>
      <li>preserve historical features in the landscape</li>
      <li>encourage educational access</li>
    </ul>
    <form method="GET" action="https://www.gov.uk/government/collections/countryside-stewardship">
      {{ govukButton({
        text: "Apply for Countryside Stewardship",
        classes: "govuk-button--secondary govuk-!-margin-bottom-0"
      }) }}
    </form>
    
    {{ govukInsetText({
      text: "You can apply until 2023 (for agreements starting in 2024)."
    }) }}

    <!--<p class="govuk-body">You will be able to <a href="https://www.gov.uk/government/publications/local-nature-recovery-more-information-on-how-the-scheme-will-work/local-nature-recovery-more-information-on-how-the-scheme-will-work#what-we-will-pay-for" class="govuk-link">apply for Local Nature Recovery funding</a> to get paid for things that help the local environment. For example:</p>-->
    <p class="govuk-body">You will be able to apply for Local Nature Recovery fundingto get paid for things that help the local environment. For example:</p>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>manage and restore habitats</li>
      <li>plant trees and manage woodlands</li>
      <li>restore peatlands</li>
      <li>use natural flood management techniques</li>
    </ul>
    <form method="GET" action="https://www.gov.uk/government/publications/local-nature-recovery-more-information-on-how-the-scheme-will-work/local-nature-recovery-more-information-on-how-the-scheme-will-work#what-we-will-pay-for">
      {{ govukButton({
        text: "Apply for Local Nature Recovery funding",
        classes: "govuk-button--secondary govuk-!-margin-bottom-0"
      }) }}
    </form>

    {{ govukInsetText({
      text: "Defra will trial it with land managers from 2023. All eligible applicants can apply from the end of 2024."
    }) }}

    <h3 class="govuk-heading-m govuk-!-margin-top-7">If you are already paid by the Basic Payment Scheme (<abbr title="Basic Payment Scheme">BPS</abbr>)</h3>
    <p class="govuk-body">You can apply for funding from any of these schemes even if you <a href="https://www.gov.uk/government/collections/basic-payment-scheme" class="govuk-link">get paid by the <abbr title="Basic Payment Scheme">BPS</abbr></a>. You will still receive <abbr title="Basic Payment Scheme">BPS</abbr> funding but it will <a rel="external" href="https://calculate-direct-payment-reductions.defra.gov.uk/" class="govuk-link">decrease every year until 2027</a>.</p>
    <p class="govuk-body">From 2024, 'delinked' payments will replace <abbr title="Basic Payment Scheme">BPS</abbr>. This means you will no longer have to farm your land to get paid. Read guidance on <a href="https://www.gov.uk/guidance/delinked-payments-replacing-the-basic-payment-scheme" class="govuk-link">delinked payments and how they will be calculated</a>.</p>

    <!-- TREES -->
    <h2 class="govuk-heading-l govuk-!-margin-top-8" id="trees">Trees, animal health, slurry and protected landscape funding</h2>
    <h3 class="govuk-heading-m">Trees</h3>
    <!--<p class="govuk-body">You can <a href="https://www.gov.uk/guidance/tree-health-pilot-scheme" class="govuk-link">apply for tree health funding</a> through the pilot scheme if you manage certain trees or woodlands affected by some pests and diseases in some regions of England.</p>-->
    <p class="govuk-body">You can apply for tree health funding through the pilot scheme if you manage certain trees or woodlands affected by some pests and diseases in some regions of England.</p>
    <form method="GET" action="https://www.gov.uk/guidance/tree-health-pilot-scheme">
      {{ govukButton({
        text: "Apply for tree health funding",
        classes: "govuk-button--secondary"
      }) }}
    </form>
    <p class="govuk-body">You can get paid to plant trees and create woodland through the <a href="https://www.gov.uk/guidance/england-woodland-creation-offer" class="govuk-link">England Woodland Creation Offer</a> on areas that are at least 1 hectare.</p>
    <p class="govuk-body">You can also get help with <a href="https://www.gov.uk/government/publications/woodland-grants-and-incentives-overview-table/woodland-grants-and-incentives-overview-table" class="govuk-link">woodland creation, maintenance, management and tree health</a>.</p>
    
    <h3 class="govuk-heading-m govuk-!-margin-top-6" id="animals">Animals</h3>
    <!--<p class="govuk-body">You can register and trace multi-species livestock on the <a rel="external" href="https://ahdb.org.uk/livestock-information-programme" class="govuk-link">Livestock Information Programme</a>.</p>-->
    <p class="govuk-body">You can register and trace multi-species livestock on the Livestock Information Programme.</p>

    <form method="GET" action="https://ahdb.org.uk/livestock-information-programme">
      {{ govukButton({
        text: "Apply for the Livestock Information Programme",
        classes: "govuk-button--secondary"
      }) }}
    </form>
    <p class="govuk-body">You can get help reducing the incidence and severity of bovine <abbr title="Tuberculosis">TB</abbr> breakouts from the <a rel="external" href="https://www.tbas.org.uk/" class="govuk-link">Bovine <abbr title="Tuberculosis">TB</abbr> Advisory Service</a>.</p>
    <p class="govuk-body">The <a href="https://www.gov.uk/government/publications/animal-health-and-welfare-pathway/animal-health-and-welfare-pathway" class="govuk-link">Animal Health and Welfare Pathway</a> provides funding to help improve the health and welfare of animals. You can apply from 2022.</p>
    
    <h3 class="govuk-heading-m" id="slurry-investment">Slurry investment</h3>
    <!--<p class="govuk-body">From Autumn 2022, you will be able to apply for grants to support investment in slurry systems including for slurry stores and store covers. This will be part of the expanded <a href="https://www.gov.uk/guidance/farming-investment-fund" class="govuk-link">Farming Investment Fund</a>.</p>-->
    <p class="govuk-body">From Autumn 2022, you will be able to apply for grants to support investment in slurry systems including for slurry stores and store covers. This will be part of the expanded Farming Investment Fund.</p>
    <form method="GET" action="https://www.gov.uk/guidance/farming-investment-fund">
      {{ govukButton({
        text: "Apply for grants",
        classes: "govuk-button--secondary"
      }) }}
    </form>

    <h3 class="govuk-heading-m govuk-!-margin-top-6" id="protected-landscapes">Protected landscapes</h3>
    <!--<p class="govuk-body">Farming in <a href="https://www.gov.uk/guidance/funding-for-farmers-in-protected-landscapes" class="govuk-link">protected landscapes funding</a> is open to all farmers and land managers within:</p>-->
    <p class="govuk-body">Farming in protected landscapes funding is open to all farmers and land managers within:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>an Area of Outstanding Natural Beauty</li>
      <li>a National Park in England</li>
      <li>the Norfolk Broads</li>
    </ul>
    <form method="GET" action="https://www.gov.uk/guidance/funding-for-farmers-in-protected-landscapes">
      {{ govukButton({
        text: "Apply for protected landscapes funding",
        classes: "govuk-button--secondary"
      }) }}
    </form>

    <!-- INNOVATION -->
    <h2 class="govuk-heading-l govuk-!-margin-top-6" id="innovation">Innovation, technology, research and development funding</h2>
    <p class="gov-body">You can apply for:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.gov.uk/guidance/farming-investment-fund" class="govuk-link">a grant or funding for equipment, technology and infrastructure that improves farm productivity and benefits the environment</a> (through the Farming Equipment and Technology Fund)</li>
      <li>money from the <a href="https://www.gov.uk/guidance/farming-investment-fund#farming-transformation-fund" class="govuk-link">Farming Transformation Fund</a> to buy items to increase your farm's productivity - <a rel="external" href="https://check-farming-transformation-fund.defra.gov.uk/productivity/start" class="govuk-link">check if you're eligible</a></li>
    </ul>
    <p class="gov-body">You can also <a rel="external" href="https://defrafarming.blog.gov.uk/2021/03/25/the-future-farming-resilience-fund-supporting-farmers-through-transition/" class="govuk-link">apply for funding during the early years of the agricultural transition</a>.</p>
    
    <h3 class="govuk-heading-m" id="research-and-innovation">Research and innovation</h3>
    <p class="govuk-body">The Farming Innovation Programme is made up of 3 funds:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a rel="external" href="https://farminginnovation.ukri.org" class="govuk-link">Industry-led Research and Development Partnerships Fund</a></li>
      <li>Farming Futures Research and Development Fund - from early 2022</li>
      <li>Projects to Accelerate Adoption Fund</li>
    </ul>

    <!-- JOINING FARMING -->
    <h2 class="govuk-heading-l" id="joining">Joining farming</h2>
    <p class="gov-body">The New Entrant Support Scheme aims to encourage new starters into farming. Defra plans to run a pilot for this scheme from 2022 to 2023.</p>

    <!-- LEAVING FARMING -->
    <h2 class="govuk-heading-l" id="leaving">Leaving farming</h2>
    <p class="gov-body">The <a href="https://www.gov.uk/government/collections/lump-sum-exit-scheme" class="govuk-link">Lump Sum Exit Scheme</a> will help farmers in England who choose to leave farming.</p>
    <p class="gov-body">Once you receive a lump sum payment, you will not be eligible for any further <abbr title="Basic Payment Scheme">BPS</abbr> payments or delinked payments.</p>
    <p class="gov-body">You will also not be eligible to <a href="https://www.gov.uk/government/publications/apply-for-a-lump-sum-payment-to-leave-or-retire-from-farming/how-to-apply-for-a-lump-sum-payment-to-leave-or-retire-from-farming#applying-for-other-schemes" class="govuk-link">enter into new agreements under the following schemes</a> unless you repay the lump sum first:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.gov.uk/government/publications/sustainable-farming-incentive-how-the-scheme-will-work-in-2022" class="govuk-link">Sustainable Farming Incentive</a></li>
      <li><a href="https://www.gov.uk/government/publications/lump-sum-payments-for-farmers-who-leave-or-retire-from-farming-and-delinked-payments/how-lump-sum-payments-affect-some-countryside-stewardship-options" class="govuk-link">some options under Countryside Stewardship</a></li>
      <li>some options under Local Nature Recovery</li>
    </ul>

    <!-- GET HELP -->
    <h2 class="govuk-heading-l" id="farm-funding-help">Get help with farm funding</h2>
    <p class="gov-body">You can get help understanding what funding you can apply for from:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the <a href="https://www.gov.uk/guidance/contact-defra#farming-and-food" class="govuk-link">Defra Rural Service helpline</a></li>
      <li>the <a href="https://www.gov.uk/government/groups/farming-advice-service" class="govuk-link">Farming Advice Service</a></li>
      <li><a href="https://www.gov.uk/government/organisations/forestry-commission/about/access-and-opening#Woodland-Creation-Officer" class="govuk-link">Woodland Creation officers</a></li>
    </ul>
    <p class="gov-body">You can also get support from:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>organisations that provide advice through the <a href="https://www.gov.uk/guidance/get-free-business-advice-for-your-farm" class="govuk-link">Future Farming Resilience Fund</a> to help you plan for the future - this advice is free if you get <abbr title="Basic Payment Scheme">BPS</abbr></li>
      <li>the <a rel="external" href="https://fcn.org.uk/help-farm-issues/" class="govuk-link">Farming Community Network</a></li>
      <li><a rel="external" href="https://www.farminguk.com/agricultural-directory/category/advisors-consultants_183.html" class="govuk-link">farming advisors</a> - you might need to pay for this</li>
    </ul>

    <div class="metadata-logo-wrapper gem-c-metadata govuk-!-margin-bottom-3" data-module="gem-toggle metadata">
  
        <!-- PUBLISHED METADATA -->
        <dl class="govuk-body-s govuk-!-margin-top-4">
          <dt class="gem-c-metadata__term">Published</dt>
          <dd class="gem-c-metadata__definition">9 March 2022</dd>
          <dt class="gem-c-metadata__term">Last updated</dt>
          <dd class="gem-c-metadata__definition">30 March 2022 — <a href="#full-publication-update-history" class="gem-c-metadata__definition-link govuk-!-display-none-print js-see-all-updates-link" data-track-category="content-history" data-track-action="see-all-updates-link-clicked" data-track-label="history">
              See all updates</a></dd>
        </dl>
       
        <!-- email alert button -->
        <div class="govuk-!-display-none-print govuk-!-margin-bottom-6" data-module="gem-track-click">
          <form class="gem-c-single-page-notification-button" action="/email/subscriptions/single-page/new" method="POST" data-track-label="/guidance/funding-for-farmers" data-track-action="Subscribe-button-top" data-track-category="Single-page-notification-button" data-button-location="top">
            <input type="hidden" name="base_path" value="/guidance/funding-for-farmers">
            <button class="govuk-body-s gem-c-single-page-notification-button__submit" type="submit">  <svg class="gem-c-single-page-notification-button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewbox="0 0 459.334 459.334"><path fill="currentColor" d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"></path></svg>Get emails about this page</button>
          </form>
        </div>

        <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6">
          <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
        </div>
      
    
      </div>

  </div>

  <!-- SIDEBAR RELATED CONTENT -->
  <div class="govuk-grid-column-one-third">
    <div class="gem-c-contextual-sidebar">
        <div class="moj-filter">

            <div class="moj-filter__header">
          
              <div class="moj-filter__header-title">
                <h2 class="govuk-heading-m">Filter</h2>
              </div>
          
              <div class="moj-filter__header-action">
          
              </div>
          
            </div>
          
            <div class="moj-filter__content">
          
              <div class="moj-filter__selected">
          
                <div class="moj-filter__selected-heading">
          
                  <div class="moj-filter__heading-title">
                    <h2 class="govuk-heading-m">Selected filters</h2>
                  </div>
          
                  <div class="moj-filter__heading-action">
                    <p><a class="govuk-link govuk-link--no-visited-state" href="">Clear filters</a></p>
                  </div>
          
                </div>
          
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Type</h3>
          
                <ul class="moj-filter-tags">
          
                  <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Blue</a></li>
          
                  <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Yellow</a></li>
          
                </ul>
          
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Status</h3>
          
                <ul class="moj-filter-tags">
          
                  <li><a class="moj-filter__tag" href="/path/to/remove/this"><span class="govuk-visually-hidden">Remove this filter</span> Completed</a></li>
          
                </ul>
          
              </div>
          
              <div class="moj-filter__options">
          
                <button class="govuk-button" data-module="govuk-button">
                  Apply filters
                </button>
          
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-label--m" for="keywords">
                    Keywords
                  </label>
          
                  <input class="govuk-input" id="keywords" name="keywords" type="text">
                </div>
          
                <div class="govuk-form-group">
          
                  <fieldset class="govuk-fieldset">
          
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          
                      Type
          
                    </legend>
          
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1" checked>
                        <label class="govuk-label govuk-checkboxes__label" for="type">
                          Blue (18)
                        </label>
          
                      </div>
          
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2" checked>
                        <label class="govuk-label govuk-checkboxes__label" for="type-2">
                          Yellow (5)
                        </label>
          
                      </div>
          
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
                        <label class="govuk-label govuk-checkboxes__label" for="type-3">
                          Red (2)
                        </label>
          
                      </div>
          
                    </div>
          
                  </fieldset>
          
                </div>
          
                <div class="govuk-form-group">
          
                  <fieldset class="govuk-fieldset">
          
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          
                      Status
          
                    </legend>
          
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="status" name="status" type="checkbox" value="complete" checked>
                        <label class="govuk-label govuk-checkboxes__label" for="status">
                          Completed (2)
                        </label>
          
                      </div>
          
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="status-2" name="status" type="checkbox" value="incomplete">
                        <label class="govuk-label govuk-checkboxes__label" for="status-2">
                          Incomplete (5)
                        </label>
          
                      </div>
          
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="status-3" name="status" type="checkbox" value="inprogress">
                        <label class="govuk-label govuk-checkboxes__label" for="status-3">
                          In progress (3)
                        </label>
          
                      </div>
          
                    </div>
          
                  </fieldset>
          
                </div>
          
              </div>
          
            </div>
          
          </div>
          
    </div>
  </div>

</div>
{% endblock %}
