{% extends "layouts/main.html" %} {% block pageTitle %} Farming grant options finder – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block
  beforeContent %} 
  {% endblock %} 
  
  {% block content %}
  
  <div class="govuk-grid-row">
      <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
          <strong class="govuk-tag govuk-phase-banner__content__tag">
            Private Beta
          </strong>
          <span class="govuk-phase-banner__text">
            This is a new tool – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
          </span>
        </p>
      </div>
      <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="#">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/Beta/SP-MVP/home.html">Farming grant options finder</a>
            </li>
          </ol>
        </div> 
  </div>
  
  <div class="govuk-width-container">
      <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">AHL1: Pollen and nectar flower mix</h1>
            <p class="govuk-body">Find out about where you can do this action and what you need to do for pollen and nectar flower mix.</p>
            <p class="govuk-body">Updated 13 December 2023</p>
          
          <div style=" background: 	#1d70b8"class="govuk-!-padding-4">
              <ul class="govuk-list" style="color: white;">
                  <li><strong>Open or closed:</strong> Open</li>
                  <li><strong>Area of interest:</strong> Biodiversity, Crops, Pollinators and wildlife, Soil</li>
                  <li><strong>Land type:</strong> Arable land</li>
                  <li><strong>Funding types:</strong> Item</li>
                  <li><strong>Grant schemes:</strong> Sustainable Farming Incentive</li>
                  <li><strong>Payment types:</strong> Capital, Revenue</li>
              </ul>
          </div>
          <hr class="govuk-section-break govuk-section-break--m">
          
  
          <ul class="govuk-list" style="color: #1d70b8;">
              <li style="color:	#0b0c0c ;">Contents</li>
              <a class="class=govuk-link govuk-link--no-underline" href="#cost"><li>What you’ll be paid</li></a>
              <a class="class=govuk-link govuk-link--no-underline" href="#aims"> <li>This action’s aim</li></a>
              <a class="class=govuk-link govuk-link--no-underline" href="#where"> <li>Where you can do this action</li></a>
              <a class="class=govuk-link govuk-link--no-underline" href="#eligible"><li>Eligible land for AHL1</li></a>
              <a class="class=govuk-link govuk-link--no-underline" href="#other"><li>Other land management actions or options you can do on the same area as AHL1</li></a>
              <a class="class=govuk-link govuk-link--no-underline" href="#actions"><li>Actions or options that can be located on the same area as AHL1</li></a>
              <a class="class=govuk-link govuk-link--no-underline" href="#what"><li>What to do</li></a>
              <a class="class=govuk-link govuk-link--no-underline" href="#when"><li>When to do it</li></a>
              <a class="class=govuk-link govuk-link--no-underline" href="#how"><li>How to do it</li></a>
              <a class="class=govuk-link govuk-link--no-underline" href="#evidence"><li>What evidence to keep</li></a>

                
          </ul>
          <div class="govuk-inset-text">
            This is an option in Countryside Stewardship. Read
              <a href="https://www.gov.uk/guidance/countryside-stewardship-get-funding-to-protect-and-improve-the-land-you-manage" class="govuk-link">Countryside Stewardship: get funding to protect and improve the land you manage</a>
              to find out more information about Mid Tier and Higher Tier including how to apply.
            </div>
            <a class="class=govuk-link govuk-link--no-underline" id="cost"><h2 class="govuk-heading-m">What you’ll be paid</h2></a>
            <p class="govuk-body">You’ll receive £614 per hectare per year.</p>
            <a class="class=govuk-link govuk-link--no-underline" id="aims"><h2 class="govuk-heading-m">This action’s aim</h2></a>
            <p class="govuk-body">This action’s aim is that there’s a pollen and nectar flower mix which produces areas of flowering plants from late spring and during the summer months.</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>provide food for beneficial pollinators, such as bumble bees, solitary bees, butterflies and hoverflies</li>
              <li>encourage natural crop pest predators as part of an IPM approach if located close to cropped areas</li>
            </ul>

            <a class="class=govuk-link govuk-link--no-underline" id="where"><h2 class="govuk-heading-m">Where you can do this action</h2></a>
            <p class="govuk-body">You can do this action on eligible agricultural land located below the moorland line. The table below sets out what land is eligible for AHL1.</p>
            <a class="class=govuk-link govuk-link--no-underline" id="eligible"><h2 class="govuk-heading-m">Eligible land for AHL1</h2></a>
          
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Eligible land type</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Eligible land use code</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Compatible land cover</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Arable land, including temporary grassland</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><a class="class=govuk-link govuk-link--no-underline" href="https://www.gov.uk/guidance/rural-payments-land-use-codes-2023#al2">Arable crops</a></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">Arable land</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Arable land, including temporary grassland</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><a class="class=govuk-link govuk-link--no-underline" href="https://www.gov.uk/guidance/rural-payments-land-use-codes-2023#al3)">Leguminous and nitrogen-fixing crops</td></a>
                  <td class="govuk-table__cell govuk-table__cell--numeric">Arable land</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Arable land, including temporary grassland</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">FAO1</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">Arable land</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Arable land, including temporary grassland</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">TG01</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">Arable land</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Permanent crops – horticultural</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">TC01</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">Permanent crops</td>
                </tr>
              </tbody>
            </table>
            <p class="govuk-body">
              The <a class="class=govuk-link govuk-link--no-underline" href="https://www.gov.uk/guidance/glossary-of-terms-for-the-sfi-2023-offer">glossary</a>
              explains what we mean by land types, land use codes and compatible land covers.
            </p>
            <p class="govuk-body">The SFI application service will automatically calculate what area may be eligible for this action in each land parcel. 
              This is called the ‘SFI available area’. You must check this area is an eligible land type. Find out how the SFI available area is calculated in the information on
              <a class="class=govuk-link govuk-link" href="https://www.gov.uk/guidance/what-land-is-eligible-for-an-sfi-agreement.">land that’s eligible for the SFI actions.</a>
            </p>
            <p class="govuk-body">You can apply for this action on either the total SFI available area in each land parcel shown in your SFI application, or part of that area.</p>
            <p class="govuk-body">This action is rotational. You can do this action on the same area of eligible land for the duration of your 3-year SFI agreement, or you can move the area each year.</p>

            <a class="class=govuk-link govuk-link--no-underline" id="other"><h2 class="govuk-heading-m">Other land management actions or options you can do on the same area as AHL1</h2></a>
  
            <p class="govuk-body">
              The table below sets out which other SFI actions, Countryside Stewardship (CS) management options, Environmental Stewardship (ES) revenue options and SFI pilot standards can be located on the same area of eligible land as NUM2.
            </p>

            <a class="class=govuk-link govuk-link--no-underline" id="actions"><h2 class="govuk-heading-m">Actions or options that can be located on the same area as AHL1</h2></a>
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Scheme</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Action or option codes that can be located on the same area as AHL1</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">SFI 2023</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">SAM1, IPM1, NUM1</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">CS</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">OR3, OR4, OR5, OT3, OT4, OT5, SW17</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">ES</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">No ES revenue options</td>
                </tr>
              </tbody>
            </table>

            <p class="govuk-body">
              Use the
              <a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants">CS grant finder</a>
              to search for the CS option codes shown above.
            </p>
            <p class="govuk-body">The SFI actions for hedgerows (HRW1, HRW2 and HRW3), CS option BE3 and the introductory level of the SFI pilot hedgerows can be done on the eligible boundaries of a land parcel entered into AHL1.</p>
            <p class="govuk-body">If an action or option cannot be located on the same area within a land parcel as AHL1, this is because it’s not an eligible land type, or the activities are incompatible, or you would be paid twice for doing the same activities on the same land. In this case, that area will be automatically removed from the affected land parcel’s SFI available area in your SFI application.</p>
            <p class="govuk-body">If this is the case, you may be able to do the action on a different area in the same land parcel if:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>it’s an eligible land type for the action or option</li>
              <li>it’s a part-parcel action or option</li>
              <li>the area used for the action or option does not overlap with the area used for AHL1</li>
            </ul>
            <p class="govuk-body">
              Read the information about
              <a class="class=govuk-link govuk-link" href="https://www.gov.uk/guidance/eligibility-of-land-for-an-sfi-agreement-thats-used-for-other-schemes-and-funding-sources">eligibility of land used for other schemes and funding sources</a>
              to find out more.
            </p>
            <a class="class=govuk-link govuk-link--no-underline" id="what"><h2 class="govuk-heading-m">What to do</h2></a>
            <p class="govuk-body">You must establish and maintain blocks or strips of pollen and nectar flower mix on land entered into this action.</p>
            <p class="govuk-body">To establish the blocks or strips of pollen and nectar flower mix, you must sow a grass-free seed mix containing at least 6 flower species. A single species must not exceed 50% of the total seed mix by weight.</p>
            <p class="govuk-body">As a minimum, the grass-free seed mix must include at least 2 of the following, all of which can provide pollen and nectar from late spring and over the summer months and are suitable to be grown in all regions of England:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>Common knapweed</li>
              <li>Musk mallow</li>
              <li>Oxeye daisy</li>
              <li>Wild carrot</li>
              <li>Yarrow</li>
            </ul>
            <p class="govuk-body">Once established, you must maintain the blocks or strips of pollen and nectar mix. To do this, you must manage them in a way that could reasonably be expected to achieve this action’s aim.</p>
            <p class="govuk-body">You must not do the following on the blocks or strips of pollen and nectar mix once they’re established:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>cut or graze them with livestock in a way that means this action’s aim cannot reasonably be achieved</li>
              <li>apply any fertilisers or manures</li>
              <li>use pesticides, except for herbicides to weed wipe or spot treat for the control of injurious weeds, invasive non-native species, nettles or bracken</li>
            </ul>
            <p class="govuk-body">You can maintain existing blocks or strips of pollen and nectar flower mix to meet this action if they:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>meet the requirements explained above</li>
              <li>are not already being paid for under another environmental land management scheme option, such as CS option AB1 (nectar flower mix)</li>
            </ul>

            <a class="class=govuk-link govuk-link--no-underline" id="when"><h2 class="govuk-heading-m">When to do it</h2></a>
            <p class="govuk-body">If you’re doing this action on the same area of land for the 3-year duration of your SFI agreement, you must:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>establish the blocks or strips of pollen and nectar flower mix during the first 12 months of your SFI agreement</li>
              <li>maintain the blocks or strips of pollen and nectar flower mix on the same area of land in each subsequent year of your 3-year SFI agreement</li>
            </ul>
            <p class="govuk-body">If you’re rotating this action around your farm, each year of your SFI agreement you must do it for a period of time that could reasonably be expected to achieve this action’s aim.</p>

            <a class="class=govuk-link govuk-link--no-underline" id="how"><h2 class="govuk-heading-m">How to do it</h2></a>
            <p class="govuk-body">It’s up to you how you complete this action, as long as you do it in a way that can reasonably be expected to achieve this action’s aim.</p>
            <p class="govuk-body">
              You may find it helpful to read the voluntary guidance on
              <a class="class=govuk-link govuk-link" href="https://www.gov.uk/guidance/how-to-do-the-sfi-actions-for-farmland-wildlife-on-arable-and-horticultural-land#how-to-establish-and-maintain-blocks-or-strips-of-pollen-and-nectar-flower-mix-ahl1">how to establish and maintain blocks or strips of pollen and nectar flower mix</a>
              , but you do not have to follow it.
            </p>

            <a class="class=govuk-link govuk-link--no-underline" id="evidence"><h2 class="govuk-heading-m">What evidence to keep</h2></a>
            <p class="govuk-body">You should keep evidence to show what you’ve done to complete this action. This will help if it’s not clear that you’ve completed the action in a way that could reasonably be expected to achieve this action’s aim. You must supply this evidence if we ask for it.</p>
            <p class="govuk-body">This evidence could include photographs and other documentation to show what you’ve done to complete this action. It could also include field operations at a land parcel level and associated invoices. If you choose to take photographs, read the guidance on
              <a class="class=govuk-link govuk-link" href="https://www.gov.uk/guidance/how-to-take-photographic-evidence-for-sfi-actions).">how to take photographic evidence for SFI actions</a>
            </p>
          </div>
            <!-- one third column-->
          <div class="govuk-grid-column-one-third">
            <hr class="govuk-section-break govuk-section-break--m">
            <hr class="govuk-section-break govuk-section-break--m">
            <hr class="govuk-section-break govuk-section-break--m">
            <hr class="govuk-section-break govuk-section-break--m">
            <hr class="govuk-section-break govuk-section-break--m">
            <hr class="govuk-section-break govuk-section-break--m">
            <hr class="govuk-section-break govuk-section-break--m">
            <hr class="govuk-section-break govuk-section-break--m">
            <hr class="govuk-section-break govuk-section-break--m">
            <hr class="govuk-section-break govuk-section-break--m">
            <hr class="govuk-section-break govuk-section-break--m">
            
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" style=" border-top: 2px solid #1d70b8;">
            <h2 class="govuk-heading-s">Related content</h2>
            <a href="https://www.gov.uk/guidance/sfi-actions-for-farmland-wildlife-on-arable-and-horticultural-land#ahl2-winter-bird-food-on-arable-and-horticultural-land" class="govuk-link"><p class="govuk-body-s">AHL2: Winter bird food on arable and horticultural land</p></a>
            <a href="https://www.gov.uk/guidance/sfi-actions-for-farmland-wildlife-on-arable-and-horticultural-land#ahl3-grassy-field-corners-or-blocks"><p class="govuk-body-s">AHL3: Grassy field corners or blocks</p></a>
            <a href="SFI actions for farmland wildlife on arable and horticultural land" class="govuk-link"><p class="govuk-body-s">SFI actions for farmland wildlife on arable and horticultural land</p></a>
           
          </div>
      </main>
  
  
  
  {% endblock %}