{% extends "layouts/main.html" %} {% block pageTitle %} Farming grant options finder – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block
beforeContent %} 
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Private Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new tool – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/Beta/SP-MVP/home.html">Farming grant options finder</a>
          </li>
        </ol>
      </div> 
</div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">FETF8: Salad leaf harvester</h1>
          <p class="govuk-body">Find out about the item specification and score for the salad leaf harvester.</p>
          <p class="govuk-body">Updated 8 November 2023</p>
        
        <div style=" background: 	#1d70b8"class="govuk-!-padding-4">
            <ul class="govuk-list" style="color: white;">
                <li><strong>Open or closed:</strong> Open</li>
                <li><strong>Area of interest:</strong> Crops, Pollinators and wildlife</li>
                <li><strong>Land type:</strong> Arable land</li>
                <li><strong>Funding types:</strong> Item</li>
                <li><strong>Grant schemes:</strong> Farming Equipment and Technology Fund (FETF)</li>
                <li><strong>Payment types:</strong> Capital</li>
              </ul>
        </div>
        <hr class="govuk-section-break govuk-section-break--m">
        

        <ul class="govuk-list" style="color: #1d70b8;">
            <li style="color:	#0b0c0c ;">Contents</li>
            <a class="class=govuk-link govuk-link--no-underline" href="#cost"><li>Expected average costs of item</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#quantity"><li>Grant amount (based on quantity of 1)</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#where"> <li>Where to use this item</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#spec"><li>Specification</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#score"><li>Item score</li></a>
        </ul>
        <div class="govuk-inset-text">
            This is an item in the Farming Equipment and Technology Fund (FETF). Read 
            <a href="https://www.gov.uk/guidance/farming-investment-fund" class="govuk-link">Farming Investment Fund </a>
            to find out more information about the Farming Equipment and Technology Fund including grants for productivity and slurry items and how to apply.
          </div>
          <a class="class=govuk-link govuk-link--no-underline" id="cost"><h2 class="govuk-heading-m">Expected average costs of item</h2></a>
          <p class="govuk-body">£2,569</p>
          <a class="class=govuk-link govuk-link--no-underline" id="quantity"><h2 class="govuk-heading-m">Grant amount (based on quantity of 1)</h2></a>
          <p class="govuk-body">£1,027</p>
          <a class="class=govuk-link govuk-link--no-underline" id="where"><h2 class="govuk-heading-m">Where to use this item</h2></a>
          <p class="govuk-body">Available for Farming Equipment and Technology Fund.</p>
          <a class="class=govuk-link govuk-link--no-underline" id="spec"><h2 class="govuk-heading-m">Specification</h2></a>
          <p class="govuk-body">Manual push harvester, 80cm minimum cutting width.</p>
          <p class="govuk-body">Maximum of 2 per application.</p>
          <a class="class=govuk-link govuk-link--no-underline" id="score"><h2 class="govuk-heading-m">Item score</h2></a>
          <p class="govuk-body">55</p>
          <p class="govuk-body">Each item has a score assigned to it based on our assessment of how well it meets the objectives of the scheme. If the scheme is oversubscribed, we will allocate funding to those items with the highest score first.</p>
          
    </div>
    </main>
  </div>


{% endblock %}