{% extends "layout.html" %}

{% block pageTitle %}
  Get funding for farming and land management
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}
<a onclick="history.back()" class="govuk-back-link">Back</a>
{% endblock %}



{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="gf-location" method="get" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  What type of {% if (data['user-type'] == "Farmer") %}farm {% elseif (data['user-type'] == "Forester") %}land {% else %}farm or land {% endif %}do you need funding for?
                </h1>
              </legend>
              
              <!-- Farmer options -->
              {% if (data['user-type'] == "Farmer") %}
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-farm" name="type-of-farm" type="radio" value="Arable">
                  <label class="govuk-label govuk-radios__label" for="type-of-farm">
                    Arable
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-farm-2" name="type-of-farm" type="radio" value="Pastoral">
                  <label class="govuk-label govuk-radios__label" for="type-of-farm-2">
                    Pastoral
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-farm-3" name="type-of-farm" type="radio" value="Mixed farming">
                  <label class="govuk-label govuk-radios__label" for="type-of-farm-3">
                    Mixed farming
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-farm-4" name="type-of-farm" type="radio" value="Horticulture">
                  <label class="govuk-label govuk-radios__label" for="type-of-farm-4">
                    Horticulture
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-farm-5" name="type-of-farm" type="radio" value="Market gardening">
                  <label class="govuk-label govuk-radios__label" for="type-of-farm-5">
                    Market gardening
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="type-of-farm-6" name="type-of-farm" type="radio" value="Viticulture">
                  <label class="govuk-label govuk-radios__label" for="type-of-farm-6">
                    Viticulture
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Help with land types
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul>
                <li>Arable - growing of crops and cereals</li>
                <li>Pastoral - rearing and production of animals including pigs, chickens, hill farming sheep, beef and dairy cattle)</li>
                <li>Mixed farming - a combination of arable and pastoral</li>
                <li>Horticulture - production of flowers, fruit, vegetables and ornamental plants)</li>
                <li>Market gardening - production of fruit and vegetables</li>
                <li>Viticulture - grapes</li>
              </ul>
            </div>
          </details>

          <!-- Forester options -->
          {% elseif (data['user-type'] == "Forester") %}
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="type-of-farm" name="type-of-farm" type="radio" value="Woodland">
              <label class="govuk-label govuk-radios__label" for="type-of-farm">
                Woodland
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="type-of-farm-2" name="type-of-farm" type="radio" value="Forest">
              <label class="govuk-label govuk-radios__label" for="type-of-farm-2">
                Forest
              </label>
            </div>
        </fieldset>
      </div>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with land types
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul>
            <li>Woodland - areas covered with trees and vegitation</li>
            <li>Forest - large areas covered with trees and vegitation</li>
          </ul>
        </div>
      </details>

      <!-- ALL options -->
      {% else %}
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="arable" name="type-of-farm" type="radio" value="Arable">
          <label class="govuk-label govuk-radios__label" for="arable">
            Arable
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="pastoral" name="type-of-farm" type="radio" value="Pastoral">
          <label class="govuk-label govuk-radios__label" for="pastoral">
            Pastoral
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="mixed-farmning" name="type-of-farm" type="radio" value="Mixed farming">
          <label class="govuk-label govuk-radios__label" for="mixed-farmning">
            Mixed farming
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="horticulture" name="type-of-farm" type="radio" value="Horticulture">
          <label class="govuk-label govuk-radios__label" for="horticulture">
            Horticulture
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="market-gardening" name="type-of-farm" type="radio" value="Market gardening">
          <label class="govuk-label govuk-radios__label" for="market-gardening">
            Market gardening
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="viticulture" name="type-of-farm" type="radio" value="Viticulture">
          <label class="govuk-label govuk-radios__label" for="viticulture">
            Viticulture
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="woodland" name="type-of-farm" type="radio" value="Woodland">
          <label class="govuk-label govuk-radios__label" for="oodland">
            Woodland
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="forest" name="type-of-farm" type="radio" value="Forest">
          <label class="govuk-label govuk-radios__label" for="forest">
            Forest
          </label>
        </div>
      </div>
    </fieldset>
  </div>

  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Help with land types
      </span>
    </summary>
    <div class="govuk-details__text">
      <ul>
        <li>Arable - growing of crops and cereals</li>
        <li>Pastoral - rearing and production of animals including pigs, chickens, hill farming sheep, beef and dairy cattle)</li>
        <li>Mixed farming - a combination of arable and pastoral</li>
        <li>Horticulture - production of flowers, fruit, vegetables and ornamental plants)</li>
        <li>Market gardening - production of fruit and vegetables</li>
        <li>Viticulture - grapes</li>
        <li>Woodland - areas covered with trees and vegitation</li>
        <li>Forest - large areas covered with trees and vegitation</li>
      </ul>
    </div>
  </details>
  {% endif %}

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>



{% endblock %}
