{% extends "layout.html" %}

{% block pageTitle %}
  Get funding for farming and land management
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}
<a onclick="history.back()" class="govuk-back-link">Back</a>
{% endblock %}



{% block content %}


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="gf-scheme-policy-updates.html" method="get" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="user-type-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  What area do you specialise in?
                </h1>
              </legend>
              <div id="user-type-hint" class="govuk-hint">
                Select all that apply.
              </div>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="farmer" name="user-type" type="checkbox" value="Farmer">
                  <label class="govuk-label govuk-checkboxes__label" for="farmer">
                    Farmer
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="forester" name="user-type" type="checkbox" value="Forester">
                  <label class="govuk-label govuk-checkboxes__label" for="forester">
                    Forester
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="grower" name="user-type" type="checkbox" value="Grower">
                  <label class="govuk-label govuk-checkboxes__label" for="grower">
                    Grower
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="conservation" name="user-type" type="checkbox" value="Conservation">
                  <label class="govuk-label govuk-checkboxes__label" for="conservatrion">
                    Conservation or habitat manager
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>

    <div class="govuk-grid-row govuk-!-margin-top-4">
      <div class="govuk-grid-column-two-thirds" style="padding-top: 20px; border-top: 1px solid #b1b4b6;">
  
        <h2 class="govuk-heading-m govuk-!-padding-top-2">If you need help</h2>
        <p class="govuk-body-m">You can call our helpline to assist you with advice or contact us through the following email address.</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-8">
          <li><span id="phoneNumber">0123 4567 890</span>, Monday to Friday 8.30am to 5pm</li>
        </ul>

      </div>
    </div>


{% endblock %}
