{% extends "layouts/main.html" %}

{% block pageTitle %}
  NLPprototype – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="event-name">
            Your information
          </label>
        </h1>

        <form class="form" action="/path/of/next/page" method="post">
          <div class="govuk-form-group">
            <label class="govuk-label" for="more-detail">
              Add additional criteria, For example, Type of scheme, Funding cover etc  
            </label>
          </div>


  

          <input class="govuk-input" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint" autocomplete="list">
      </div>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">Your information</h2>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Land size
              </dt>
              <dd class="govuk-summary-list__value">
                38 hectares
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> Land size</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Location
              </dt>
              <dd class="govuk-summary-list__value">
                Yorkshire
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> Location</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Funding cover 
              </dt>
              <dd class="govuk-summary-list__value">
                More than £500
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> Funding cover</span>
                </a>
              </dd>
            </div>
          </dl>
        </div>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
    </div>
  </div>
  </div>

{% endblock %}
