{% extends "layouts/main.html" %} {% block pageTitle %} Farming grant options finder – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block
beforeContent %} 
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Private Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new tool – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/Beta/SP-MVP/home.html">Farming grant options finder</a>
          </li>
        </ol>
      </div> 
</div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">[CLOSED] FETF6: Inter row hoe 3m</h1>
          <p class="govuk-body">How much you can get towards an inter row hoe 3m.</p>
          <p class="govuk-body">Updated 8 November 2023</p>
        
        <div style=" background: 	#1d70b8"class="govuk-!-padding-4">
            <ul class="govuk-list" style="color: white;">
                <li><strong>Open or closed:</strong> Open</li>
                <li><strong>Area of interest:</strong> Crops, Pollinators and wildlife</li>
                <li><strong>Land type:</strong> Arable land</li>
                <li><strong>Funding types:</strong> Item</li>
                <li><strong>Grant schemes:</strong> Farming Equipment and Technology Fund (FETF)</li>
                <li><strong>Payment types:</strong> Capital</li>
              </ul>
        </div>
        <hr class="govuk-section-break govuk-section-break--m">
        

        <ul class="govuk-list" style="color: #1d70b8;">
            <li style="color:	#0b0c0c ;">Contents</li>
            <a class="class=govuk-link govuk-link--no-underline" href="#cost"><li>Expected average costs of item</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#quantity"><li>Grant amount (based on quantity of 1)</li></a>
                        <a class="class=govuk-link govuk-link--no-underline" href="#scheme"> <li>Grant scheme information</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#what"> <li>&#8213; How much money you can apply for</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#how"> <li>&#8213; How your application is assessed</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#example1"> <li>&#8213; Example 1</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#example2"> <li>&#8213; Example 2</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#spec"><li>Specification</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#score"><li>Item score</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#info"><li>Further information</li></a>
        </ul>
               <div class="govuk-inset-text">
            This is an item in the Farming Equipment and Technology Fund (FETF).
            <p class="govuk-body">It comes under the Productivity and Slurry theme.</p>
  
        </div>
          <a class="class=govuk-link govuk-link--no-underline" id="cost"><h2 class="govuk-heading-m">Expected average costs of item</h2></a>
          <p class="govuk-body">£18,030</p>
          <a class="class=govuk-link govuk-link--no-underline" id="quantity"><h2 class="govuk-heading-m">Grant amount (based on quantity of 1)</h2></a>
          <p class="govuk-body">£9,015</p>
          <p class="govuk-body">
            The amount listed is the actual grant amount we will pay you and is a contribution towards the total cost of the item. It is your responsibility to 
            fund the remaining cost of an item. Items must be paid for in full before claiming your grant payment.
          </p>
           <a class="class=govuk-link govuk-link--no-underline" id="scheme"><h2 class="govuk-heading-m">Grant scheme information</h2></a>
          <p class="govuk-body">
            FETF 2023 has been split into 2 themes:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Productivity and Slurry items</li>
            <li>Animal Health and Welfare items</li>
          </ul>
          <p class="govuk-body">You can apply to either theme or both, for items that best suit your needs.</p>
          <div class="govuk-inset-text">
            The FETF 2023 grant is competitive, and you will not automatically get a grant.
          </div>
          <h3 class="govuk-heading-s" id="what">How much money you can apply for</h3>
          <p class="govuk-body">
            FETF grants are for a minimum of £1,000 and a maximum of £25,000 per theme. This means the maximum grant you can receive for Productivity 
            and Slurry items is £25,000 and the maximum grant you can receive for Animal Health and Welfare items is £25,000.
          </p>
          <p class="govuk-body">If you were successful and received funding in Round 1 you can still apply for up to £25,000 per theme.</p>
          <p class="govuk-body">The minimum and maximum grant levels apply to 2023 only.</p>

          <h3 class="govuk-heading-s" id="how">How your application is assessed</h3>
          <p class="govuk-body">We will allocate funding starting with the highest scoring applications with the highest average scores that best meet the 
            scoring criteria, until the available funding is fully allocated. This will set a minimum threshold for the round.
          </p>
          <p class="govuk-body">The scores for each item you select will be added up to give the total score for all items in your application and then 
            used to work out the average score for the number of items you have requested.
          </p>
          <p class="govuk-body">
            The results of the previous application rounds do not affect this round.
          </p>
          <p class="govuk-body">An example of how applications are scored is provided below:</p>
          <h4 class="govuk-heading-s" id="example1">Example 1</h4>
          <p class="govuk-body">1 x FETF45 - 6 metre (m) seed drill (item score 64)</p>
          <p class="govuk-body">Application scores 64</p>
          <h4 class="govuk-heading-s" id="example2">Example 2</h4>
          <p class="govuk-body">2 x FETF45 - 6m seed drills (item score 64)</p>
          <p class="govuk-body">2 x FETF27 - Slurry separators (item score 63)</p>
          <p class="govuk-body">1 x FETF32 - Dribble bar minimum working width 6m (item score 58)</p>
          <hr class="govuk-section-break govuk-section-break--m">
          <p class="govuk-body">Application scores 61.67 (64+63+58=185÷3)</p>
          <a class="class=govuk-link govuk-link--no-underline" id="spec"><h2 class="govuk-heading-m">Specification</h2></a>
          <p class="govuk-body">A system using precision camera guided hoes to remove weeds from between crop rows.</p>
          <p class="govuk-body">Designed to be used at relatively high speed and to be able to automatically distinguish between the crop and weeds.</p>
          <p class="govuk-body">Minimum working width 3m.</p>
          <p class="govuk-body">Camera system can detect position of crop rows and automatically adjust the hoes to only remove the weeds between the crop rows.</p>
          <p class="govuk-body">Serial number required - to be submitted with your claim for payment.</p>
          <a class="class=govuk-link govuk-link--no-underline" id="score"><h2 class="govuk-heading-m">Item score</h2></a>
          <p class="govuk-body">The score for this item 73.</p>
          <p class="govuk-body">Each item has been assigned a score out of 100 based on certain criteria.</p>
          <a class="class=govuk-link govuk-link--no-underline" id="info"><h2 class="govuk-heading-m">Further information</h2></a>
          <p class="govuk-body">
            Read
            <a class="class=govuk-link govuk-link" href="https://www.gov.uk/government/publications/farming-equipment-and-technology-fund-fetf-2023">Farming Equipment and Technology Fund 2023</a>
            to find out more information about FETF, including how to apply.
          </p>
    </div>
    </main>
  </div>


{% endblock %}