{% extends "layouts/main.html" %} {% block pageTitle %} Farming grant options finder – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block
beforeContent %} 
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Private Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new tool – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/Beta/SP-MVP/home.html">Farming grant options finder</a>
          </li>
        </ol>
      </div> 
</div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Centrifugal chopper pump</h1>
          <p class="govuk-body">Find out about the grant contribution and item specification for the centrifugal chopper pump.</p>
          <p class="govuk-body">Updated 13 December 2023</p>
        
        <div style=" background: 	#1d70b8"class="govuk-!-padding-4">
            <ul class="govuk-list" style="color: white;">
                <li><strong>Open or closed:</strong> Open</li>
                <li><strong>Area of interest:</strong> Air quality, Slurry management</li>
                <!--<li><strong>Land type:</strong> Arable land</li> -->
                <li><strong>Funding types:</strong> Item</li>
                <li><strong>Grant schemes:</strong> Slurry Infrastructure grant</li>
                <li><strong>Payment types:</strong> Capital</li>
              </ul>
        </div>
        <hr class="govuk-section-break govuk-section-break--m">
        

        <ul class="govuk-list" style="color: #1d70b8;">
            <li style="color:	#0b0c0c ;">Contents</li>
            <a class="class=govuk-link govuk-link--no-underline" href="#contribution"><li>Grant contribution</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#where"> <li>Where to use this item</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#spec"><li>Specification</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#reference-cost"><li>Reference cost includes</li></a>
        </ul>
        <div class="govuk-inset-text">
          This is an item in the Slurry Infrastructure grant. Read 
            <a href="https://www.gov.uk/government/publications/slurry-infrastructure-grant" class="govuk-link"> Slurry Infrastructure grant: guidance for applicants</a>
            to find out more information about slurry storage including how to apply.
        </div>
          <a class="class=govuk-link govuk-link--no-underline" id="contribution"><h2 class="govuk-heading-m">Grant contribution</h2></a>
          <p class="govuk-body">£5,635 each</p>
          <a class="class=govuk-link govuk-link--no-underline" id="where"><h2 class="govuk-heading-m">Where to use this item</h2></a>
          <p class="govuk-body">Available for Slurry Infrastructure grant.</p>
          <a class="class=govuk-link govuk-link--no-underline" id="spec"><h2 class="govuk-heading-m">Specification</h2></a>
          <p class="govuk-body">Fixed electrically powered centrifugal chopper pump with minimum 80mm diameter outlet. Minimum transfer rate of 100m³ an hour at a 10m pumping head.</p>
          <p class="govuk-body">Pump to be suitable for operation in environments with pH down to 5.5.</p>
            <ul class="govuk-list govuk-list--bullet">
                <li><a href="https://www.legislation.gov.uk/uksi/2010/639/contents/made" class="govuk-link">silage, slurry and agricultural fuel oil (SSAFO) 2010 regulations</a></li>
                <li>BS5502-50</li>
                <li>BS EN ISO 28722:2011</li>
            </ul>
            <p class="govuk-body">
              The store must have a minimum freeboard of 300mm and be designed with a lifespan of more than 20 years.
            </p>
            <a class="class=govuk-link govuk-link--no-underline" id="reference-cost"><h2 class="govuk-heading-m">Reference cost includes</h2></a>
            <ul class="govuk-list govuk-list--bullet">
              <li>supply and installation</li>
              <li>electrical connection to farms distribution board</li>
            </ul>
            <p class="govuk-body">
              Mobile pumps are not eligible under this item.
            </p>
            
    </div>
    </main>
  </div>


{% endblock %}