{% extends "layouts/main.html" %} {% block pageTitle %} Farming grant options finder – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block
beforeContent %} 
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Private Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new tool – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/Beta/SP-MVP/home.html">Farming grant options finder</a>
          </li>
        </ol>
      </div> 
</div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Fixed flexible cover</h1>
          <p class="govuk-body">Find out about the grant contribution and item specification for the fixed flexible cover.</p>
          <p class="govuk-body">Updated 13 December 2023</p>
        
        <div style=" background: 	#1d70b8"class="govuk-!-padding-4">
            <ul class="govuk-list" style="color: white;">
                <li><strong>Open or closed:</strong> Open</li>
                <li><strong>Area of interest:</strong> Air quality, Slurry management</li>
                <!--<li><strong>Land type:</strong> Arable land</li> -->
                <li><strong>Funding types:</strong> Item</li>
                <li><strong>Grant schemes:</strong> Slurry Infrastructure grant</li>
                <li><strong>Payment types:</strong> Capital</li>
              </ul>
        </div>
        <hr class="govuk-section-break govuk-section-break--m">
        

        <ul class="govuk-list" style="color: #1d70b8;">
            <li style="color:	#0b0c0c ;">Contents</li>
            <a class="class=govuk-link govuk-link--no-underline" href="#contribution"><li>Grant contribution</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#where"> <li>Where to use this item</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#spec"><li>Specification</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#reference-cost"><li>Reference cost includes</li></a>
        </ul>
        <div class="govuk-inset-text">
          This is an item in the Slurry Infrastructure grant. Read 
            <a href="https://www.gov.uk/government/publications/slurry-infrastructure-grant" class="govuk-link"> Slurry Infrastructure grant: guidance for applicants</a>
            to find out more information about slurry storage including how to apply.
        </div>
          <a class="class=govuk-link govuk-link--no-underline" id="contribution"><h2 class="govuk-heading-m">Grant contribution</h2></a>
          <p class="govuk-body">£32.17 per m2</p>
          <a class="class=govuk-link govuk-link--no-underline" id="where"><h2 class="govuk-heading-m">Where to use this item</h2></a>
          <p class="govuk-body">Available for Slurry Infrastructure grant.</p>
          <a class="class=govuk-link govuk-link--no-underline" id="spec"><h2 class="govuk-heading-m">Specification</h2></a>
          <p class="govuk-body">Cover made from flexible or pliant sheet material such as reinforced polyvinyl chloride (PVC) sheeting.</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>designed to have a life expectancy of at least 10 years</li>
              <li>made from material resistant to ammonia and resilient or stabilized to UV</li>
              <li>designed to form a taut skin when stretched over the top of the store</li>
              <li>either self-supporting or supported on a suitably corrosion-proof structure to BS 5502 to prevent direct contact between cover and slurry</li>
              <li>constructed to prevent water ingress into the store and reduce ammonia emissions from the store into the surrounding atmosphere</li>
              <li>fitted with gas vents to reduce the build-up of gas</li>
            </ul>
            <a class="class=govuk-link govuk-link--no-underline" id="reference-cost"><h2 class="govuk-heading-m">Reference cost includes</h2></a>
            <ul class="govuk-list govuk-list--bullet">
              <li>support structure</li>
              <li>cover</li>
              <li>installation</li>
            </ul>
            
    </div>
    </main>
  </div>


{% endblock %}