{% extends "layouts/main.html" %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Check your information</h1>
      

        <h2 class="govuk-heading-m">You entered:</h2>
        <p class="govuk-body">'I want to find what organic grants exist for my land.'</p>
        

        <h2 class="govuk-heading-m">Add to your search</h2>

      </div>
    </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        <form class="form" method="post">
          <div class="govuk-form-group">
            <p class="govuk-hint">This could be a question, a statement, or any other text. </p>
            <p class="govuk-body">More information (optional)</p>
            <input class="govuk-input govuk-!-margin-bottom-4" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint" autocomplete="list">
          </div>
        </form>
        </div>

      <div class="govuk-grid-column-one-third">
        <hr class="govuk-section-break govuk-section-break--l govuk-!-margin-bottom-8 ">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Add information
        </button>
      </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
      <h3 class="govuk-heading-m">Your answers</h3>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <p>
            <a href="startwiz.html">Start again</a>
        </p>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Funding type   
            </dt>
            <dd class="govuk-summary-list__value">
              All funding
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Land type
            </dt>
            <dd class="govuk-summary-list__value">
              Organic land
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Closing date
            </dt>
            <dd class="govuk-summary-list__value">
              All open grants and funding
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> customer reference</span>
              </a>
            </dd>
          </div>
          </dl>

          <a href="AI-results.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Confirm and continue
            </a>
      </div>
    </div>
  </main>
</div> 

{% endblock %}
