{% extends "layouts/main.html" %} {% block pageTitle %} Farming grant options finder – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block
beforeContent %} 
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Private Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new tool – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/Beta/SP-MVP/home.html">Farming grant options finder</a>
          </li>
        </ol>
      </div> 
</div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Earth bank lagoon with synthetic liner</h1>
          <p class="govuk-body">Find out about the grant contribution and item specification for the earth bank lagoon with synthetic liner.</p>
          <p class="govuk-body">Updated 13 December 2023</p>
        
        <div style=" background: 	#1d70b8"class="govuk-!-padding-4">
            <ul class="govuk-list" style="color: white;">
                <li><strong>Open or closed:</strong> Open</li>
                <li><strong>Area of interest:</strong> Air quality, Slurry management</li>
                <!--<li><strong>Land type:</strong> Arable land</li> -->
                <li><strong>Funding types:</strong> Item</li>
                <li><strong>Grant schemes:</strong> Slurry Infrastructure grant</li>
                <li><strong>Payment types:</strong> Capital</li>
              </ul>
        </div>
        <hr class="govuk-section-break govuk-section-break--m">
        

        <ul class="govuk-list" style="color: #1d70b8;">
            <li style="color:	#0b0c0c ;">Contents</li>
            <a class="class=govuk-link govuk-link--no-underline" href="#contribution"><li>Grant contribution</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#where"> <li>Where to use this item</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#spec"><li>Specification</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#reference-cost"><li>Reference cost includes</li></a>
        </ul>
        <div class="govuk-inset-text">
          This is an item in the Slurry Infrastructure grant. Read 
            <a href="https://www.gov.uk/government/publications/slurry-infrastructure-grant" class="govuk-link"> Slurry Infrastructure grant: guidance for applicants</a>
            to find out more information about slurry storage including how to apply.
        </div>
          <a class="class=govuk-link govuk-link--no-underline" id="contribution"><h2 class="govuk-heading-m">Grant contribution</h2></a>
          <p class="govuk-body">£18.22 per m3</p>
          <a class="class=govuk-link govuk-link--no-underline" id="where"><h2 class="govuk-heading-m">Where to use this item</h2></a>
          <p class="govuk-body">Available for Slurry Infrastructure grant.</p>
          <a class="class=govuk-link govuk-link--no-underline" id="spec"><h2 class="govuk-heading-m">Specification</h2></a>
          <p class="govuk-body">Construction of an earth bank synthetically lined lagoon which must comply with
            <a href="https://www.legislation.gov.uk/uksi/2010/639/contents/made" class="govuk-link">SSAFO 2010</a>
            , including banks designed to withstand loads calculated as shown in BS 5502-50. Lagoon must have a 750mm freeboard and be designed with a lifespan of more than 20 years.
          </p>
            <a class="class=govuk-link govuk-link--no-underline" id="reference-cost"><h2 class="govuk-heading-m">Reference cost includes</h2></a>
            <ul class="govuk-list govuk-list--bullet">
              <li>excavation of lagoon base and area of lagoon walls</li>
              <li>excavation of subsoil for below ground element</li>
              <li>construction of lagoon walls from excavated subsoil including compacting of material</li>
              <li>embankment top should meet
                <a href="https://www.ciria.org/ItemDetail?iProductCode=C759F&Category=FREEPUBS" class="govuk-link">CIRIA C759 specification</a>
                and allow room for anchoring the store cover
              </li>
              <li>supply and installation of liner</li>
              <li>application of site topsoil to landscape external wall of lagoon</li>
              <li>fixed abstraction and mixing points</li>
              <li>leak detection and gas relief system</li>
              <li>gas monitoring safety equipment</li>
            </ul>
            <p class="govuk-body">
              Liner must have a life expectancy of more than 20 years and be suitable for use with acidified slurry (pH of 5.5).
            </p>
            
    </div>
    </main>
  </div>


{% endblock %}