{% extends "layouts/main.html" %} {% block pageTitle %} Check your answers
template – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block
beforeContent %} 
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Private Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new tool – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/Beta/SP-MVP/home.html">Farming grant options finder</a>
          </li>
        </ol>
      </div> 
</div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Concrete bunker to accommodate short term storage of stackable material from the slurry separator</h1>
          <p class="govuk-body">Find out about the grant contribution and item specification for the concrete bunker to accommodate short term storage of stackable material from the slurry separator.</p>
          <p class="govuk-body">Updated 13 December 2023</p>
        
        <div style=" background: 	#1d70b8"class="govuk-!-padding-4">
            <ul class="govuk-list" style="color: white;">
                <li><strong>Open or closed:</strong> Open</li>
                <li><strong>Area of interest:</strong> Air quality, Slurry management</li>
                <!--<li><strong>Land type:</strong> Arable land</li> -->
                <li><strong>Funding types:</strong> Item</li>
                <li><strong>Grant schemes:</strong> Slurry Infrastructure grant</li>
                <li><strong>Payment types:</strong> Capital</li>
              </ul>
        </div>
        <hr class="govuk-section-break govuk-section-break--m">
        

        <ul class="govuk-list" style="color: #1d70b8;">
            <li style="color:	#0b0c0c ;">Contents</li>
            <a class="class=govuk-link govuk-link--no-underline" href="#contribution"><li>Grant contribution</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#where"> <li>Where to use this item</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#spec"><li>Specification</li></a>
        </ul>
        <div class="govuk-inset-text">
          This is an item in the Slurry Infrastructure grant. Read 
            <a href="https://www.gov.uk/government/publications/slurry-infrastructure-grant" class="govuk-link"> Slurry Infrastructure grant: guidance for applicants</a>
            to find out more information about slurry storage including how to apply.
        </div>
          <a class="class=govuk-link govuk-link--no-underline" id="contribution"><h2 class="govuk-heading-m">Grant contribution</h2></a>
          <p class="govuk-body">£168.18 per m2 to a maximum grant of £16,818 (based on 100m2) </p>
          <a class="class=govuk-link govuk-link--no-underline" id="where"><h2 class="govuk-heading-m">Where to use this item</h2></a>
          <p class="govuk-body">Available for Slurry Infrastructure grant.</p>
          <a class="class=govuk-link govuk-link--no-underline" id="spec"><h2 class="govuk-heading-m">Specification</h2></a>
          <p class="govuk-body">Construction of an impermeable concrete bunker to collect solid fraction directly from separator.  </p>
          <p class="govuk-body">
            Floor constructed of at least 150mm concrete laid on 200mm consolidated hardcore. Enclosed on two sides and one end by 2m high 150mm thick concrete panel walls supported by RSC posts. All joints on floor and wall to be sealed to prevent seepage. 
          </p>
          <p class="govuk-body">Floor to slope away from open end at a minimum fall of 1in 80 towards a drain. Drain to be connected to reception pit. </p>
          <p class="govuk-body">Bunker must be covered with an impermeable cover when in use. </p>
          <p class="govuk-body">Bunker constructed to relevant sections of BS5502 -50 and SSAFO 2010 regulations. </p>
          <p class="govuk-body">You can only apply for a grant towards a concrete bunker if you are applying for a separator. </p>
            
    </div>
    </main>
  </div>


{% endblock %}