{% extends "layout.html" %}

{% block pageTitle %}
  Funding for farmers is changing
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Environment</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Food and farming</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Food and farming industry</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<style>
  .metadata-logo-wrapper {
    border-top: 1px solid #b1b4b6;
    margin-left: 15px;
    margin-right: 15px;
  }
  .metadata-logo-wrapper .metadata-column {
    padding-left: 0;
    padding-top: 15px;
  }
  .gem-c-metadata {
    font-size: 16px;
    line-height: 1.25;
    padding-bottom: 4px;
  }
  .gem-c-metadata__term {
    box-sizing: border-box;
    float: left;
    clear: left;
    padding-right: 5px;
    margin-top: 0;
  }
  .govuk-body-s {
    line-height: 1.75em;
  }
  .gem-c-single-page-notification-button__submit {
    padding: 5px 10px;
    margin: 0;
    border: 1px solid #b1b4b6;
    color: #1d70b8;
    cursor: pointer;
    background: none;
  }
  .gem-c-single-page-notification-button__submit:hover {
    background-color: #f3f2f1;
    color: #003078;
  }
  .gem-c-single-page-notification-button__icon {
    color: #000000;
    padding-right: 6px;
    top: 3px;
    position: relative;
  }
  .gem-c-devolved-nations {
    margin-bottom: 30px;
    padding: 20px 30px;
    background: #f3f2f1;
  }
  .navigation-container {
    padding: 20px 0 20px 0;
  }
  .list-item--dashed:before {
    content: "—";
    position: relative ;
    left: 0;
    width: 20px;
    padding-right: 10px;
    overflow: hidden;
  }
  .gem-c-print-link {
    display: block;
  }
  .gem-c-print-link__button {
    padding: 5px 10px;
    margin: 0;
    border: 1px solid #b1b4b6;
    color: #1d70b8;
    cursor: pointer;
    background: none;
    text-decoration: none;
  }
  .gem-c-print-link__button:hover {
    background-color: #f3f2f1; 
    color: #003078;
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div>
      <span class="govuk-caption-l gem-c-title__context govuk-!-margin-top-4">Guidance</span>
      <h1 class="govuk-heading-l">
        Funding for farmers and land managers
      </h1>
    </div>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body govuk-!-font-size-24">You can apply for money to improve the environment and your farm's productivity if you're a farmer, land manager or forester.</p>

  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="metadata-logo-wrapper">
    <div class="govuk-grid-column-two-thirds metadata-column">
      
      <div class="gem-c-metadata govuk-!-margin-bottom-3" data-module="gem-toggle metadata">
  
        <!-- PUBLISHED METADATA -->
        <dl class="govuk-body-s">
          <dt class="gem-c-metadata__term">From:</dt>
          <dd class="gem-c-metadata__definition">
            <a class="govuk-link" href="/government/organisations/department-for-environment-food-rural-affairs">Department for Environment, Food &amp; Rural Affairs</a>
          </dd>
          <!--
          <dt class="gem-c-metadata__term">Published</dt>
          <dd class="gem-c-metadata__definition">9 March 2022</dd>
          <dt class="gem-c-metadata__term">Last updated</dt>
          <dd class="gem-c-metadata__definition">7 June 2022 <a href="#full-publication-update-history" class="gem-c-metadata__definition-link govuk-!-display-none-print js-see-all-updates-link" data-track-category="content-history" data-track-action="see-all-updates-link-clicked" data-track-label="history">
              + show all updates</a></dd>
          -->
        </dl>
       
        <!-- email alert button -->
        <div class="govuk-!-display-none-print govuk-!-margin-bottom-6" data-module="gem-track-click">
          <form class="gem-c-single-page-notification-button" action="/email/subscriptions/single-page/new" method="POST" data-track-label="/guidance/funding-for-farmers" data-track-action="Subscribe-button-top" data-track-category="Single-page-notification-button" data-button-location="top">
            <input type="hidden" name="base_path" value="/guidance/funding-for-farmers">
            <button class="govuk-body-s gem-c-single-page-notification-button__submit" type="submit">  <svg class="gem-c-single-page-notification-button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewbox="0 0 459.334 459.334"><path fill="currentColor" d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"></path></svg>Get emails about this page</button>
          </form>
        </div>
    
      </div>

    </div>
  </div>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <section class="gem-c-devolved-nations">
      <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Applies to England </h2>
    </section>

    <!-- Content navigation -->
    <aside class="navigation-container" id="contents">
      <ul class="govuk-list govuk-body-s">
      <li>Contents</li>
      <li class="list-item--dashed"><a href="#bps">BPS</a></li>
      <li class="list-item--dashed"><a href="#landscape">Landscape and environment</a></li>
      <li class="list-item--dashed"><a href="#animal-health">Animal health and welfare</a></li>
      <li class="list-item--dashed"><a href="#trees">Trees and woodland</a></li>
      <li class="list-item--dashed"><a href="#equipment">New equipment and technology</a></li>
      <li class="list-item--dashed"><a href="#research">Research</a></li>
      <li class="list-item--dashed"><a href="#joining">Joining farming</a></li>
      <li class="list-item--dashed"><a href="#leaving">Leaving farming</a></li>
      </ul>
    </aside>

    <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6">
      <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
    </div>




    <!-- CONTENT SECTIONS STARTS -->

    <p class="govuk-body">You can apply for funding from any of the schemes in this guidance, even if you get paid by the Basic Payment Scheme (BPS). You'll need to check you're eligible for each scheme before you apply.</p>
    <p class="govuk-body">You can be in more than one scheme at a time, but you cannot be paid twice for the same activity.</p>

    <!-- BPS -->
    <h2 class="govuk-heading-m" id="bps">BPS</h2>
    <p class="govuk-body">You can <a href="https://www.gov.uk/government/collections/basic-payment-scheme" class="govuk-link">apply for money from the BPS</a> each year if you carry out certain farming or environmental activities on your land.</p>
    <p class="govuk-body">BPS payments are reducing every year until the end of 2023. From 2024, <a href="https://www.gov.uk/guidance/delinked-payments-replacing-the-basic-payment-scheme" class="govuk-link">'delinked' payments will replace BPS</a> and will reduce each year until payments finish in 2027.</p>
    <p class="govuk-body">You can <a href="https://calculate-direct-payment-reductions.defra.gov.uk" class="govuk-link">get an estimate of how much money you'll receive each year</a>.</p>
    
    <!-- LANDSCAPE AND ENVIRONMENT -->
    <h2 class="govuk-heading-m" id="landscape">Landscape and environment</h2>
    <p class="govuk-body govuk-!-font-weight-bold">Improve soil health and understanding of your moorland</p>
    <p class="govuk-body">If you're eligible for BPS, you can <a href="https://www.gov.uk/guidance/a-summary-of-the-sfi-in-2022" class="govuk-link">apply for money from the Sustainable Farming Incentive (SFI)</a> in 2022 to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>improve soil health</li>
      <li>identify and assess the environmental features of your moorland</li>
    </ul>

    <p class="govuk-body govuk-!-font-weight-bold">Help your local environment</p>
    <p class="govuk-body">You'll be able to <a href="https://www.gov.uk/government/publications/local-nature-recovery-more-information-on-how-the-scheme-will-work/local-nature-recovery-more-information-on-how-the-scheme-will-work#what-we-will-pay-for" class="govuk-link"> apply for money from the Local Nature Recovery (LNR)</a> scheme to get paid for things that help the local environment. For example:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>managing and restoring habitats</li>
      <li>planting trees and managing woodlands</li>
      <li>restoring peatlands</li>
      <li>using natural flood management techniques</li>
    </ul>
    <p class="govuk-body">Defra will trial LNR with land managers from 2023. All eligible applicants can apply from the end of 2024.</p>

    <p class="govuk-body govuk-!-font-weight-bold">Plan large-scale landscape and wildlife projects</p>
    <p class="govuk-body"><a href="https://www.gov.uk/guidance/apply-for-landscape-recovery-funding-to-protect-native-species-and-improve-rivers" class="govuk-link">Money for Landscape Recovery</a> will be available to support wildlife and river projects such as:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>creating and expanding nature reserves</li>
      <li>creating woodland</li>
      <li>restoring peatland and wetland</li>
    </ul>
    <p class="govuk-body">Applications for the first round of projects have closed. Defra will invite applications for the next round in 2023.</p>

    <p class="govuk-body govuk-!-font-weight-bold">Join private sector schemes to achieve environmental outcomes</p>
    <p class="govuk-body">You may be able to join a private sector scheme as well as government-funded schemes such as SFI to help achieve certain environmental outcomes. For example:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>carbon trading - selling or buying carbon credits to reduce overall carbon emissions</li>
      <li>biodiversity offsetting  - creating, restoring or enhancing habitats to compensate for loss of biodiversity during land development</li>
      <li>natural flood management  - managing land to store water and reduce flooding</li>
    </ul>

    <p class="govuk-body govuk-!-font-weight-bold">Get a Countryside Stewardship (CS) agreement</p>
    <p class="govuk-body">You can <a href="https://www.gov.uk/government/collections/countryside-stewardship" class="govuk-link">apply for CS</a> to get paid to look after and improve the environment. Applications are open until 2023 (for agreements starting in 2024).</p>
    <p class="govuk-body">Environmental Stewardship (ES) agreements are not open to new applicants. If you have <a href="https://www.gov.uk/government/collections/environmental-stewardship-guidance-and-forms-for-existing-agreement-holders" class="govuk-link">an existing ES agreement</a> you can switch to CS, SFI and LNR agreements from 1 January 2023 without penalty.</p>

    <p class="govuk-body govuk-!-font-weight-bold">Improve national parks and areas of outstanding natural beauty (AONBs)</p>
    <p class="govuk-body">The Farming in Protected Landscapes Programme provides <a href="https://www.gov.uk/guidance/funding-for-farmers-in-protected-landscapes" class="govuk-link">funding to all farmers and land managers within an AONB or National Park in England</a> who are planning projects that:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>support nature recovery</li>
      <li>mitigate climate change</li>
      <li>provide opportunities for people to discover nature</li>
      <li>protect or improve the quality and character of the landscape</li>
    </ul>
    <p class="govuk-body">The programme will run until March 2024.</p>

    <p class="govuk-body govuk-!-font-weight-bold">Restore peatlands</p>
    <p class="govuk-body">The Nature for Climate Peatland Grant Scheme (NCPGS) provides money to <a href="https://www.gov.uk/guidance/nature-for-climate-peatland-grant-scheme" class="govuk-link">restore peatlands in the uplands and lowlands of England</a>. It's a competitive grant scheme that'll run until 2025.</p>

    <!-- ANIMAL HEALTH AND WELFARE -->
    <h2 class="govuk-heading-m govuk-!-margin-top-8" id="animal-health">Animal health and welfare</h2>
    <p class="govuk-body">The Animal Health and Welfare Pathway provides money to <a href="https://www.gov.uk/government/publications/animal-health-and-welfare-pathway" class="govuk-link">help improve the health and welfare of animals</a>.</p>
    
    <!-- TREES AND WOODLAND -->
    <h2 class="govuk-heading-m govuk-!-margin-top-8" id="trees">Trees and woodland</h2>
    <p class="govuk-body govuk-!-font-weight-bold">Improve the health of trees affected by disease</p>
    <p class="govuk-body">You can <a href="https://www.gov.uk/guidance/tree-health-pilot-scheme" class="govuk-link">apply for money to improve tree health</a> through the tree health pilot scheme if you manage certain trees or woodland affected by specific pests and diseases in some regions of England.</p>
    
    <p class="govuk-body govuk-!-font-weight-bold">Create new woodland</p>
    <p class="govuk-body">Until 2024, you can <a href="https://www.gov.uk/guidance/england-woodland-creation-offer" class="govuk-link">get paid to plant trees and create woodland</a> through the England Woodland Creation Offer on areas that are at least 1 hectare.</p>
    <p class="govuk-body">There are other <a href="https://www.gov.uk/government/publications/woodland-grants-and-incentives-overview-table/woodland-grants-and-incentives-overview-table" class="govuk-link">grants available for woodland creation, maintenance, management and tree health</a>.</p>
    <p class="govuk-body">Money for woodland creation is available at a regional level in England, for example:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a rel="external" href="https://englandscommunityforests.org.uk/landowners" class="govuk-link">England's Community Forests</a> - funding is available for planting trees in some areas</li>
      <li><a rel="external" href="https://thenorthernforest.org.uk/get-involved/" class="govuk-link">The Northern Forest</a> - you can get paid to create woodland in parts of Lancashire, Merseyside, Yorkshire, Derbyshire, Nottinghamshire and Lincolnshire</li>
      <li><a rel="external" href="https://www.nationalforest.org/about/partner-with-us/grant-opportunities" class="govuk-link">The National Forest</a> - money is available to create and maintain forests across the country</li>
    </ul>

    <!-- NEW EQUIPMENT -->
    <h2 class="govuk-heading-m govuk-!-margin-top-8" id="equipment">New equipment and technology</h2>
    <p class="govuk-body">The Farming Investment Fund (FIF) provides funding for equipment, technology and infrastructure that improves farm productivity and benefits the environment.</p>
    <p class="govuk-body">If you're a pig, beef or dairy farmer whose farming systems produce slurry, you'll be able to <a href="" class="govuk-link">apply for a grant</a> from autumn 2022 to help:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>build new slurry stores</li>
      <li>replace existing slurry stores</li>
      <li>expand existing slurry stores</li>
    </ul>
    <p class="govuk-body">These stores will provide 6 months of storage. You can apply for a grant between £25,000 and £250,000.</p>
    <p class="govuk-body">The <a href="https://www.gov.uk/government/publications/slurry-infrastructure-grant" class="govuk-link">other grants within FIF</a> are currently closed to new applicants.</p>

    <!-- RESEARCH -->
    <h2 class="govuk-heading-m govuk-!-margin-top-8" id="research">Research</h2>
    <p class="govuk-body">You can <a rel="external" href="https://farminginnovation.ukri.org/?_ga=2.3967990.756711147.1663165594-464893042.1663165594" class="govuk-link">apply for grants for innovation, research and development</a> from the Farming Innovation Programme.</p>
    
    <!-- JOINING FARMING -->
    <h2 class="govuk-heading-m govuk-!-margin-top-8" id="joining">Joining farming</h2>
    <p class="govuk-body">The New Entrant Support Scheme aims to encourage new starters into farming. Defra plans to trial this scheme from 2022 to 2023.</p>

    <!-- LEAVING FARMING -->
    <h2 class="govuk-heading-m govuk-!-margin-top-8" id="leaving">Leaving farming</h2>
    <p class="govuk-body">The Lump Sum Exit Scheme is for farmers in England who <a href="https://www.gov.uk/government/collections/lump-sum-exit-scheme" class="govuk-link">receive BPS and wish to leave farming</a>.</p>
    <p class="govuk-body">Once you receive a lump sum payment, you will not be eligible for any further BPS payments or delinked payments.</p>
    <p class="govuk-body">You will also not be eligible to <a href="https://www.gov.uk/government/publications/apply-for-a-lump-sum-payment-to-leave-or-retire-from-farming/how-to-apply-for-a-lump-sum-payment-to-leave-or-retire-from-farming#applying-for-other-schemes" class="govuk-link">enter into new agreements under the following schemes</a> unless you repay the lump sum first:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://www.gov.uk/guidance/how-an-sfi-standards-agreement-interacts-with-other-funding-schemes" class="govuk-link">SFI</a></li>
      <li><a href="https://www.gov.uk/government/publications/apply-for-a-lump-sum-payment-to-leave-or-retire-from-farming" class="govuk-link">some options under CS</a></li>
      <li>some options under LNR</li>
    </ul>
    
    <div class="gem-c-metadata govuk-!-margin-bottom-3" data-module="gem-toggle metadata">
  
        <!-- PUBLISHED METADATA 
        <dl class="govuk-body-s govuk-!-margin-top-4">
          <dt class="gem-c-metadata__term">Published</dt>
          <dd class="gem-c-metadata__definition">9 March 2022</dd>
          <dt class="gem-c-metadata__term">Last updated</dt>
          <dd class="gem-c-metadata__definition">7 June 2022 <a href="#full-publication-update-history" class="gem-c-metadata__definition-link govuk-!-display-none-print js-see-all-updates-link" data-track-category="content-history" data-track-action="see-all-updates-link-clicked" data-track-label="history">
              + show all updates</a></dd>
        </dl>
         -->
       
        <!-- email alert button -->
        <div class="govuk-!-display-none-print govuk-!-margin-bottom-6" data-module="gem-track-click">
          <form class="gem-c-single-page-notification-button" action="/email/subscriptions/single-page/new" method="POST" data-track-label="/guidance/funding-for-farmers" data-track-action="Subscribe-button-top" data-track-category="Single-page-notification-button" data-button-location="top">
            <input type="hidden" name="base_path" value="/guidance/funding-for-farmers">
            <button class="govuk-body-s gem-c-single-page-notification-button__submit" type="submit">  <svg class="gem-c-single-page-notification-button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewbox="0 0 459.334 459.334"><path fill="currentColor" d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"></path></svg>Get emails about this page</button>
          </form>
        </div>

        <!-- back to top link -->
        <div data-sticky-element="" class="app-c-contents-list-with-body__link-wrapper sticky-element--enabled govuk-!-margin-bottom-6">
          <div class="app-c-contents-list-with-body__link-container">
            <a class="govuk-link app-c-back-to-top dont-print" href="#contents">
              <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
              </svg>
                 Contents
            </a>
          </div>
        </div>

        <!-- print button -->
        <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6">
          <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
        </div>
        <div class="gem-c-related-navigation">
          <h2 class="govuk-heading-s" data-track-count="sidebarRelatedItemSection">
            Explore the topic
          </h2>
          <p class="govuk-body-s"><a href="" class="govuk-link">Rural grants and payments</a></p>
          <p class="govuk-body-s"><a href="" class="govuk-link">Food and farming industry</a></p>
        </div>
    
      </div>

  </div>

  <!-- SIDEBAR RELATED CONTENT
  <div class="govuk-grid-column-one-third">
    <div class="gem-c-contextual-sidebar">
      {% block sidebar %}
      {% include "../includes/publisher/related-content.html" %}
      {% endblock %}
    </div>
  </div>
  -->

</div>
{% endblock %}
