{% extends "layout.html" %}

{% block pageTitle %}
  Get funding for farming and land management
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}
<a onclick="history.back()" class="govuk-back-link">Back</a>
{% endblock %}



{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="pr-calculation" method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  What is your starting payment amount?
                </h1>
              </legend>
              <p class="govuk-body">Your starting payment amount is the total BPS payment you would be owed in each scheme year (after all reductions and penalties).</p>
              <p class="govuk-body">It'll typically be the BPS payment you received in 2020 if you're claiming for a similar area of land in 2022 and 2023.</p>

              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-!-width-one-third" id="cost-per-item" name="starting-amount" type="text" spellcheck="false" value="{{ data['starting-amount'] }}">
              </div>
            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Calculate my BPS payments
          </button>

          <details class="govuk-details govuk-!-margin-top-4" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                I'm claiming for land that has changed or may change
              </span>
            </summary>
            <div>
              <p class="govuk-details__text">If the land you're claiming for has changed or may change, you should take the average unit values from your most recent BPS Claim Statement. Multiply these values by the revised claim area you're planning to use to get your starting amount.</p>
            </div>
          </details>
        </form>
      </div>
    </div>



{% endblock %}
