{% extends "layout.html" %}

{% block pageTitle %}
  Get funding for farming and land management
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Check how your BPS payments will reduce until 2024</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body-m">Payments from the Basic Payment Scheme (BPS) will reduce each year from 2021 until the end of 2023 in England.</p>
      <p class="govuk-body-m">Delinked payments should replace BPS payments from 2024, and will reduce each year until payments finish in 2027. The Department for Environment, Food & Rural Affairs (Defra) and Rural Payments Agency (RPA) will provide more details about what's happening after 2024 when they're available.</p>
      <p class="govuk-body-m">Use the calculator to get an estimate of how much money you'll receive each year as payments reduce.</p>
      <p class="govuk-body-m">The calculator should give you a result in less than 2 minutes.</p>
      <p class="govuk-body-m">You do not need to add personal information to the calculator. No personal information is collected or stored in the calculator.</p>
      <p class="govuk-body-m">There is no limit to the number of times you can use the calculator.</p>

      <a href="pr-enter-amount-2-2.html" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-4 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start new calculation
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <h3 class="govuk-heading-s">How my payment reductions are calculated</h3>
      <p class="govuk-body">The following percentage reductions apply to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>BPS payments between 2021 and 2023</li>
        <li>delinked payments in 2024</li>
      </ul> 
      
            <!-- Progressive reductions -->
            <table class="govuk-table govuk-!-margin-top-6 govuk-!-margin-bottom-8">
              <caption class="govuk-table__caption govuk-table__caption--m"><span style="display:none;">Progressive reductions calculation</span></caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-half">Scheme year</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">2021</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">2022</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">2023</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">2024</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header govuk-!-width-one-half">£30,000.00 or less</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">5%</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">20%</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">35%</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">50%</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header govuk-!-width-one-half">Amounts above £30,000.00 and no more than £50,000.00</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">10%</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">25%</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">40%</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">55%</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header govuk-!-width-one-half">Amounts above £50,000.00 and no more than £150,000.00</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">20%</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">35%</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">50%</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">65%</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header govuk-!-width-one-half">Amounts above £150,000.00</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">25%</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">40%</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">55%</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">70%</td>
                </tr>
              </tbody>
            </table>
      
      <h2 class="govuk-heading-m">Before you start</h2>
      <p class="govuk-body-m">Add your 'starting payment amount' to the calculator.</p>
      <p class="govuk-body-m">Your starting payment amount is the total BPS payment you're owed in each scheme year (including any young farmer payment), after the RPA applies all other reductions and penalties.</p>
      <p class="govuk-body-m">The reductions apply to BPS and delinked payments in England. You should exclude payments for land in Scotland, Wales or Northern Ireland from your starting payment amount.</p>
      <p class="govuk-body-m">Read more information about <a href="https://www.gov.uk/government/collections/basic-payment-scheme-bps-2022">how BPS payments are calculated in 2022</a>.</p>
      <p class="govuk-body-m">In 2024, your starting payment amount for delinked payments will be a reference amount that's based on the average BPS payments you received between 2020 and 2022. <a href="https://www.gov.uk/guidance/delinked-payments-replacing-the-basic-payment-scheme#how-delinked-payments-are-calculated">Find out how delinked payments will be calculated</a>.</p>
      
    </div>

    <!-- related links
    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Useful links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link" rel="external" href="https://www.gov.uk/government/publications/agricultural-transition-plan-2021-to-2024">
                Agricultural Transition Plan 2021 to 2024 
              </a>
            </li>
            <li>
              <a id="farming-is-changing-link" rel="external" class="govuk-link" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1003924/farming-changing.pdf">
                Farming is changing
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  -->
  </div>


  <div class="govuk-grid-row govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds" style="padding-top: 20px; border-top: 1px solid #b1b4b6;">

      <h2 class="govuk-heading-m govuk-!-padding-top-2">Get help</h2>
      <p class="govuk-body-m">If you need help with the calculator, call the Defra Rural Service helpline on  <span id="phoneNumber"><a href="tel:03000 200 301">03000 200 301</a></span>.</p>

    </div>
  </div>

  
{% endblock %}
