{% extends "layouts/main.html" %} {% block pageTitle %} Farming grant options finder – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block
beforeContent %} 
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Private Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new tool – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/Beta/SP-MVP/home.html">Farming grant options finder</a>
          </li>
        </ol>
      </div> 
</div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">BE2: Protection of in-field trees on intensive grassland</h1>
          <p class="govuk-body">Find out about eligibility and requirements for the protection of in-field trees on intensive grassland option.</p>
          <p class="govuk-body">8 February 2022</p>
        
        <div style=" background: 	#1d70b8"class="govuk-!-padding-4">
            <ul class="govuk-list" style="color: white;">
                <li><strong>Open or closed:</strong> Open</li>
                <li><strong>Area of interest:</strong> Crops, Pollinators and wildlife</li>
                <li><strong>Land type:</strong> Arable land</li>
                <li><strong>Funding types:</strong> Item</li>
                <li><strong>Grant schemes:</strong> Farming Equipment and Technology Fund (FETF)</li>
                <li><strong>Payment types:</strong> Capital</li>
              </ul>
        </div>
        <hr class="govuk-section-break govuk-section-break--m">
        

        <ul class="govuk-list" style="color: #1d70b8;">
            <li style="color:	#0b0c0c ;">Contents</li>
            <a class="class=govuk-link govuk-link--no-underline" href="#cost"><li>How much will be paid</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#where"> <li>Where to use this option</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#where-not"> <li>Where this option cannot be used</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#related"> <li>Related Mid Tier options</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#environment"><li>How this option will benefit the environment</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#aims"><li>Aims</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#activities"><li>Prohibited activities</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#management"><li>Recommended management</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#records"><li>Keeping records</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#guidance"><li>Additional guidance and advice</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#location"><li>Pick the right location</li>


        </ul>
        <div class="govuk-inset-text">
          This is an option in Countryside Stewardship. Read
            <a href="https://www.gov.uk/guidance/countryside-stewardship-get-funding-to-protect-and-improve-the-land-you-manage" class="govuk-link">Countryside Stewardship: get funding to protect and improve the land you manage</a>
            to find out more information about Mid Tier and Higher Tier including how to apply.
          </div>
          <a class="class=govuk-link govuk-link--no-underline" id="cost"><h2 class="govuk-heading-m">How much will be paid</h2></a>
          <p class="govuk-body">£295 per hectare (ha)</p>
          <a class="class=govuk-link govuk-link--no-underline" id="where"><h2 class="govuk-heading-m">Where to use this option</h2></a>
          <p class="govuk-body">It’s available for Countryside Stewardship Mid Tier and Higher Tier on part parcels, only on:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>grassland receiving more than 100 kilograms (kg) per hectare of nitrogen a year in fertilisers or manures</li>
            <li>trees (dead or alive) at least 30 centimetres (cm) diameter at breast height (DBH)</li>
          </ul>
          <a class="class=govuk-link govuk-link--no-underline" id="where-not"><h2 class="govuk-heading-m">Where this option cannot be used</h2></a>
          <p class="govuk-body">On a group or line of 4 or more trees whose canopies overlap.</p>

          <a class="class=govuk-link govuk-link--no-underline" id="related"><h2 class="govuk-heading-m">Related Mid Tier options</h2></a>
          <p class="govuk-body">You can locate the following options and supplements on the same area as this option.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://www.gov.uk/countryside-stewardship-grants/organic-conversion-improved-permanent-grassland-or1">OR1 - Organic conversion - improved permanent grassland</li></a>
            <li><a href="https://www.gov.uk/countryside-stewardship-grants/organic-land-management-improved-permanent-grassland-ot1">OT1 - Organic land management - improved permanent grassland</li>
          </ul>

          <a class="class=govuk-link govuk-link--no-underline" id="environment"><h2 class="govuk-heading-m">How this option will benefit the environment</h2></a>
          <p class="govuk-body">
            If successful, trees will be protected from agricultural operations and kept as important features in the local landscape. Tree roots will be protected from damage by cultivations with a fertiliser-free grass buffer. Undisturbed standing and fallen deadwood will provide habitat for invertebrates.
          </p>
          <a class="class=govuk-link govuk-link--no-underline" id="aims"><h2 class="govuk-heading-m">Aims</h2></a>
          <div style=" background: 		#f3f2f1"class="govuk-!-padding-4">
            <p class="govuk-body">
              If you’re selected for a site visit, we will check that delivery of the aims is being met and the prohibited activities have not been carried out. This will ensure the environmental benefits are being delivered.
            </p>
          </div>
          <hr class="govuk-section-break govuk-section-break--m">
          <p class="govuk-body">
            Throughout the year there will be trees surrounded by a naturally regenerated grass buffer, protected from damage by livestock and wild animals. Tree guards will be managed to prevent any damage to growing trees. The grass buffer radius will be determined by the tree diameter at breast height.
          </p>
          table
       
          <a class="class=govuk-link govuk-link--no-underline" id="activities"><h2 class="govuk-heading-m">Prohibited activities</h2></a>
          <p class="govuk-body">To achieve the aims and deliver the environmental benefits, do not carry out any of the following activities:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>Apply any fertilisers or manures</li>
              <li>Apply any lime</li>
              <li>Plough, cultivate, or re-seed</li>
              <li>Use supplementary feed</li>
              <li>Harrow or roll</li>
              <li>Use pesticides, except for herbicides to spot-treat or weed-wipe to control nettles, bracken, injurious weeds, or invasive non-natives</li>
              <li>Remove any tree limbs, including lower limbs, or mature ivy growth</li>
              <li>Carry out any drainage works, including modifying existing drainage, without written permission before any works take place</li>
          </ul>
          <p class="govuk-body">On your annual claim you will be asked to declare that you have not carried out any prohibited activities.</p>
          <a class="class=govuk-link govuk-link--no-underline" id="management"><h2 class="govuk-heading-m">Recommended management</h2></a>
          <p class="govuk-body">To assist you in achieving the aims and deliver the environmental benefits for this option, we recommend that you use best practice.</p>
          <p class="govuk-body">We recommend that you:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>protect trees from damage by livestock and wild animals</li>
              <li>make sure tree guards do not damage growing trees</li>
              <li>keep all fallen branches within the option area</li>
              <li>leave trees in place if they die or fall and continue with the management requirements</li>
          </ul>
          <p class="govuk-body">In year 1 maintain or allow a grass sward to develop around each tree by natural regeneration.</p>

          <table>

          </table>
          <a class="class=govuk-link govuk-link--no-underline" id="records"><h2 class="govuk-heading-m">Keeping records</h2></a>
          <p class="govuk-body">
            Where there is uncertainty about whether the aims of the options have been delivered, we will take into account any records or evidence you may have kept demonstrating delivery of the aims of the option. This will include any steps you’ve taken to follow the recommended management set out above. It’s your responsibility to keep such records if you want to rely on these to support your claim.
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>The diameter at breast height (DBH) for each tree</li>
            <li>Photographs of trees entered into the option</li>
            <li>Photographs of the sward buffer</li>
          </ul>
          <a class="class=govuk-link govuk-link--no-underline" id="guidance"><h2 class="govuk-heading-m">Additional guidance and advice</h2></a>
          <p class="govuk-body">The following advice is helpful, but they are not requirements for this item.</p>
          <h3 class="govuk-heading-s">Storing fallen branches</h3>
          <p class="govuk-body">Do not cut fallen branches into pieces but stack in piles:</p>
        








          
          <h3 class="govuk-heading-s">Block and plot sizes</h3>
          <p class="govuk-body">Use wide margins and big blocks between 0.25ha and 0.5ha. This lets insects move to safety when fields are being sprayed.</p>
          <p class="govuk-body">Spacing five 0.5ha patches evenly within 100ha meets the food needs of many pollinators.</p>
          <h3 class="govuk-heading-s">What to sow</h3>
          <p class="govuk-body">
            A seed mix which contains both shorter-lived legumes and longer-lived wild flower species delivers an extended supply of pollen and nectar from late spring through to the autumn for beneficial insects such as bees, butterflies, hoverflies and moths.
          </p>
          <p class="govuk-body">You can sow the following example mix on a range of soil types.</p>

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Flower species</th>
                <th scope="col" class="govuk-table__header">% inclusion rate</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Alsike clover</th>
                <td class="govuk-table__cell">10</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Bird’s-foot trefoil</th>
                <td class="govuk-table__cell">10</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Black medick</th>
                <td class="govuk-table__cell">5</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Common vetch</th>
                <td class="govuk-table__cell">40</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Early flowering red clover</th>
                <td class="govuk-table__cell">10</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Late flowering red clover</th>
                <td class="govuk-table__cell">10</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Lucerne</th>
                <td class="govuk-table__cell">5</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Sweet clover</th>
                <td class="govuk-table__cell">5</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Musk mallow</th>
                <td class="govuk-table__cell">1</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Oxeye daisy</th>
                <td class="govuk-table__cell">1</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Wild carrot</th>
                <td class="govuk-table__cell">1</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Yarrow</th>
                <td class="govuk-table__cell">0.5</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Total</th>
                <td class="govuk-table__cell">100</td>
              </tr>
            </tbody>
          </table>
          <p class="govuk-body">Sow the seed mix at 15 kg/ha.</p>
          <p class="govuk-body">On light free draining soils you can replace common vetch with sainfoin.</p>
          <p class="govuk-body">Avoid short-term mixes that do not include knapweed or mallow as they will not supply pollinators with long-term food sources for years 4 and 5 of the agreement.</p>
          <h3 class="govuk-heading-s">How to sow</h3>
          <p class="govuk-body">Sow by broadcasting seeds rather than drilling, when the soil is warm and moist. Use a ring roll before and after sowing. Check regularly for slug damage.</p>
          <h3 class="govuk-heading-s">Management</h3>
          <p class="govuk-body">
            Cut emerging flowers and weeds at least twice in year 1, and up to 4 times if necessary where the soil is particularly fertile. Regular cutting prevents weeds smothering the slow-growing flowers so all sown species can establish successfully.
          </p>
          <p class="govuk-body">
            Plots may be grazed between 1 September and 14 March, but make sure that no poaching or soil compaction by livestock takes place. Supplementary feeding could result in poaching and soil compaction, so should be avoided.
          </p>
          <p class="govuk-body">Remember you must keep nectar plots until at least 31 December in year 5 of the agreement.</p>
          <h3 class="govuk-heading-s">Integrated Pest Management (IPM)</h3>
          <p class="govuk-body">
            This option can form part of an IPM approach to prevent the establishment of pests, weeds and diseases. If successful, appropriate and within
             proximity of cropped areas, these may limit the need for the use of Plant Protection Products and enhance wildlife and biodiversity on your holding. 
             Read information on IPM at <a href="https://ahdb.org.uk/integrated-pest-management-ipm" class="govuk-link">AHDB (Agriculture and Horticulture Development Board) Integrated Pest Management</a>
             and <a href="https://leaf.eco/">LEAF (Linking Environment and Farming)</a>.
          </p>
          <h3 class="govuk-heading-s">Biodiversity</h3>
          <p class="govuk-body">
            This option has been identified as being beneficial for biodiversity. All Countryside Stewardship habitat creation, restoration and management options are of great significance for biodiversity recovery, as are the wide range of arable options in the scheme. Capital items and supplements can support this habitat work depending on the holding’s situation and potential.
          </p>
          <p class="govuk-body">
            The connectivity of habitats is also very important and habitat options should be linked wherever possible. Better connectivity will allow wildlife to move/colonise freely to access water, food, shelter and breeding habitat, and will allow natural communities of both animals and plants to adapt in response to environmental and climate change. 
          </p>
          <h3 class="govuk-heading-s">Further information</h3>
          <p class="govuk-body">Order the ‘Growing farm wildlife’ DVD from Natural England which gives a step-by-step approach to sowing nectar flower mixtures.</p>
        </div>
        <!-- one third column-->
        <div class="govuk-grid-column-one-third">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          
          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" style=" border-top: 2px solid #1d70b8;">
          <h2 class="govuk-heading-s">Related content</h2>
          <a href="https://www.gov.uk/countryside-stewardship-grants/roofing-sprayer-washdown-area-manure-storage-area-livestock-gathering-area-slurry-stores-silage-stores-rp28" class="govuk-link"><p class="govuk-body-s">RP28: Roofing (sprayer washdown area, manure storage area, livestock gathering area, slurry stores, silage stores)</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/management-of-hedgerows-be3" class="govuk-link"><p class="govuk-body-s">BE3: Management of hedgerows</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/resurfacing-of-gateways-rp1" class="govuk-link"><p class="govuk-body-s">RP1: Resurfacing of gateways</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/supplementary-winter-feeding-for-farmland-birds-ab12" class="govuk-link"><p class="govuk-body-s">AB12: Supplementary winter feeding for farmland birds</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/tree-surgery-te11" class="govuk-link"><p class="govuk-body-s">TE11: Tree surgery</p></a>
         
        </div>
    </main>
</div>



{% endblock %}