{% extends "layouts/main.html" %} {% block pageTitle %} Farming grant options finder – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block
beforeContent %} 
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Private Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new tool – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/Beta/SP-MVP/home.html">Farming grant options finder</a>
          </li>
        </ol>
      </div> 
</div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">PA1: Implementation plan</h1>
          <p class="govuk-body">Find out about eligibility and requirements for the implementation plan item.</p>
          <p class="govuk-body">31 March 2016</p>
        
        <div style=" background: 	#1d70b8"class="govuk-!-padding-4">
            <ul class="govuk-list" style="color: white;">
              <ul class="govuk-list" style="color: white;">
                <li><strong>Open or closed:</strong> Open</li>
                <li><strong>Area of interest:</strong> Flood risk, Water</li>
                <li><strong>Land type:</strong> Moorland and upland, Priority habitats</li>
                <li><strong>Funding types:</strong> Item</li>
                <li><strong>Grant schemes:</strong> Countryside Stewardship</li>
                <li><strong>Payment types:</strong> Capital</li>
            </ul>
        </div>
        <hr class="govuk-section-break govuk-section-break--m">
        

        <ul class="govuk-list" style="color: #1d70b8;">
            <li style="color:	#0b0c0c ;">Contents</li>
            <a class="class=govuk-link govuk-link--no-underline" href="#cost"><li>How much will be paid</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#where"> <li>Where to use this option</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#environment"><li>How this option will benefit the environment</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#requirements"><li>Requirements</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#records"><li> &#8213; Keeping records</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#guidance"><li>Advice and suggestions for how to carry out this item</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#implement"><li> &#8213; Creating an implementation plan</li></a>


        </ul>
        <div class="govuk-inset-text">
          This is an option in Countryside Stewardship. Read
            <a href="https://www.gov.uk/guidance/countryside-stewardship-get-funding-to-protect-and-improve-the-land-you-manage" class="govuk-link">Countryside Stewardship: get funding to protect and improve the land you manage</a>
            to find out more information about Capital Grants including how to apply.
          </div>
          <a class="class=govuk-link govuk-link--no-underline" id="cost"><h2 class="govuk-heading-m">How much will be paid</h2></a>
          <p class="govuk-body">£1,200 per plan</p>
          <a class="class=govuk-link govuk-link--no-underline" id="where"><h2 class="govuk-heading-m">Where to use this option</h2></a>
          <ul class="govuk-list govuk-list--bullet">
            <li>as a stand-alone agreement to aid an application</li>
            <li>only with written permission from Natural England</li>
          </ul>

          <a class="class=govuk-link govuk-link--no-underline" id="environment"><h2 class="govuk-heading-m">How this option will benefit the environment</h2></a>
          <p class="govuk-body">
            If successful there will be a completed plan detailing how to carry out the work for an option and how to meet the requirements of that option.
          </p>
       
          <a class="class=govuk-link govuk-link--no-underline" id="requirements"><h2 class="govuk-heading-m">Requirements</h2></a>
          <ul class="govuk-list govuk-list--bullet">
              <li>produce an implementation plan following a brief from Natural England</li>
              <li>send a copy of the completed plan for approval by Natural England</li>
          </ul>
     
          <a class="class=govuk-link govuk-link--no-underline" id="records"><h3 class="govuk-heading-m">Keeping records</h3></a>
          <p class="govuk-body">
            Agreement holders will need to keep the following records and supply them on request:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>any consents or permissions connected with the work</li>
            <li>receipted invoices, or bank statements where a receipted invoice is unavailable</li>
            <li>a copy of the implementation plan</li>
          </ul>
          <p class="govuk-body">
            Please see the record keeping and inspection requirements as set out in the relevant Capital Grants guidance for more detail. You can find the latest guidance at
            <a class="class=govuk-link govuk-link" href="https://www.gov.uk/guidance/countryside-stewardship-get-funding-to-protect-and-improve-the-land-you-manage">Countryside Stewardship: get funding to protect and improve the land you manage</a>.
          </p>
          <a class="class=govuk-link govuk-link--no-underline" id="guidance"><h2 class="govuk-heading-m">Advice and suggestions for how to carry out this item</h2></a>
          <p class="govuk-body">The following section gives advice on carrying out this item successfully but does not form part of the requirements for this item.</p>
          <h3 class="govuk-heading-s" id="implement">Creating an implementation plan</h3>
          <p class="govuk-body">Make sure that the implementation plan follows a set format provided by Natural England. This format will depend on the option or items that the plan covers.</p>
          <p class="govuk-body">Use this item to fund a water management plan where capital items and land management options are needed to redirect or manage water running across the holding.</p>
         

        </div>
        <!-- one third column-->
        <div class="govuk-grid-column-one-third">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          
          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" style=" border-top: 2px solid #1d70b8;">
          <h2 class="govuk-heading-s">Related content</h2>
          <a href="https://www.gov.uk/countryside-stewardship-grants/feasibility-study-pa2" class="govuk-link"><p class="govuk-body-s">PA2: Feasibility study</p></a>
          <a href="https://www.gov.uk/government/publications/form-pa1p-apply-for-probate-the-deceased-had-a-will"><p class="govuk-body-s">Apply for probate by post if there is a will: Form PA1P</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/roofing-sprayer-washdown-area-manure-storage-area-livestock-gathering-area-slurry-stores-silage-stores-rp28" class="govuk-link"><p class="govuk-body-s">RP28: Roofing (sprayer washdown area, manure storage area, livestock gathering area, slurry stores, silage stores)</p></a>
          <a href="https://www.gov.uk/government/publications/countryside-stewardship-mid-tier-including-water-quality-capital-items-manual" class="govuk-link"><p class="govuk-body-s">Mid Tier and Wildlife Offers manual for 1 January 2021 agreements: Countryside Stewardship</p></a>
          <a href="https://www.gov.uk/applying-for-probate" class="govuk-link"><p class="govuk-body-s">Applying for probate</p></a>
         
        </div>
    </main>
</div>



{% endblock %}