{% extends "layouts/main.html" %} {% block pageTitle %} Farming grant options finder – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block
beforeContent %} 
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Private Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new tool – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/Beta/SP-MVP/home.html">Farming grant options finder</a>
          </li>
        </ol>
      </div> 
</div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">BE3: Management of hedgerows</h1>
          <p class="govuk-body">Find out about eligibility and requirements for the management of hedgerows option.</p>
          <p class="govuk-body">4 January 2024</p>
        
        <div style=" background: 	#1d70b8"class="govuk-!-padding-4">
            <ul class="govuk-list" style="color: white;">
              <ul class="govuk-list" style="color: white;">
                <li><strong>Open or closed:</strong> Open</li>
                <li><strong>Area of interest:</strong> Biodiversity, Boundaries, Pollinators and wildlife</li>
                <li><strong>Land type:</strong> Moorland and upland, Priority habitats</li>
                <li><strong>Funding types:</strong> Option</li>
                <li><strong>Grant schemes:</strong> Countryside Stewardship</li>
                <li><strong>Payment types:</strong> Revenue</li>
            </ul>
        </div>
        <hr class="govuk-section-break govuk-section-break--m">
        

        <ul class="govuk-list" style="color: #1d70b8;">
            <li style="color:	#0b0c0c ;">Contents</li>
            <a class="class=govuk-link govuk-link--no-underline" href="#cost"><li>How much will be paid</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#where"> <li>Where to use this option</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#where-not"> <li>Where this option cannot be used</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#environment"><li>How this option will benefit the environment</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#aims"><li>Aims</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#activities"><li>Prohibited activities</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#management"><li>Recommended management</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#records"><li>Keeping records</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#guidance"><li>Additional guidance and advice</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#hedges"><li> &#8213; Pick the right hedge</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#manage"><li> &#8213; Managing the hedges </li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#ipm"> <li> &#8213; Integrated Pest Management (IPM) </li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#bio"> <li> &#8213; Biodiversity </li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#info"><li>Further information</li></a>
        </ul>
        <div class="govuk-inset-text">
          This is an option in Countryside Stewardship. Read
            <a href="https://www.gov.uk/guidance/countryside-stewardship-get-funding-to-protect-and-improve-the-land-you-manage" class="govuk-link">Countryside Stewardship: get funding to protect and improve the land you manage</a>
            to find out more information about Mid Tier and Higher Tier including how to apply.
          </div>
          <a class="class=govuk-link govuk-link--no-underline" id="cost"><h2 class="govuk-heading-m">How much will be paid</h2></a>
          <p class="govuk-body">£13 per 100m for 1 side of a hedge.</p>
          <a class="class=govuk-link govuk-link--no-underline" id="where"><h2 class="govuk-heading-m">Where to use this option</h2></a>
          <p class="govuk-body">Available for Countryside Stewardship Mid Tier and Higher Tier.</p>
          <p class="govuk-body">On boundary lines of shrubs, which are:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>composed of woody plants with less than 2 metres (m) between the ground and the base of the leafy layer</li>
            <li>over 20m long</li>
            <li>less than 5m wide between major woody stems at the base</li>
          </ul>
          <a class="class=govuk-link govuk-link--no-underline" id="where-not"><h2 class="govuk-heading-m">Where this option cannot be used</h2></a>
          <p class="govuk-body">On a group or line of 4 or more trees whose canopies overlap.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>On features that are trees for most of their length</li>
            <li>In Mid Tier agreements, lengths of hedge managed under this option are not eligible for the capital item BN5 - Hedgerow laying, BN6 – Hedgerow coppicing, and BN7 - Hedgerow gapping-up but may be eligible for other capital item payments</li>
            <li>In Higher Tier agreements, lengths of hedge managed under this option are not eligible for the capital item BN7 - Hedgerow gapping-up but may be eligible for other capital item payments</li>
          </ul>
          

          <a class="class=govuk-link govuk-link--no-underline" id="environment"><h2 class="govuk-heading-m">How this option will benefit the environment</h2></a>
          <p class="govuk-body">
            Managing hedges in this way increases the availability of blossom for invertebrates. 
            By allowing fruit and berries to ripen it provides food for overwintering birds. 
            It will also improve the structure and longevity of hedgerows, and maintains them as distinctive and historic landscape features.
          </p>
          <a class="class=govuk-link govuk-link--no-underline" id="aims"><h2 class="govuk-heading-m">Aims</h2></a>
          <div style=" background: 		#f3f2f1"class="govuk-!-padding-4">
            <p class="govuk-body">
              If you’re selected for a site visit, we will check that delivery of the aims is being met and the prohibited activities have not been carried out. 
              This will ensure the environmental benefits are being delivered.
            </p>
          </div>
          <hr class="govuk-section-break govuk-section-break--m">
          <p class="govuk-body">
            From year 2 onwards, hedges will be at least 2m tall and 1.5m wide (except for sections which are gapped up, layed or coppiced during the term of the agreement).
          </p>
          <p class="govuk-body">Where a length of hedge has significant gaps, these will be gapped up.</p>
          <p class="govuk-body">During the autumn and winter, the hedges in this option will be managed on a rotation so that one of the following applies:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Up to a third of the hedges are cut between September and February (the hedges are cut no more than one year in 3)</li>
            <li>Up to half the hedges are cut between January and February (the hedges are cut no more than one year in 2)</li>
          </ul>
        
       
          <a class="class=govuk-link govuk-link--no-underline" id="activities"><h2 class="govuk-heading-m">Prohibited activities</h2></a>
          <p class="govuk-body">To achieve the aims and deliver the environmental benefits, do not carry out any of the following activities:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>Supplementary feed livestock within 2m of the centre of the hedge</li>
              <li>Remove any tree limbs, including lower limbs, or mature ivy growth from hedgerow trees</li>
              <li>Remove any standing deadwood</li>
          </ul>
          <p class="govuk-body">On your annual claim you will be asked to declare that you have not carried out any prohibited activities.</p>
          
          <a class="class=govuk-link govuk-link--no-underline" id="management"><h2 class="govuk-heading-m">Recommended management</h2></a>
          <p class="govuk-body">To assist you in achieving the aims and deliver the environmental benefits for this option, we recommend that you use best practice.</p>
          <p class="govuk-body">We recommend that you:</p>
          <p class="govuk-body">cut hedgerows in one of the following ways:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>no more than 1 year in 3 between 1 September and 28 February - leave at least two-thirds of hedges untrimmed each year</li>
              <li>no more than 1 year in 2 between 1 January and 28 February - leave at least one-half of hedges untrimmed each year</li>
              <li>gap up any length of hedge with more than 10% gaps within the first 2 years</li>
          </ul>
          <p class="govuk-body">There is no requirement to trim hedges at all during the agreement. Instead, leave them to grow and manage in a coppicing or laying rotation.</p>


          <a class="class=govuk-link govuk-link--no-underline" id="records"><h2 class="govuk-heading-m">Keeping records</h2></a>
          <p class="govuk-body">
            Where there is uncertainty about whether the aims of the options have been delivered, we will take into account any records or evidence you may have kept demonstrating 
            delivery of the aims of the option. This will include any steps you’ve taken to follow the recommended management set out above. It’s your responsibility to keep such 
            records if you want to rely on these to support your claim.
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Hedgerow management records</li>
            <li>Photographs of each hedge entered into the option</li>
          </ul>
          <a class="class=govuk-link govuk-link--no-underline" id="guidance"><h2 class="govuk-heading-m">Additional guidance and advice</h2></a>
          <p class="govuk-body">The following advice is helpful, but they are not requirements for this item.</p>
          <h3 class="govuk-heading-s" id="hedges">Pick the right hedge</h3>
          <p class="govuk-body">If you do not have management control of both sides of a hedge, then only enter one side into the option. If there is no parcel number listed under your 
            SBI for the land on one side of the hedgerow, for example where it is a road or track verge, or the land belongs to a neighbour, that side of the hedgerow cannot be entered 
            into BE3 on your application.
          </p>
          <p class="govuk-body">Select hedges that:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>are connected to other hedges or habitats (such as woodlands and ponds)</li>
            <li>have other components such as hedgerow trees, bases or banks rich in flowers, or an adjacent ditch or margin</li>
          </ul>
          <p class="govuk-body">Use the option to improve the condition and longevity of hedges which are of particular historic interest, such as parish boundaries, or are especially important in the landscape.</p>
          <h3 class="govuk-heading-s" id="manage">Managing the hedges</h3>
          <p class="govuk-body">If the correct rotor and forward speeds are used, well-maintained flails are effective for cutting 2- to 3-year-old growth of most woody species.</p>
          <p class="govuk-body">Fast growing species, such as ash or willow, may need heavier duty flails or more powerful cutting heads. Or, use a circular saw or leave hedges uncut.</p>
          <p class="govuk-body">Cutting to different lengths, rather than trimming back to the same point, allows hedges to increase in height and width by several centimetres at each cut, encouraging a dense, healthy hedgerow.</p>
          <p class="govuk-body">Use native shrubs species that already occur in hedgerows in the local area to gap up. A gap is a complete break in the canopy. Where a tree canopy overlaps the hedgerow canopy it is not counted as a gap.</p>
    
          <h3 class="govuk-heading-s" id="ipm">Integrated Pest Management (IPM)</h3>
          <p class="govuk-body">
            This option can form part of an IPM approach to prevent the establishment of pests, weeds and diseases. If successful, appropriate and within
             proximity of cropped areas, these may limit the need for the use of Plant Protection Products and enhance wildlife and biodiversity on your holding. 
             Read information on IPM at <a href="https://ahdb.org.uk/integrated-pest-management-ipm" class="govuk-link">AHDB (Agriculture and Horticulture Development Board) Integrated Pest Management</a>
             and <a href="https://leaf.eco/">LEAF (Linking Environment and Farming)</a>.
          </p>

          <h3 class="govuk-heading-s" id="bio">Biodiversity</h3>
          <p class="govuk-body">This option has been identified as being beneficial for biodiversity. All Countryside Stewardship habitat creation, restoration and management 
            options are of great significance for biodiversity recovery, as are the wide range of arable options in the scheme. Capital items and supplements can support this 
            habitat work depending on the holding’s situation and potential.
          </p>
          <p class="govuk-body">The connectivity of habitats is also very important and habitat options should be linked wherever possible. Better connectivity will allow wildlife to 
            move/colonise freely to access water, food, shelter and breeding habitat, and will allow natural communities of both animals and plants to adapt in response to environmental 
            and climate change. 
          </p>

          <a class="class=govuk-link govuk-link--no-underline" id="info"><h2 class="govuk-heading-m">Further information</h2></a>
          <p class="govuk-body">
            Read more on:
            <ul class="govuk-list govuk-list--bullet">
            <li><a href="http://www.hedgelink.org.uk/cms/cms_content/files/78_hedgelink_a5_12pp_leaflet_7.pdf" class="govuk-link">the hedgerow management cycle</a></li>
            <li><a href="http://www.hedgelink.org.uk/cms/cms_content/files/76_ne_hedgecutting.pdf" class="govuk-link">common questions on hedge cutting</a></li>
          </ul>
          </p>
        </div>
        <!-- one third column-->
        <div class="govuk-grid-column-one-third">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          
          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" style=" border-top: 2px solid #1d70b8;">
          <h2 class="govuk-heading-s">Related content</h2>
          <a href="https://www.gov.uk/countryside-stewardship-grants/permanent-grassland-with-very-low-inputs-outside-sdas-gs2" class="govuk-link"><p class="govuk-body-s">GS2: Permanent grassland with very low inputs (outside SDAs)</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/hedgerow-laying-bn5" class="govuk-link"><p class="govuk-body-s">BN5: Hedgerow laying</p></a>
          <a href="https://www.gov.uk/government/publications/countryside-stewardship-mid-tier-including-water-quality-capital-items-manual" class="govuk-link"><p class="govuk-body-s">Mid Tier and Wildlife Offers manual for 1 January 2021 agreements: Countryside Stewardship</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/take-field-corners-out-of-management-gs1" class="govuk-link"><p class="govuk-body-s">GS1: Take small areas out of management</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/lenient-grazing-supplement-gs17" class="govuk-link"><p class="govuk-body-s">GS17: Lenient grazing supplement</p></a>
         
        </div>
    </main>
</div>



{% endblock %}