{% extends "layouts/main.html" %} {% block pageTitle %} Farming grant options finder – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block
beforeContent %} 
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Private Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new tool – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/Beta/SP-MVP/home.html">Farming grant options finder</a>
          </li>
        </ol>
      </div> 
</div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">UP3: Management of moorland</h1>
          <p class="govuk-body">Find out about eligibility and requirements for the management of moorland option.</p>
          <p class="govuk-body">8 February 2022</p>
        
        <div style=" background: 	#1d70b8"class="govuk-!-padding-4">
            <ul class="govuk-list" style="color: white;">
              <ul class="govuk-list" style="color: white;">
                <li><strong>Open or closed:</strong> Open</li>
                <li><strong>Area of interest:</strong> Biodiversity</li>
                <li><strong>Land type:</strong> Mooreland and upland, Priority habitats</li>
                <li><strong>Funding types:</strong> Option</li>
                <li><strong>Grant schemes:</strong> Countryside Stewardship</li>
                <li><strong>Payment types:</strong> Revenue</li>
            </ul>
        </div>
        <hr class="govuk-section-break govuk-section-break--m">
        

        <ul class="govuk-list" style="color: #1d70b8;">
            <li style="color:	#0b0c0c ;">Contents</li>
            <a class="class=govuk-link govuk-link--no-underline" href="#cost"><li>How much will be paid</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#long"><li>How long this option lasts</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#where"> <li>Where to use this option</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#features"> <li>Features that can be included in this option</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#environment"><li>How this item will benefit the environment</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#requirements"><li>Requirements</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#records"><li>Keeping records</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#related"><li>Related options</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#contact"><li> &#8213; Contact organisations early</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#bio"> <li> &#8213; Biodiversity </li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#info"> <li> Further information </li></a>

        </ul>
        <div class="govuk-inset-text">
          This is an option in Countryside Stewardship. Read
            <a href="https://www.gov.uk/guidance/countryside-stewardship-get-funding-to-protect-and-improve-the-land-you-manage" class="govuk-link">Countryside Stewardship: get funding to protect and improve the land you manage</a>
            to find out more information about Mid Tier, Higher Tier and Capital Grants including how to apply.
          </div>
          <a class="class=govuk-link govuk-link--no-underline" id="cost"><h2 class="govuk-heading-m">How much will be paid</h2></a>
          <p class="govuk-body">£55 per hectare (ha).</p>
          <a class="class=govuk-link govuk-link--no-underline" id="long"><h2 class="govuk-heading-m">How long this option lasts</h2></a>
          <p class="govuk-body">This option runs for 10 years, not the standard 5 years for the scheme.</p>
          <a class="class=govuk-link govuk-link--no-underline" id="where"><h2 class="govuk-heading-m">Where to use this option</h2></a>
          <p class="govuk-body">It is available for Countryside Stewardship Higher Tier on whole or part parcels, but only on parcels:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>above the Moorland Line</li>
            <li>that cross the Moorland Line</li>
            <li>that contribute to a single grazing unit above the Moorland Line</li>
            <li>that contain one or more moorland priority habitats or species</li>
            <li>above the stock-proof boundary of enclosed in-bye land that contain semi-natural moorland habitat vegetation (for example allotments, intakes or newtakes)</li>
          </ul>
          
          <a class="class=govuk-link govuk-link--no-underline" id="features"><h2 class="govuk-heading-m">Features that can be included in this option</h2></a>
          <p class="govuk-body">You can include the following features if they are part of the land, even if they are not eligible for the Basic Payment Scheme (BPS):</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>bracken</li>
            <li>ditches</li>
            <li>dykes</li>
            <li>scrub including gorse bushes and briar</li>
            <li>scree, rock, outcrops, or boulders</li>
            <li>streams less than 4m wide and that take up less than 1ha of the parcel</li>
            <li>ponds less than 1 ha of the parcel</li>
            <li>unsurfaced roads, tracks, and paths</li>
          </ul>
          

          <a class="class=govuk-link govuk-link--no-underline" id="environment"><h2 class="govuk-heading-m">How this item will benefit the environment</h2></a>
          <p class="govuk-body"> It will:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>maintain and restore moorland priority habitats and ecosystem function</li>
            <li>maintain and restore species</li>
            <li>protect historic features</li>
            <li>strengthen landscape character</li>
          </ul>
          <p class="govuk-body">If successful there will be:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>improved condition of moorland habitats and associated species</li>
            <li>enhanced soil management</li>
            <li>reduced diffuse pollution</li>
            <li>improvements to water quality and flood risk management</li>
            <li>historic environmental features with no bare soil or poaching (trampling)</li>
            <li>stabilized and permanently re-vegetated areas that were previously eroded</li>
            <li>historic features unaffected by trees, bracken, and scrub</li>
            <li>no animal burrows developing on historic features</li>
          </ul>
          <a class="class=govuk-link govuk-link--no-underline" id="requirements"><h2 class="govuk-heading-m">Requirements</h2></a>
          <p class="govuk-body">You will probably need to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>only graze the land in accordance with the stocking calendar</li>
            <li>stick to the minimum and maximum stocking rates for each month and for different types of grazing animal</li>
            <li>manage vegetation by burning or cutting, using agreed practices</li>
            <li>prevent spread of bracken or scrub on historic or archaeological sites</li>
            <li>carry out a wildfire risk assessment</li>
          </ul>
          <p class="govuk-body">The agreement will set out what you cannot do. It’s likely you’ll not be allowed to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>plough, harrow, or roll</li>
            <li>cultivate or re-seed</li>
            <li>apply any fertilisers, manures, or lime</li>
            <li>apply supplementary feed other than as prescribed</li>
            <li>use pesticides other than as prescribed</li>
          </ul>
          
          

          <a class="class=govuk-link govuk-link--no-underline" id="records"><h2 class="govuk-heading-m">Keeping records</h2></a>
          <p class="govuk-body">You must send the following with your application:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>a map of permitted access routes - you can mark these on any map, including your Farm Environment Record (FER)</li>
          </ul>
          <p class="govuk-body">On your annual claim you must declare that you have not carried out any activities prohibited by the option requirements.</p>
          <p class="govuk-body">You must keep the following records and supply them on request:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>copies of the Wildfire Risk Assessment and, where required, the Wildfire Response Plan (agreed with fire service) and Wildfire Management Plan - for guidance and example plans see the <a class="class=govuk-link govuk-link" href="https://www.uplandsmanagement.co.uk/about1">Uplands Management Group template</a> or <a class="class=govuk-link govuk-link" href="https://www.forestresearch.gov.uk/publications/building-wildfire-resilience-into-forest-management-planning/">Forestry Commission’s guide</a></li>
            <li>records of all management activity on the option area for each parcel</li>
            <li>receipted invoices, consents, or permissions connected with the work</li>
            <li>a stocking calendar approved by Natural England</li>
            <li>photographs of the extent of scrub and bracken on any historic and archaeological features on the site before works start</li>
            <li>a monthly record of stock numbers by parcel and stock type</li>
            <li>photographs of the extent of scrub and bracken on historic and archaeological features</li>
          </ul>
          <p class="govuk-body">The detailed requirements for this supplement will be tailored to the Higher Tier site. You should discuss and agree these requirements with your adviser.</p>

          <a class="class=govuk-link govuk-link--no-underline" id="related"><h2 class="govuk-heading-m">Related options</h2></a>
          <p class="govuk-body">You can locate the following options and supplements on the same area as this option:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li><a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/management-of-hedgerows-be3">BE3 – Management of hedgerows</a></li>
              <li><a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/bracken-control-supplement-sp3">SP3 - Bracken control supplement</a></li>
              <li><a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/shepherding-supplement-sp5">SP5 - Shepherding supplement</a></li>
              <li><a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/cattle-grazing-supplement-sp6">SP6 - Cattle grazing supplement</a></li>
              <li><a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/native-breeds-at-risk-supplement-sp8">SP8 – Native breeds at risk supplement</a></li>
              <li><a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/threatened-species-supplement-sp9">SP9 - Threatened species supplement</a></li>
              <li><a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/management-of-moorland-vegetation-supplement-up4">UP4 - Management of moorland vegetation supplement</a></li>
              <li><a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/moorland-re-wetting-supplement-up5">UP5 - Moorland re-wetting supplement</a></li>
              <li><a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/upland-livestock-exclusion-supplement-up6">UP6 - Upland livestock exclusion supplement</a></li>
              <li><a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/management-of-ditches-of-high-environmental-value-wt3">WT3 – Management of ditches of high environmental value</a></li>
            </ul>
            
          
          <a class="class=govuk-link govuk-link--no-underline" id="guidance"><h2 class="govuk-heading-m">Advice and suggestions for how to carry out this option</h2></a>
          <p class="govuk-body">The following advice is helpful, but they are not requirements for this item.</p>
          <h3 class="govuk-heading-s" id="contact">Contact organisations early</h3>
          <p class="govuk-body">Make sure you contact Natural England or other relevant organisations well in advance of making your application.</p>
      
          
          <h3 class="govuk-heading-s" id="bio">Biodiversity</h3>
          <p class="govuk-body">
            This option has been identified as being beneficial for biodiversity. All Countryside Stewardship habitat creation, restoration and management options are of great 
            significance for biodiversity recovery, as are the wide range of arable options in the scheme. Capital items and supplements can support this habitat work depending on 
            the holding’s situation and potential.
          </p>
          <p class="govuk-body">
            The connectivity of habitats is also very important and habitat options should be linked wherever possible. Better connectivity will allow wildlife to move/colonise 
            freely to access water, food, shelter and breeding habitat, and will allow natural communities of both animals and plants to adapt in response to environmental and 
            climate change.
          </p>
          <a class="class=govuk-link govuk-link--no-underline" id="info"><h2 class="govuk-heading-m">Further information</h2></a>
          <p class="govuk-body">Read about the regulations on 
           <a class="class=govuk-link govuk-link" href="https://www.gov.uk/heather-and-grass-burning-apply-for-a-licence">burning heather and grass</a>.
          </p>
          
        </div>
        <!-- one third column-->
        <div class="govuk-grid-column-one-third">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          
          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" style=" border-top: 2px solid #1d70b8;">
          <h2 class="govuk-heading-s">Related content</h2>
          <a href="https://www.gov.uk/countryside-stewardship-grants/upland-livestock-exclusion-supplement-up6" class="govuk-link"><p class="govuk-body-s">UP6: Upland livestock exclusion supplement</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/moorland-re-wetting-supplement-up5" class="govuk-link"><p class="govuk-body-s">UP5: Moorland re-wetting supplement</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/management-of-moorland-vegetation-supplement-up4" class="govuk-link"><p class="govuk-body-s">UP4: Management of moorland vegetation supplement</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/shepherding-supplement-sp5" class="govuk-link"><p class="govuk-body-s">SP5: Shepherding supplement</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/management-of-rough-grazing-for-birds-up2" class="govuk-link"><p class="govuk-body-s">UP2: Management of rough grazing for birds</p></a>
         
        </div>
    </main>
</div>



{% endblock %}