{% extends "layout.html" %}

{% block pageTitle %}
  Get funding for farming and land management
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}
<a onclick="history.back()" class="govuk-back-link">Back</a>
{% endblock %}



{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="pr-calculation-2-2" method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Add your starting payment amount
                </h1>
              </legend>
              <p class="govuk-body">The reductions apply to BPS and delinked payments in England. You should exclude payments for land in Scotland, Wales or Northern Ireland from your starting payment amount.</p>

              <h3 class="govuk-heading-s">If you claimed BPS in 2020</h3>
              <p class="govuk-body">You should add the the total of the following amounts shown on your BPS claim statement for 2020 as your starting amount, if you're claiming for a similar area of land in 2022 and 2023:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>BPS 'gross value' amount</li>
                <li>young farmer claim value, if relevant</li>
              </ul>
              <p class="govuk-body">This is the value of your claim before the RPA applied:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>any penalties</li>
                <li>a 5% reduction if your claim was more than €150,000</li>
              </ul>
              <h3 class="govuk-heading-s">If you claimed BPS in 2021 or 2022 for the first time</h3>
              <p class="govuk-body">You should add the total of the following amounts shown on your most recent BPS claim statement as your starting payment amount, if you're claiming for a similar area of land in 2023:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>BPS 'gross value' amount</li>
                <li>young farmer claim value, if relevant</li>
              </ul>

              <h3 class="govuk-heading-s">Starting amount for 2024</h3>
              <p class="govuk-body">For 2024, your starting payment amount for delinked payments will be a reference amount that's based on the average BPS payments you received between 2020 and 2022. <a href="https://www.gov.uk/guidance/delinked-payments-replacing-the-basic-payment-scheme#how-delinked-payments-are-calculated"> Find out how delinked payments will be calculated</a>.</p>
              
              <div class="govuk-input__wrapper">
                <div class="govuk-input__prefix" aria-hidden="true">£</div>
                <input class="govuk-input govuk-!-width-one-third" id="cost-per-item" name="starting-amount" type="text" spellcheck="false" value="{{ data['starting-amount'] }}">
              </div>
            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Calculate my payments
          </button>

          <h3 class="govuk-heading-s govuk-!-margin-top-4">I'm claiming for land that has changed or may change</h3>
          <p class="govuk-body">If the land you're claiming for has changed or may change, you should take the average unit values from your most recent BPS Claim Statement. Multiply these values by the revised claim area you're planning to use to get your starting amount.</p>
        </form>
      </div>
    </div>


{% endblock %}
