{% extends "layouts/main.html" %} {% block pageTitle %} Farming grant options finder – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block
beforeContent %} 
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Private Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new tool – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/Beta/SP-MVP/home.html">Farming grant options finder</a>
          </li>
        </ol>
      </div> 
</div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">BE2: Protection of in-field trees on intensive grassland</h1>
          <p class="govuk-body">Find out about eligibility and requirements for the protection of in-field trees on intensive grassland option.</p>
          <p class="govuk-body">8 February 2022</p>
        
        <div style=" background: 	#1d70b8"class="govuk-!-padding-4">
            <ul class="govuk-list" style="color: white;">
              <ul class="govuk-list" style="color: white;">
                <li><strong>Open or closed:</strong> Open</li>
                <li><strong>Area of interest:</strong> Trees (non-woodland)</li>
                <li><strong>Land type:</strong> Grassland, Mooreland and upland</li>
                <li><strong>Funding types:</strong> Item</li>
                <li><strong>Grant schemes:</strong> Countryside Stewardship</li>
                <li><strong>Payment types:</strong> Revenue</li>
            </ul>
        </div>
        <hr class="govuk-section-break govuk-section-break--m">
        

        <ul class="govuk-list" style="color: #1d70b8;">
            <li style="color:	#0b0c0c ;">Contents</li>
            <a class="class=govuk-link govuk-link--no-underline" href="#cost"><li>How much will be paid</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#where"> <li>Where to use this option</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#where-not"> <li>Where this option cannot be used</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#related"> <li>Related Mid Tier options</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#environment"><li>How this option will benefit the environment</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#aims"><li>Aims</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#activities"><li>Prohibited activities</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#management"><li>Recommended management</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#records"><li>Keeping records</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#guidance"><li>Additional guidance and advice</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#branches"><li> &#8213; Storing fallen branches</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#guards"><li> &#8213; Setting tree guards </li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#pesticides"><li> &#8213; Using pesticides</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#livestock"><li> &#8213; Controlling livestock damage</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#ipm"> <li> &#8213; Integrated Pest Management (IPM) </li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#info"><li>Further information and how to apply</li></a>


        </ul>
        <div class="govuk-inset-text">
          This is an option in <a class="class=govuk-link govuk-link" href="https://www.gov.uk/guidance/countryside-stewardship-get-funding-to-protect-and-improve-the-land-you-manage">Countryside Stewardship.</a>
        </div>
          <a class="class=govuk-link govuk-link--no-underline" id="cost"><h2 class="govuk-heading-m">How much will be paid</h2></a>
          <p class="govuk-body">£295 per hectare (ha)</p>
          <a class="class=govuk-link govuk-link--no-underline" id="where"><h2 class="govuk-heading-m">Where to use this option</h2></a>
          <p class="govuk-body">It’s available for Countryside Stewardship Mid Tier and Higher Tier on part parcels, only on:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>grassland receiving more than 100 kilograms (kg) per hectare of nitrogen a year in fertilisers or manures</li>
            <li>trees (dead or alive) at least 30 centimetres (cm) diameter at breast height (DBH)</li>
          </ul>
          <a class="class=govuk-link govuk-link--no-underline" id="where-not"><h2 class="govuk-heading-m">Where this option cannot be used</h2></a>
          <p class="govuk-body">On a group or line of 4 or more trees whose canopies overlap.</p>

          <a class="class=govuk-link govuk-link--no-underline" id="related"><h2 class="govuk-heading-m">Related Mid Tier options</h2></a>
          <p class="govuk-body">You can locate the following options and supplements on the same area as this option.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://www.gov.uk/countryside-stewardship-grants/organic-conversion-improved-permanent-grassland-or1">OR1 - Organic conversion - improved permanent grassland</li></a>
            <li><a href="https://www.gov.uk/countryside-stewardship-grants/organic-land-management-improved-permanent-grassland-ot1">OT1 - Organic land management - improved permanent grassland</li>
          </ul>

          <a class="class=govuk-link govuk-link--no-underline" id="environment"><h2 class="govuk-heading-m">How this option will benefit the environment</h2></a>
          <p class="govuk-body">
            If successful, trees will be protected from agricultural operations and kept as important features in the local landscape. Tree roots will be protected from damage by cultivations with a fertiliser-free grass buffer. Undisturbed standing and fallen deadwood will provide habitat for invertebrates.
          </p>
          <a class="class=govuk-link govuk-link--no-underline" id="aims"><h2 class="govuk-heading-m">Aims</h2></a>
          <div style=" background: 		#f3f2f1"class="govuk-!-padding-4">
            <p class="govuk-body">
              If you’re selected for a site visit, we will check that delivery of the aims is being met and the prohibited activities have not been carried out. This will ensure the environmental benefits are being delivered.
            </p>
          </div>
          <hr class="govuk-section-break govuk-section-break--m">
          <p class="govuk-body">
            Throughout the year there will be trees surrounded by a naturally regenerated grass buffer, protected from damage by livestock and wild animals. Tree guards will be managed to prevent any damage to growing trees. The grass buffer radius will be determined by the tree diameter at breast height.
          </p>
          
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Tree diameter at breast height (DBH)</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Sward radius</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Area per tree</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">30cm to 99cm</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">10m</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">0.03ha</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">100cm to 199cm</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">20m</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">0.12ha</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">200cm or more</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">30m</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">0.28ha</td>
              </tr>
            </tbody>
          </table>
          <p class="govuk-body">Fallen branches will remain in the option area. Trees that die or fall will remain in their position.</p>
       
          <a class="class=govuk-link govuk-link--no-underline" id="activities"><h2 class="govuk-heading-m">Prohibited activities</h2></a>
          <p class="govuk-body">To achieve the aims and deliver the environmental benefits, do not carry out any of the following activities:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>Apply any fertilisers or manures</li>
              <li>Apply any lime</li>
              <li>Plough, cultivate, or re-seed</li>
              <li>Use supplementary feed</li>
              <li>Harrow or roll</li>
              <li>Use pesticides, except for herbicides to spot-treat or weed-wipe to control nettles, bracken, injurious weeds, or invasive non-natives</li>
              <li>Remove any tree limbs, including lower limbs, or mature ivy growth</li>
              <li>Carry out any drainage works, including modifying existing drainage, without written permission before any works take place</li>
          </ul>
          <p class="govuk-body">On your annual claim you will be asked to declare that you have not carried out any prohibited activities.</p>
          <a class="class=govuk-link govuk-link--no-underline" id="management"><h2 class="govuk-heading-m">Recommended management</h2></a>
          <p class="govuk-body">To assist you in achieving the aims and deliver the environmental benefits for this option, we recommend that you use best practice.</p>
          <p class="govuk-body">We recommend that you:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>protect trees from damage by livestock and wild animals</li>
              <li>make sure tree guards do not damage growing trees</li>
              <li>keep all fallen branches within the option area</li>
              <li>leave trees in place if they die or fall and continue with the management requirements</li>
          </ul>
          <p class="govuk-body">In year 1 maintain or allow a grass sward to develop around each tree by natural regeneration.</p>

          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Tree diameter at breast height (DBH)</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Sward radius</th>
                <th scope="col" class="govuk-table__header govuk-table__header--numeric">Area per tree</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">30cm to 99cm</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">10m</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">0.03ha</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">100cm to 199cm</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">20m</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">0.12ha</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">200cm or more</th>
                <td class="govuk-table__cell govuk-table__cell--numeric">30m</td>
                <td class="govuk-table__cell govuk-table__cell--numeric">0.28ha</td>
              </tr>
            </tbody>
          </table>
          <p class="govuk-body">Once established, maintain the sward:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>make sure that no more than 5% is covered in weeds or bare ground</li>
            <li>only cut to control woody growth</li>
          </ul>

          <a class="class=govuk-link govuk-link--no-underline" id="records"><h2 class="govuk-heading-m">Keeping records</h2></a>
          <p class="govuk-body">
            Where there is uncertainty about whether the aims of the options have been delivered, we will take into account any records or evidence you may have kept demonstrating delivery of the aims of the option. This will include any steps you’ve taken to follow the recommended management set out above. It’s your responsibility to keep such records if you want to rely on these to support your claim.
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>The diameter at breast height (DBH) for each tree</li>
            <li>Photographs of trees entered into the option</li>
            <li>Photographs of the sward buffer</li>
          </ul>
          <a class="class=govuk-link govuk-link--no-underline" id="guidance"><h2 class="govuk-heading-m">Additional guidance and advice</h2></a>
          <p class="govuk-body">The following advice is helpful, but they are not requirements for this item.</p>
          <h3 class="govuk-heading-s" id="branches">Storing fallen branches</h3>
          <p class="govuk-body">Do not cut fallen branches into pieces but stack in piles:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>with one pile in a sunny spot and one in a shady spot</li>
            <li>not too high, to stop the timber drying out</li>
            <li>with as much timber as possible in contact with the ground</li>
          </ul>
          <h3 class="govuk-heading-s" id="guards">Setting tree guards</h3>
          <p class="govuk-body">Do not attach tree guards to the trees as this can damage them.</p>
          <h3 class="govuk-heading-s" id="pesticides">Using pesticides</h3>
          <p class="govuk-body">Avoid damaging the trees when spot-treating or weed-wiping. Use chemicals as a last resort, as they can damage root fungi in the soil and trees depend on fungi for future good health.</p>
          <h3 class="govuk-heading-s" id="livestock">Controlling livestock damage</h3>
          <p class="govuk-body">To prevent livestock damage:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>provide different shelter with water to attract animals away from trees</li>
            <li>fence off trees to stop animals rubbing and stripping bark or trampling the base If you use fences, place them at the edge of the option area.</li>
          </ul>
          <h3 class="govuk-heading-s" id="ipm">Integrated Pest Management (IPM)</h3>
          <p class="govuk-body">
            This option can form part of an IPM approach to prevent the establishment of pests, weeds and diseases. If successful, appropriate and within
             proximity of cropped areas, these may limit the need for the use of Plant Protection Products and enhance wildlife and biodiversity on your holding. 
             Read information on IPM at <a href="https://ahdb.org.uk/integrated-pest-management-ipm" class="govuk-link">AHDB (Agriculture and Horticulture Development Board) Integrated Pest Management</a>
             and <a href="https://leaf.eco/">LEAF (Linking Environment and Farming)</a>.
          </p>
          <a class="class=govuk-link govuk-link--no-underline" id="info"><h2 class="govuk-heading-m">Further information and how to apply</h2></a>
          <p class="govuk-body">
          Read
            <a href="https://www.gov.uk/guidance/countryside-stewardship-get-funding-to-protect-and-improve-the-land-you-manage" class="govuk-link">Countryside Stewardship guidance</a>
            to find out more information about Mid Tier and Higher Tier including how to apply.
          </p>
        </div>
        <!-- one third column-->
        <div class="govuk-grid-column-one-third">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          
          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" style=" border-top: 2px solid #1d70b8;">
          <h2 class="govuk-heading-s">Related content</h2>
          <a href="https://www.gov.uk/countryside-stewardship-grants/roofing-sprayer-washdown-area-manure-storage-area-livestock-gathering-area-slurry-stores-silage-stores-rp28" class="govuk-link"><p class="govuk-body-s">RP28: Roofing (sprayer washdown area, manure storage area, livestock gathering area, slurry stores, silage stores)</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/management-of-hedgerows-be3" class="govuk-link"><p class="govuk-body-s">BE3: Management of hedgerows</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/resurfacing-of-gateways-rp1" class="govuk-link"><p class="govuk-body-s">RP1: Resurfacing of gateways</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/supplementary-winter-feeding-for-farmland-birds-ab12" class="govuk-link"><p class="govuk-body-s">AB12: Supplementary winter feeding for farmland birds</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/tree-surgery-te11" class="govuk-link"><p class="govuk-body-s">TE11: Tree surgery</p></a>
         
        </div>
    </main>
</div>



{% endblock %}