{% extends "layouts/main.html" %} {% block pageTitle %} Farming grant options finder – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block
beforeContent %} 
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Private Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new tool – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/Beta/SP-MVP/home.html">Farming grant options finder</a>
          </li>
        </ol>
      </div> 
</div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">ED1: Educational access</h1>
          <p class="govuk-body">Find out about eligibility and requirements for the educational access option.</p>
          <p class="govuk-body">4 January 2024</p>
        
        <div style=" background: 	#1d70b8"class="govuk-!-padding-4">
            <ul class="govuk-list" style="color: white;">
              <ul class="govuk-list" style="color: white;">
                <li><strong>Open or closed:</strong> Open</li>
                <li><strong>Area of interest:</strong> Access and management</li>
                <li><strong>Land type:</strong> Moorland and upland, Woodland</li>
                <li><strong>Funding types:</strong> Option</li>
                <li><strong>Grant schemes:</strong> Countryside Stewardship</li>
                <li><strong>Payment types:</strong> Revenue</li>
            </ul>
        </div>
        <hr class="govuk-section-break govuk-section-break--m">
        

        <ul class="govuk-list" style="color: #1d70b8;">
            <li style="color:	#0b0c0c ;">Contents</li>
            <a class="class=govuk-link govuk-link--no-underline" href="#cost"><li>How much will be paid</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#where"> <li>Where to use this option</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#environment"> <li>How this option will benefit the environment</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#aims"><li>Aims</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#activities"><li>Prohibited activities</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#management"><li>Recommended management</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#records"><li>Keeping records</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#guidance"><li>Additional guidance and advice</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#info"><li>Further information and how to apply</li></a>
        </ul>
        <div class="govuk-inset-text">
          This is an option in <a class="class=govuk-link govuk-link" href="https://www.gov.uk/guidance/countryside-stewardship-get-funding-to-protect-and-improve-the-land-you-manage">Countryside Stewardship.</a>
        </div>
          <a class="class=govuk-link govuk-link--no-underline" id="cost"><h2 class="govuk-heading-m">How much will be paid</h2></a>
          <p class="govuk-body">£363 per visit.</p>
          <a class="class=govuk-link govuk-link--no-underline" id="where"><h2 class="govuk-heading-m">Where to use this option</h2></a>
          <p class="govuk-body">It’s available for Countryside Stewardship Higher Tier and Mid Tier (including WD2: Woodland Improvement).</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>ED1 is not a standalone item and can only be applied for with other Mid Tier and Higher Tier options, an agreement cannot be for ED1 only</li>
          </ul>
          <a class="class=govuk-link govuk-link--no-underline" id="environment"><h2 class="govuk-heading-m">How this option will benefit the environment</h2></a>
          <p class="govuk-body">It allows for school pupils and care farming clients to visit the site to learn, understand and become engaged with farming and the environment.</p>
          
          <a class="class=govuk-link govuk-link--no-underline" id="aims"><h2 class="govuk-heading-m">Aims</h2></a>
          <div style=" background: 		#f3f2f1"class="govuk-!-padding-4">
            <p class="govuk-body">
              If you’re selected for a site visit, we will check that delivery of the aims is being met and the prohibited activities have not been carried out. 
              This will ensure the environmental benefits are being delivered.
            </p>
          </div>
          <hr class="govuk-section-break govuk-section-break--m">
          <p class="govuk-body">
            The tour of the site will last at least 2 hours and will be conducted by a member of staff or volunteer who suits the visitors’ needs. 
            During the tour the links between farming, conservation and food production will be explained, using the land as a classroom. The
            <a class="class=govuk-link govuk-link" href="https://www.gov.uk/government/publications/countryside-stewardship-farm-visit-evaluation">Site visit evaluation form</a>
            will be completed for each visit claimed.
          </p>
          <p class="govuk-body">If the visitors are from a care farming setting, ensure that they are still given a tour of the site and an educational experience.</p>
         
          <a class="class=govuk-link govuk-link--no-underline" id="activities"><h2 class="govuk-heading-m">Prohibited activities</h2></a>
          <p class="govuk-body">To achieve the aims and deliver the environmental benefits, do not carry out any of the following activities:</p>
          <ul>
            <li>the children cannot be older than 18. There is no age limit on care farming</li>
            <li>charge for visits</li>
            <li>receive any other direct income relating to the educational visit</li>
            <li>youth clubs, toddler groups, and extra-curricular events are not eligible visitors</li>
            <li>respite care and those set to work on tasks are not eligible visitors</li>
            <li>as there is no maximum party size, only one group on the holding at a time is eligible to be claimed</li>
            <li>You cannot claim for more than 25 visiting groups in any agreement year.</li>
          </ul>
          
          <p class="govuk-body">On your annual claim you will be asked to declare that you have not carried out any prohibited activities.</p>
          
          <a class="class=govuk-link govuk-link--no-underline" id="management"><h2 class="govuk-heading-m">Recommended management</h2></a>
          <p class="govuk-body">
            Where this option is used in Higher Tier or on SSSIs, we will check that the recommended management is being met and the prohibited activities not carried out. 
            These will be discussed and agreed with your Natural England adviser or Forestry Commission woodland officer.
          </p>
          <p class="govuk-body">In order to assist you achieving the aims and deliver the environmental benefits for this option we recommend that you employ best practice.</p>
          <p class="govuk-body">We recommend that you:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>carry out a health and safety check and prepare a risk assessment for the site, then give this to potential group leaders</li>
            <li>carry out local promotion to schools and care farming settings and providers to ensure a wide prospective audience is reached</li>
            <li>promote the site details online. The links below have some examples of national networks</li>
            <li>read and understand the industry code of practice for undertaking site visits</li>
            <li>discuss with your insurer your public liability levels</li>
            <li>you can use all or part of the site for visits and can use neighbouring land if it offers additional benefit</li>
          </ul>
          <a class="class=govuk-link govuk-link--no-underline" id="records"><h2 class="govuk-heading-m">Keeping records</h2></a>
          <p class="govuk-body">
            Where there is uncertainty about whether the aims of the options have been delivered, we will take into account any records or evidence you may have kept demonstrating 
            delivery of the aims of the option. This will include any steps you’ve taken to follow the recommended management set out above. It is your responsibility to keep such records 
            if you want to rely on these to support your claim.
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Copies of the
              <a class="class=govuk-link govuk-link" href="https://www.gov.uk/government/publications/countryside-stewardship-farm-visit-evaluation">Site visit evaluation form</a>
              - as visits may take place after the annual claim deadline, RPA will accept valid forms until 31 January following the claim year
            </li>
          </ul>
          <a class="class=govuk-link govuk-link--no-underline" id="guidance"><h2 class="govuk-heading-m">Additional guidance and advice</h2></a>
          <p class="govuk-body">The following advice is helpful, but they are not requirements for this item.</p>
          <p class="govuk-body">
            The maximum number of claimed visits is 25. It is possible to deliver more visits or to deliver visits to parties that would otherwise not be eligible and to 
            charge these visitors if you wish. You cannot claim these visits through Countryside Stewardship.
          </p>

          <a class="class=govuk-link govuk-link--no-underline" id="info"><h2 class="govuk-heading-m">Further information and how to apply</h2></a>
          <p class="govuk-body">
          Read
            <a href="https://www.gov.uk/guidance/countryside-stewardship-get-funding-to-protect-and-improve-the-land-you-manage" class="govuk-link">Countryside Stewardship guidance</a>
            to find out more information about Mid Tier and Higher Tier including how to apply.
          </p>
          <p class="govuk-body">
            Read more on:
            <ul class="govuk-list govuk-list--bullet">
            <li><p class="govuk-body"><a href="https://www.countrysideclassroom.org.uk/" class="govuk-link">Countryside Classroom</a> the industry led place to promote your farm.</p></li>
            <li><p class="govuk-body"><a href="https://www.countrytrust.org.uk/get-involved/be-a-host" class="govuk-link">Country Trust</a> supports farmers and landowners to welcome disadvantaged children and young people from all backgrounds onto their farms to access the working countryside</li></p>
            <li><p class="govuk-body"><a href="https://education.leafuk.org/" class="govuk-link">LEAF Education</a> educates children and young people about food and farming in a sustainable countryside</p></li>
            <li><p class="govuk-body"><a href="http://www.carefarminguk.org/" class="govuk-link"> Social Farms & Gardens</a> offers support and resources on the therapeutic use of farms (care farming)</p></li>
            <li><p class="govuk-body"><a href="http://www.visitmyfarm.org/" class="govuk-link">Visit My Farm</a> has resources for land managers to support educational visits, ideas for successful visits, health and safety information and suggestions on how to maximise visitor numbers and enjoyment/p></li>
            <li><p class="govuk-body"><a href="https://visitmyfarm.org/resources/code-of-practice" class="govuk-link"> Industry code of practice to prevent ill health to visitors to the farm</a></p></li>
          </ul>
          </p>
        </div>
        <!-- one third column-->
        <div class="govuk-grid-column-one-third">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          
          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" style=" border-top: 2px solid #1d70b8;">
          <h2 class="govuk-heading-s">Related content</h2>
          <a href="https://www.gov.uk/government/publications/countryside-stewardship-farm-visit-evaluation" class="govuk-link"><p class="govuk-body-s">Site visit declaration: Countryside Stewardship and Environmental Stewardship</p></a>
          <a href="https://www.gov.uk/government/publications/countryside-stewardship-farm-facts-template"><p class="govuk-body-s">Farm facts template: Countryside Stewardship</p></a>
          <a href="https://www.gov.uk/government/publications/countryside-stewardship-higher-tier-manual" class="govuk-link"><p class="govuk-body-s">Higher Tier manual for 1 January 2021 agreements: Countryside Stewardship</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/haymaking-supplement-gs15" class="govuk-link"><p class="govuk-body-s">GS15: Haymaking supplement</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/management-of-species-rich-grassland-gs6" class="govuk-link"><p class="govuk-body-s">GS6: Management of species-rich grassland</p></a>
         
        </div>
    </main>
</div>



{% endblock %}