{% extends "layouts/main.html" %} {% block pageTitle %} Farming grant options finder – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block
beforeContent %} 
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Private Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new tool – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/Beta/SP-MVP/home.html">Farming grant options finder</a>
          </li>
        </ol>
      </div> 
</div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">OP1: Overwintered stubble</h1>
          <p class="govuk-body">Find out about eligibility and requirements for the overwintered stubble option.</p>
          <p class="govuk-body">4 January 2024</p>
        
        <div style=" background: 	#1d70b8"class="govuk-!-padding-4">
            <ul class="govuk-list" style="color: white;">
              <ul class="govuk-list" style="color: white;">
                <li><strong>Open or closed:</strong> Open</li>
                <li><strong>Area of interest:</strong> Biodiversity</li>
                <li><strong>Land type:</strong> Arable Land, Organic, Moorland and upland</li>
                <li><strong>Funding types:</strong> Option</li>
                <li><strong>Grant schemes:</strong> Countryside Stewardship</li>
                <li><strong>Payment types:</strong> Revenue</li>
            </ul>
        </div>
        <hr class="govuk-section-break govuk-section-break--m">
        

        <ul class="govuk-list" style="color: #1d70b8;">
            <li style="color:	#0b0c0c ;">Contents</li>
            <a class="class=govuk-link govuk-link--no-underline" href="#cost"><li>How much will be paid</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#where"> <li>Where to use this option</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#where-not"> <li>Where this option cannot be used</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#related"> <li>Related Mid Tier options</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#environment"> <li>How this option will benefit the environment</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#aims"><li>Aims</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#activities"><li>Prohibited activities</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#management"><li>Recommended management</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#records"><li>Keeping records</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#guidance"><li>Additional guidance and advice</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#rotation"><li>&#8213; Rotating this option</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#bio"><li>&#8213; Biodiversity</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#info"><li>Further information and how to apply</li></a>
        </ul>
          <div class="govuk-inset-text">
            This is an option in Countryside Stewardship.
          </div>
          <a class="class=govuk-link govuk-link--no-underline" id="cost"><h2 class="govuk-heading-m">How much will be paid</h2></a>
          <p class="govuk-body">£264 per hectare (ha)</p>
          <a class="class=govuk-link govuk-link--no-underline" id="where"><h2 class="govuk-heading-m">Where to use this option</h2></a>
          <p class="govuk-body">It’s available for Countryside Stewardship Mid Tier and Higher Tier on whole or part parcels in rotation on:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>land registered as organic or ‘in conversion’ with a Defra-licensed organic control body</li>
            <li>land only on stubble that follows the harvest of:</li>
            <ul class="govuk-list govuk-list--bullet">
              <li>land cereals (not maize)</li>
              <li>oilseed rape</li>
              <li>linseed</li>
            </ul>
          </ul>
          <a class="class=govuk-link govuk-link--no-underline" id="where-not"><h2 class="govuk-heading-m">Where this option cannot be used</h2></a>
          <p class="govuk-body">Parcels at risk of soil erosion or runoff (as identified on the Farm Environment Record (FER)).</p>
            
          <a class="class=govuk-link govuk-link--no-underline" id="related"><h2 class="govuk-heading-m">Related Mid Tier options</h2></a>
          <p class="govuk-body">You can locate the following options on the same area as this option.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/organic-conversion-rotational-land-or3">OR3 - Organic conversion - rotational land</a>
            </li>
            <li>
              <a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/organic-land-management-rotational-land-ot3">OT3 - Organic conversion - rotational land</a>
            </li>
          </ul>
          <a class="class=govuk-link govuk-link--no-underline" id="environment"><h2 class="govuk-heading-m">How this option will benefit the environment</h2></a>
          <p class="govuk-body">It creates a winter food source for seed-eating birds, which feed on spilt grain and the seeds of broad-leaved weeds, and a foraging habitat for brown hare.</p>
          <a class="class=govuk-link govuk-link--no-underline" id="aims"><h2 class="govuk-heading-m">Aims</h2></a>
          <div style=" background: 		#f3f2f1"class="govuk-!-padding-4">
            <p class="govuk-body">
              If you’re selected for a site visit, we will check that delivery of the aims is being met and the prohibited activities have not been carried out. 
              This will ensure the environmental benefits are being delivered.
            </p>
          </div>
          <hr class="govuk-section-break govuk-section-break--m">
          <p class="govuk-body">
            After the harvest there will be stubble until mid-February. Within the stubble there will be a green overwinter cover crop between 10% and 50% of the option area.
          </p>
         
          <a class="class=govuk-link govuk-link--no-underline" id="activities"><h2 class="govuk-heading-m">Prohibited activities</h2></a>
          <p class="govuk-body">To achieve the aims and deliver the environmental benefits, do not carry out any of the following activities:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Apply any fertilisers, manures or lime to the stubble</li>
            <li>Top or graze the stubble</li>
            <li>Cultivate the stubble after harvest</li>
          </ul>
          <p class="govuk-body">On your annual claim you will be asked to declare that you have not carried out any prohibited activities.</p>
          
          <a class="class=govuk-link govuk-link--no-underline" id="management"><h2 class="govuk-heading-m">Recommended management</h2></a>
          <p class="govuk-body">
            To assist you in achieving the aims and deliver the environmental benefits for this option, we recommend that you use best practice.</p>
          <p class="govuk-body">We recommend that you:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>bale, chop or spread straw after harvest</li>
            <li>keep the stubble from harvest until 15 February</li>
            <li>establish a green overwinter cover crop (such as mustard or fodder radish) on at least 10%, but not more than 50%, of the option area</li>
            <li>record the location of this option on your annual claim</li>
          </ul>
          <a class="class=govuk-link govuk-link--no-underline" id="records"><h2 class="govuk-heading-m">Keeping records</h2></a>
          <p class="govuk-body">
            Where there is uncertainty about whether the aims of the options have been delivered, we will take into account any records or evidence you may have kept 
            demonstrating delivery of the aims of the option. This will include any steps you’ve taken to follow the recommended management set out above. 
            It’s your responsibility to keep such records if you want to rely on these to support your claim.
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Field operations at the parcel level, including associated invoices</li>
            <li>A valid organic certificate and schedule for all the parcels entered into this option at application and on your annual claim – 
              RPA will not request this information if you have already supplied it for a Basic Payment Scheme (BPS) claim</li>
              <li>The location of the rotational option</li>
          </ul>
          <a class="class=govuk-link govuk-link--no-underline" id="guidance"><h2 class="govuk-heading-m">Additional guidance and advice</h2></a>
          <p class="govuk-body">The following advice is helpful, but they are not requirements for this item.</p>
          <h3 class="govuk-heading-s" id="rotation">Rotating this option</h3>
          <p class="govuk-body">
            This is a rotational option, it can move between eligible parcels but maintain the same total area (hectarage) each year. Cover crops should be 
            located (on up to 50% of the option area) where they will help to reduce any risk of soil erosion. To avoid destroying the stubble, the cover crop must be 
            established using only shallow cultivation, and non-inversion techniques.
          </p>
          <h3 class="govuk-heading-s" id="bio">Biodiversity</h3>
          <p class="govuk-body">
            This option has been identified as being beneficial for biodiversity. All Countryside Stewardship habitat creation, restoration and management 
            options are of great significance for biodiversity recovery, as are the wide range of arable options in the scheme. Capital items and supplements 
            can support this habitat work depending on the holding’s situation and potential.
          </p>
          <p class="govuk-body">
            The connectivity of habitats is also very important and habitat options should be linked wherever possible. Better connectivity will allow wildlife to 
            move/colonise freely to access water, food, shelter and breeding habitat, and will allow natural communities of both animals and plants to adapt in response 
            to environmental and climate change.
          </p>
          <a class="class=govuk-link govuk-link--no-underline" id="info"><h2 class="govuk-heading-m">Further information and how to apply</h2></a>
          <p class="govuk-body">
          Read
            <a href="https://www.gov.uk/guidance/countryside-stewardship-get-funding-to-protect-and-improve-the-land-you-manage" class="govuk-link">Countryside Stewardship guidance</a>
            to find out more information about Mid Tier and Higher Tier including how to apply.
          </p>
        </div>
        <!-- one third column-->
        <div class="govuk-grid-column-one-third">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          
          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" style=" border-top: 2px solid #1d70b8;">
          <h2 class="govuk-heading-s">Related content</h2>
          <a href="https://www.gov.uk/countryside-stewardship-grants/basic-overwinter-stubble-ab2" class="govuk-link"><p class="govuk-body-s">AB2: Basic overwinter stubble</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/winter-cover-crops-sw6"><p class="govuk-body-s">SW6: Winter cover crops</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/harvested-low-input-cereal-ab14" class="govuk-link"><p class="govuk-body-s">AB14: Harvested low input cereal</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/whole-crop-cereals-ab7" class="govuk-link"><p class="govuk-body-s">AB7: Whole crop cereals</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/permanent-grassland-with-very-low-inputs-outside-sdas-gs2" class="govuk-link"><p class="govuk-body-s">GS2: Permanent grassland with very low inputs (outside SDAs)</p></a>
         
        </div>
    </main>
</div>



{% endblock %}