{% extends "layouts/main.html" %} {% block pageTitle %} Farming grant options finder – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block
beforeContent %} 
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Private Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new tool – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/Beta/SP-MVP/home.html">Farming grant options finder</a>
          </li>
        </ol>
      </div> 
</div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">RP4: Livestock and machinery hardcore tracks</h1>
          <p class="govuk-body">Find out about eligibility and requirements for the livestock and machinery hardcore tracks item.</p>
          <p class="govuk-body">10 October 2023</p>
        
        <div style=" background: 	#1d70b8"class="govuk-!-padding-4">
            <ul class="govuk-list" style="color: white;">
              <ul class="govuk-list" style="color: white;">
                <li><strong>Open or closed:</strong> Open</li>
                <li><strong>Area of interest:</strong> Biodiversity, Water</li>
                <li><strong>Land type:</strong> Mooreland and upland</li>
                <li><strong>Funding types:</strong> Item</li>
                <li><strong>Grant schemes:</strong> Countryside Stewardship</li>
                <li><strong>Payment types:</strong> Capital</li>
            </ul>
        </div>
        <hr class="govuk-section-break govuk-section-break--m">
        

        <ul class="govuk-list" style="color: #1d70b8;">
            <li style="color:	#0b0c0c ;">Contents</li>
            <a class="class=govuk-link govuk-link--no-underline" href="#cost"><li>How much will be paid</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#where"> <li>Where to use this option</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#where-not"> <li>Where this option cannot be used</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#environment"><li>How this option will benefit the environment</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#requirements"><li>Requirements</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#tracks"> <li> &#8213; Hardcore tracks </li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#tracks-sleepers"> <li> &#8213; Hardcore tracks using concrete sleepers </li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#tracks-soil"> <li> &#8213; Hardcore tracks on peaty soils </li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#records"><li>Keeping records</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#related"><li>Related Mid Tier and Capital Grants items</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#guidance"><li>Advice and suggestions for how to carry out this item</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#location"><li> &#8213; How to choose a location</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#geotextile"><li> &#8213; When to add a geotextile membrane </li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#maintain"><li> &#8213; How to maintain the tracks</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#features"><li> &#8213; Permanent ineligible features</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#bio"> <li> &#8213; Biodiversity </li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#info"><li>Further information and how to apply</li></a>

        </ul>
          <div class="govuk-inset-text">
            This is an option in Countryside Stewardship.
          </div>
          <a class="class=govuk-link govuk-link--no-underline" id="cost"><h2 class="govuk-heading-m">How much will be paid</h2></a>
          <p class="govuk-body">£44.63 per metre (m).</p>
          <a class="class=govuk-link govuk-link--no-underline" id="where"><h2 class="govuk-heading-m">Where to use this option</h2></a>
          <p class="govuk-body">It is available for Countryside Stewardship Mid Tier, Higher Tier and Capital Grants in one of the following:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>with the support of Catchment Sensitive Farming (CSF)</li>
            <li>in combination with options for the management and restoration of habitats or features with the support of a Natural England adviser</li>
          </ul>
          <a class="class=govuk-link govuk-link--no-underline" id="where-not"><h2 class="govuk-heading-m">Where this option cannot be used</h2></a>
          <ul class="govuk-list govuk-list--bullet">
            <li>To repair potholes or upgrade existing constructed tracks and farm drives, that have a man-made surface</li>
            <li>On historic or archaeological features or areas of existing wildlife interest identified on the Farm Environment Record (FER), the Environmental Information Map or the Historic Environment Farm Environmental Record (HEFER)</li>
            <li>Without relevant advice or consents from the Highways Authority, if the proposed route is a Public Right of Way</li>
          </ul>

          <a class="class=govuk-link govuk-link--no-underline" id="environment"><h2 class="govuk-heading-m">How this option will benefit the environment</h2></a>
          <p class="govuk-body">
            New farm tracks reduce soil compaction and erosion caused by livestock and machinery. They also help reduce channelling of surface runoff and the risk of sediment and other pollutants entering a watercourse.
          </p>
          <a class="class=govuk-link govuk-link--no-underline" id="requirements"><h2 class="govuk-heading-m">Requirements</h2></a>
          <p class="govuk-body">You must:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>make sure all capital works meet the relevant
              <a class="class=govuk-link govuk-link" href="http://www.bsigroup.com/en-GB/standards/british-standards-online-database/">British Standards</a>
              - examine copies of the most up-to-date standards for guidance
            </li>
          </ul>
          <h3 class="govuk-heading-s" id="tracks">Hardcore tracks</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>Excavate a trench at least 2.4m wide and at least 150 millimetres (mm) deep, or down to a naturally occurring hard surface</li>
            <li>Profile the edge of the track with the excavated soil</li>
            <li>Overlay the area with a geotextile membrane if the base of the trench lies on subsoil (a geotextile membrane is not needed if the base is bedrock or chalk)</li>
            <li>Fill the trench with stone or hardcore to a depth of at least 150mm, and compact it</li>
            <li>Finish the top of the track with a finer material (of 18mm to dust) to a depth of 25 to 50mm, and compact it into a convex camber</li>
            <li>Direct any track runoff to a ditch or other stable drainage outlet, or divert it onto grassland</li>
          </ul>
          <h3 class="govuk-heading-s" id="tracks-sleepers">Hardcore tracks using concrete sleepers</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>Excavate a trench following the instructions above and in addition:</li>
            <ul class="govuk-list govuk-list--bullet">
            <li>Invert the concrete sleepers and lay them slightly proud of the ground</li>
            <li>Lay the sleepers directly on to a level, firm surface and butt them up against each other to form a track (a geotextile membrane is not required)</li>
            </ul>
          </ul>
          <h3 class="govuk-heading-s" id="tracks-soil">Hardcore tracks on peaty soils</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>Excavate a trench 2.4m wide and at least 300mm deep, or 500mm on deep peats</li>
            <li>Dig out soft pockets in the profile, drain them, fill them with well-compacted hardcore, and cap them with clay</li>
            <li>Lay a geotextile membrane to the full width of the track, folding up the sides of the trench</li>
            <li>Lay the membrane onto a surface that will not puncture the material</li>
            <li>Allow at least 300mm for any overlap of the membrane</li>
            <li>Fill the trench to within 50mm of the top with stone or hardcore (from 40mm to dust)</li>
            <li>Profile and compact the track to produce a convex camber</li>
            <li>Top off the track with a wearing course (18mm to dust) to a depth of 25 to 50mm, and compact it to produce a convex camber</li>
            <li>Make sure the geotextile membrane is fully covered – if necessary grass turf may be used to prevent exposure of the membrane at the edge of the track</li>
          </ul>
          <p class="govuk-body">Do not:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>use general, ungraded building rubble</li>
          </ul>
          

          <a class="class=govuk-link govuk-link--no-underline" id="records"><h2 class="govuk-heading-m">Keeping records</h2></a>
          <p class="govuk-body">
            Where you are using this item on a public right of way, consult the local highways authority (LHA) before you apply to get any advice or consent which you need. 
            You do not need to send this with your application, but you will need to send any consents with your payment claim.
          </p>
          <p class="govuk-body">You must send the following with your application:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>written support from CSF or Natural England adviser</li>
          </ul>
          <p class="govuk-body">You must keep the following records and supply them with your payment claim:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>photographs of the site during the different stages of construction or contracts, invoices or other documents confirming the technical specification for the completed works</li>
            <li>photographs of the completed works in place and installed</li>
            <li>any consents or permissions connected from the local highways authority (LHA)</li>
          </ul>
          <p class="govuk-body">You must keep the following records and supply them on request:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>any consents or permissions connected with the work (in addition to the ones stated above)</li>
            <li>receipted invoices, or bank statements where a receipted invoice is unavailable</li>
            <li>photographs or site before works start</li>
          </ul>
          <a class="class=govuk-link govuk-link--no-underline" id="related"><h2 class="govuk-heading-m">Related Mid Tier and Capital Grants items</h2></a>
          <p class="govuk-body">
            You can use this item on the same area as the
            <a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/cross-drains-rp5">RP5 - Cross drains</a>
          </p>
          <a class="class=govuk-link govuk-link--no-underline" id="guidance"><h2 class="govuk-heading-m">Advice and suggestions for how to carry out this item</h2></a>
          <p class="govuk-body">The following advice is helpful, but they are not requirements for this item.</p>
          <h3 class="govuk-heading-s" id="location">How to choose a location</h3>
          <p class="govuk-body">It is best to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>construct the tracks alongside field boundaries rather than across the middle of the field - this will help preserve the appearance of the landscape</li>
            <li>avoid placing the tracks where they will cause runoff or lead to erosion</li>
            <li>camber the tracks so water sheds continuously off them</li>
            <li>use cross drains or bunds if the tracks cannot be cambered</li>
            <li>use cross drains, if necessary, on sloping tracks or tracks that lead on to a highway</li>
          </ul>
          
          <h3 class="govuk-heading-s" id="geotextile">When to add a geotextile membrane</h3>
          <p class="govuk-body">Do not attach tree guards to the trees as this can damage them.
            You do not need to use a geotextile membrane for all types of soil. It is not usually needed on firm shale and some limestone or chalk soils except on a steep slope. 
            Clay soils and peats will need a greater depth of stone to make up the track layers.
          </p>
          <p class="govuk-body">
            Tracks used by machinery may need a geotextile membrane and base layer of stone, depending on the type of soil. Concrete sleepers alone are not adequate for machinery tracks.
          </p>
          <h3 class="govuk-heading-s" id="maintain">How to maintain the tracks</h3>
          <p class="govuk-body">
            You should replace and compact any material lost to potholes and erosion. You should keep the track dry and firm and deal with any problems as soon as they appear.
          </p>
          <h3 class="govuk-heading-s" id="features">Permanent ineligible features</h3>
          <p class="govuk-body">Constructed farm tracks may be classed as permanent ineligible features and excluded from area payment schemes.</p>

          <h3 class="govuk-heading-s" id="bio">Biodiversity</h3>
          <p class="govuk-body">
            This item has been identified as being beneficial for biodiversity. All Countryside Stewardship habitat creation, restoration and management options are of great significance 
            for biodiversity recovery, as are the wide range of arable options in the scheme. Capital items and supplements can support this habitat work depending on the holding’s 
            situation and potential.
          </p>
          <p class="govuk-body">
            The connectivity of habitats is also very important and habitat options should be linked wherever possible. Better connectivity will allow wildlife to move/colonise freely to 
            access water, food, shelter and breeding habitat, and will allow natural communities of both animals and plants to adapt in response to environmental and climate change.
          </p>
          <a class="class=govuk-link govuk-link--no-underline" id="info"><h2 class="govuk-heading-m">Further information and how to apply</h2></a>
          <p class="govuk-body">
          Read
            <a href="https://www.gov.uk/guidance/countryside-stewardship-get-funding-to-protect-and-improve-the-land-you-manage" class="govuk-link">Countryside Stewardship guidance</a>
            to find out more information about Mid Tier and Higher Tier including how to apply.
          </p>
          <p class="govuk-body">
            Catchment Sensitive Farming (CSF) provides farmers with free advice and training to improve water and air quality and reduce flood risk. See guidance for further information on
            <a class="class=govuk-link govuk-link" href="https://www.gov.uk/catchment-sensitive-farming-reduce-agricultural-water-pollution">CSF support</a>.
          </p>
        </div>
        <!-- one third column-->
        <div class="govuk-grid-column-one-third">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          
          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" style=" border-top: 2px solid #1d70b8;">
          <h2 class="govuk-heading-s">Related content</h2>
          <a href="https://www.gov.uk/countryside-stewardship-grants/roofing-sprayer-washdown-area-manure-storage-area-livestock-gathering-area-slurry-stores-silage-stores-rp28" class="govuk-link"><p class="govuk-body-s">RP28: Roofing (sprayer washdown area, manure storage area, livestock gathering area, slurry stores, silage stores)</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/concrete-yard-renewal-rp15" class="govuk-link"><p class="govuk-body-s">RP15: Concrete yard renewal</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/above-ground-tanks-rp18" class="govuk-link"><p class="govuk-body-s">RP18: Above ground tanks</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/resurfacing-of-gateways-rp1" class="govuk-link"><p class="govuk-body-s">RP1: Resurfacing of gateways</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/rainwater-goods-rp16" class="govuk-link"><p class="govuk-body-s">RP16: Rainwater goods</p></a>
         
        </div>
    </main>
</div>



{% endblock %}