{% extends "layouts/main.html" %} {% block pageTitle %} Farming grant options finder – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block
beforeContent %} 
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Private Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new tool – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/Beta/SP-MVP/home.html">Farming grant options finder</a>
          </li>
        </ol>
      </div> 
</div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">RP9: Earth banks and soil bunds</h1>
          <p class="govuk-body">Find out about eligibility and requirements for the earth banks and soil bunds item.</p>
          <p class="govuk-body">9 February 2021</p>
        
        <div style=" background: 	#1d70b8"class="govuk-!-padding-4">
            <ul class="govuk-list" style="color: white;">
              <ul class="govuk-list" style="color: white;">
                <li><strong>Open or closed:</strong> Open</li>
                <li><strong>Area of interest:</strong> Biodiversity, Flood risk, Soil, Water</li>
                <li><strong>Land type:</strong> Mooreland and upland</li>
                <li><strong>Funding types:</strong> Item</li>
                <li><strong>Grant schemes:</strong> Countryside Stewardship</li>
                <li><strong>Payment types:</strong> Capital</li>
            </ul>
        </div>
        <hr class="govuk-section-break govuk-section-break--m">
        

        <ul class="govuk-list" style="color: #1d70b8;">
            <li style="color:	#0b0c0c ;">Contents</li>
            <a class="class=govuk-link govuk-link--no-underline" href="#cost"><li>How much will be paid</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#where"> <li>Where to use this option</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#where-not"> <li>Where this option cannot be used</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#environment"><li>How this item will benefit the environment</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#requirements"><li>Requirements</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#tracks"> <li> &#8213; Hardcore tracks </li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#tracks-sleepers"> <li> &#8213; Hardcore tracks using concrete sleepers </li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#tracks-soil"> <li> &#8213; Hardcore tracks on peaty soils </li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#records"><li>Keeping records</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#related"><li>Related Mid Tier and Capital Grants items</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#guidance"><li>Advice and suggestions for how to carry out this item</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#location"><li> &#8213; Pick a location</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#design"><li> &#8213; Design and construction </li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#buffer"> <li> &#8213; To enhance buffer strips </li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#bunds"> <li> &#8213; Establishing soil bunds </li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#weirs"> <li> &#8213; Building weirs and outlets </li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#bio"> <li> &#8213; Biodiversity </li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#info"><li>Further information and how to apply</li></a>

        </ul>
          <div class="govuk-inset-text">
            This is an option in Countryside Stewardship.
          </div>
          <a class="class=govuk-link govuk-link--no-underline" id="cost"><h2 class="govuk-heading-m">How much will be paid</h2></a>
          <p class="govuk-body">£195.61 for each unit (100m of bund).</p>
          <a class="class=govuk-link govuk-link--no-underline" id="where"><h2 class="govuk-heading-m">Where to use this option</h2></a>
          <p class="govuk-body">Available for Countryside Stewardship Mid Tier, Higher Tier and Capital Grants.</p>
          <p class="govuk-body">Only:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>in areas targeted for the reduction of water pollution from agriculture or to help address flood risk</li>
            <li>on sites identified in either a Feasibility Study, an Implementation Plan or a CSF commissioned design plan</li>
          </ul>
          <a class="class=govuk-link govuk-link--no-underline" id="where-not"><h2 class="govuk-heading-m">Where this option cannot be used</h2></a>
          <ul class="govuk-list govuk-list--bullet">
            <li>on historic or archaeological features or areas of wildlife value as identified on the Farm Environment Record (FER), the Environmental Information Map or the HEFER</li>
            <li>without relevant advice or consents from the Environment Agency (EA), or Local Planning Authority, or Internal Drainage Board</li>
          </ul>

          <a class="class=govuk-link govuk-link--no-underline" id="environment"><h2 class="govuk-heading-m">How this item will benefit the environment</h2></a>
          <p class="govuk-body">An earth bank or soil bund can be used to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>slow the movement of water, protecting streams and rivers from pollutants</li>
            <li>slow flows during high rainfall and reduce downstream flooding</li>
            <li>control water levels to aid raised water levels for habitat creation and restoration</li>
          </ul>
          <a class="class=govuk-link govuk-link--no-underline" id="requirements"><h2 class="govuk-heading-m">Requirements</h2></a>
          <ul class="govuk-list govuk-list--bullet">
            <li>complete the construction as set out in the Feasibility Study, Implementation Plan or CSF design plan (Water-Holding Feature Management Plan)</li>
          </ul>

          <a class="class=govuk-link govuk-link--no-underline" id="records"><h2 class="govuk-heading-m">Keeping records</h2></a>
          <p class="govuk-body">Agreement holders will need to keep the following records and supply them on request:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>any consents or permissions connected with the work</li>
            <li>receipted invoices, or bank statements where a receipted invoice is unavailable</li>
            <li>photographs of site before works start</li>
            <li>a copy of the Feasibility Study or CSF design plan (Water-Holding Feature Management Plan)</li>
          </ul>
          <p class="govuk-body">Please see the record keeping and inspection requirements as set out in the relevant Mid Tier, Higher Tier or Capital Grants guidance for more detail. You can find the latest guidance at
            <a class="class=govuk-link govuk-link" href="https://www.gov.uk/guidance/countryside-stewardship-get-funding-to-protect-and-improve-the-land-you-manage">Countryside Stewardship: get funding to protect and improve the land you manage</a>.
          </p>
          <p class="govuk-body">Agreement holders will need to keep the following records and supply them with the claim:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>photographs of the site during the different stages of construction or contracts, invoices or other documents confirming the technical specification for the completed works</li>
            <li>photographs of the completed works in place and installed</li>
          </ul>
          <p class="govuk-body">
            Before applying, applicants must seek advice from the Environment Agency, and where relevant the Internal Drainage Board to check if consent is required to carry out the planned work. you do not need to provide this consent with your application, but you will need to submit this consent with your payment claim.
          </p>

          <a class="class=govuk-link govuk-link--no-underline" id="related"><h2 class="govuk-heading-m">Related Mid Tier and Capital Grants items</h2></a>
          <p class="govuk-body">This item can be used on the same area as the following options and items:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/sediment-ponds-and-traps-rp7">RP7 - Sediment ponds and traps</a></li>
            <li><a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/swales-rp11">RP11 - Swales</a></li>
            <li><a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/4m-to-6m-buffer-strip-on-cultivated-land-sw1">SW1 - 4m to 6m buffer strip on cultivated land</a></li>
            <li><a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/4m-to-6m-buffer-strip-on-intensive-grassland-sw2">SW2 - 4m to 6m buffer strip on intensive grassland</a></li>
            <li><a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/in-field-grass-strips-sw3">SW3 - In-field grass strips</a></li>
            <li><a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/arable-reversion-to-grassland-with-low-fertiliser-input-sw7">SW7 - Arable reversion to grassland with low fertiliser input</a></li>
            
          </ul>
          <a class="class=govuk-link govuk-link--no-underline" id="guidance"><h2 class="govuk-heading-m">Advice and suggestions for how to carry out this item</h2></a>
          <p class="govuk-body">The following advice is helpful, but they are not requirements for this item.</p>
          <h3 class="govuk-heading-s" id="location">Pick a location</h3>
          <p class="govuk-body">Position bunds or banks on land that can support damp, vegetated habitat. Ideally on:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>tracks</li>
            <li>small, lightly contaminated yards</li>
            <li>hard standing</li>
            <li>the bottom of slopes</li>
          </ul>
          <p class="govuk-body">This item also works on grassland and arable fields, as single entities or to support buffer strips.</p>
          <h3 class="govuk-heading-s" id="design">Design and construction</h3>
          <p class="govuk-body">Details of the design and construction of the earth bank or soil bund will be in the management plan. Agreement holders are likely to need to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>form infiltration basins into ‘V’, ‘U’ or ‘C’ shapes</li>
            <li>measure bunds in a continuous length of 100m per unit with up to a 250m2 runoff store</li>
            <li>dig down 0.8m in depth</li>
            <li>grade side slopes to no more than 1 in 3</li>
            <li>ensure half the stored water can empty within 24 hours</li>
            <li>flatten the soil when damp to strengthen the structure</li>
            <li>plant grass species in banks that can withstand wet and dry conditions</li>
            <li>establish vegetation on the basin floor to reduce clogging</li>
            <li>build bay silt traps where soil erosion is high to stop the basin from clogging</li>
            <li>regularly remove excess sediment from banks and bunds, reapplying it back to the field (contact the Environment Agency to check if a waste exemption is required)</li>
          </ul>
          
          <h3 class="govuk-heading-s" id="buffer">To enhance buffer strips</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>place soil bunds at the field edge of buffer strips, to slow runoff</li>
            <li>build bunds 300mm to 500mm high by 600mm to 1000mm wide</li>
            <li>place larger bunds where complex field slopes divert runoff to pinch points</li>
          </ul>
          <h3 class="govuk-heading-s" id="bunds">Establishing soil bunds</h3>
          <p class="govuk-body">Compact down soil bunds and then sow a seed mixture at a rate of 24g/m2. Form the seed mix from grass, legumes and wildflowers, e.g.:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>creeping red fescue (70%)</li>
            <li>smooth meadow-grass (20%)</li>
            <li>creeping bent (10%)</li>
          </ul>
          <h3 class="govuk-heading-s" id="weirs">Building weirs and outlets</h3>
          <p class="govuk-body">Weirs and outlets can be built into the design as they can discharge more water than pipes and are less likely to block up.</p>
          <p class="govuk-body">The water should be directed on to stones or boulders to slow flow for piped overflows, or weirs in ditches and ponds.</p>
          <h3 class="govuk-heading-s" id="bio">Biodiversity</h3>
          <p class="govuk-body">
            This item has been identified as being beneficial for biodiversity. All Countryside Stewardship habitat creation, restoration and management options are of great significance 
            for biodiversity recovery, as are the wide range of arable options in the scheme. Capital items and supplements can support this habitat work depending on the holding’s 
            situation and potential.
          </p>
          <p class="govuk-body">
            The connectivity of habitats is also very important and habitat options should be linked wherever possible. Better connectivity will allow wildlife to move/colonise freely to 
            access water, food, shelter and breeding habitat, and will allow natural communities of both animals and plants to adapt in response to environmental and climate change.
          </p>
          <a class="class=govuk-link govuk-link--no-underline" id="info"><h2 class="govuk-heading-m">Further information and how to apply</h2></a>
          <p class="govuk-body">
          Read
            <a href="https://www.gov.uk/guidance/countryside-stewardship-get-funding-to-protect-and-improve-the-land-you-manage" class="govuk-link">Countryside Stewardship guidance</a>
            to find out more information about Mid Tier and Higher Tier including how to apply.
          </p>
          <p class="govuk-body">
            Catchment Sensitive Farming (CSF) provides farmers with free advice and training to improve water and air quality and reduce flood risk. See guidance for further information on
            <a class="class=govuk-link govuk-link" href="https://www.gov.uk/catchment-sensitive-farming-reduce-agricultural-water-pollution">CSF support</a>.
          </p>
        </div>
        <!-- one third column-->
        <div class="govuk-grid-column-one-third">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          
          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" style=" border-top: 2px solid #1d70b8;">
          <h2 class="govuk-heading-s">Related content</h2>
          <a href="https://www.gov.uk/countryside-stewardship-grants/swales-rp11" class="govuk-link"><p class="govuk-body-s">RP11: Swales</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/silt-filtration-dams-or-seepage-barriers-rp10" class="govuk-link"><p class="govuk-body-s">RP10: Silt filtration dams or seepage barriers</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/hard-bases-for-livestock-drinkers-lv3" class="govuk-link"><p class="govuk-body-s">LV3: Hard bases for livestock drinkers</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/planting-standard-hedgerow-tree-te1" class="govuk-link"><p class="govuk-body-s">TE1: Planting standard hedgerow tree</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/permanent-electric-fencing-fg3" class="govuk-link"><p class="govuk-body-s">FG3: Permanent electric fencing</p></a>
         
        </div>
    </main>
</div>



{% endblock %}