{% extends "layouts/main.html" %} {% block pageTitle %} Farming grant options finder – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block
beforeContent %} 
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Private Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new tool – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/Beta/SP-MVP/home.html">Farming grant options finder</a>
          </li>
        </ol>
      </div> 
</div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">SP4: Control of invasive plant species supplement</h1>
          <p class="govuk-body">Find out about eligibility and requirements for the control of invasive plant species supplement.</p>
          <p class="govuk-body">8 February 2022</p>
        
        <div style=" background: 	#1d70b8"class="govuk-!-padding-4">
            <ul class="govuk-list" style="color: white;">
              <ul class="govuk-list" style="color: white;">
                <li><strong>Open or closed:</strong> Open</li>
                <li><strong>Area of interest:</strong> Biodiversity, Vegetation control</li>
                <li><strong>Land type:</strong> Mooreland and upland</li>
                <li><strong>Funding types:</strong> Option</li>
                <li><strong>Grant schemes:</strong> Countryside Stewardship</li>
                <li><strong>Payment types:</strong> Revenue</li>
            </ul>
        </div>
        <hr class="govuk-section-break govuk-section-break--m">
        

        <ul class="govuk-list" style="color: #1d70b8;">
            <li style="color:	#0b0c0c ;">Contents</li>
            <a class="class=govuk-link govuk-link--no-underline" href="#cost"><li>How much will be paid</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#where"> <li>Where to use this supplement</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#where-not"> <li>Where this option cannot be used</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#environment"><li>How this item will benefit the environment</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#requirements"><li>Requirements</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#records"><li>Keeping records</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#related"><li>Related supplements</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#guidance"><li>Advice and suggestions for how to carry out this item</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#invasive"><li> &#8213; Non-native invasive species</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#where-supplement"><li> &#8213; Where this supplement can be used </li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#supplement-not"> <li> &#8213; Where this supplement cannot be used </li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#non-native"> <li> &#8213; Controlling non-native invasive species </li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#bio"> <li> &#8213; Biodiversity </li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#info"><li>Further information and how to apply</li></a>

        </ul>
          <div class="govuk-inset-text">
            This is an option in Countryside Stewardship.
          </div>
          <a class="class=govuk-link govuk-link--no-underline" id="cost"><h2 class="govuk-heading-m">How much will be paid</h2></a>
          <p class="govuk-body">£380 per hectare (ha).</p>
          <a class="class=govuk-link govuk-link--no-underline" id="where"><h2 class="govuk-heading-m">Where to use this supplement</h2></a>
          <p class="govuk-body">Available for Countryside Stewardship Mid Tier, Higher Tier and Capital Grants.</p>
          <p class="govuk-body">Whole and part-parcel</p>
          <p class="govuk-body">Only in combination with an appropriate annual management option.</p>
          <a class="class=govuk-link govuk-link--no-underline" id="where-not"><h2 class="govuk-heading-m">Where this option cannot be used</h2></a>
          <p class="govuk-body">For rush control.</p>

          <a class="class=govuk-link govuk-link--no-underline" id="environment"><h2 class="govuk-heading-m">How this item will benefit the environment</h2></a>
          <p class="govuk-body"> 
            It supports the active management and eradication of particularly severe infestations of invasive non-native species that are damaging a feature of interest, such as:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Himalayan balsam</li>
            <li>Japanese knotweed</li>
            <li>floating pennywort and other invasive aquatic plants</li>
          </ul>
          <p class="govuk-body">
            Active management is needed to maintain or restore wildlife value or protect archaeological features.
          </p>
          <p class="govuk-body">
            If successful there should be a reduction in cover and density of non-native invasive species. Native plants and animals will re-establish the area cleared, returning a more natural balance to the habitat.
          </p>
          <a class="class=govuk-link govuk-link--no-underline" id="requirements"><h2 class="govuk-heading-m">Requirements</h2></a>
          <p class="govuk-body">Agreement holder are likely to need to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>control the invasive species so that cover is reduced to a set proportion by a set date</li>
            <li>only carry out chemical control on specifically identified areas</li>
            <li>use temporary grazing controls to protect vegetation regeneration</li>
            <li>control any re-infestation during the term of the agreement</li>
            <li>carry out specific follow-up cutting or grazing management tailored to their site</li>
          </ul>

          <a class="class=govuk-link govuk-link--no-underline" id="records"><h2 class="govuk-heading-m">Keeping records</h2></a>
          <p class="govuk-body">Agreement holders will need to keep the following records and supply them on request:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>field operations at the parcel level, including associated invoices</li>
          </ul>
          <p class="govuk-body">
            The detailed requirements for this supplement will be tailored to the Higher Tier site. Applicants should discuss and agree these requirements with their adviser.
          </p>
         

          <a class="class=govuk-link govuk-link--no-underline" id="related"><h2 class="govuk-heading-m">Related supplements</h2></a>
          <p class="govuk-body">This supplement can be located on the same area as the following supplements:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/coastal-vegetation-management-supplement-ct6">CT6 – Coastal vegetation management supplement</a></li>
            <li><a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/haymaking-supplement-gs15">GS15 – Haymaking supplement</a></li>
            <li><a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/rush-infestation-control-supplement-gs16">GS16 – Rush infestation control supplement</a></li>
            <li><a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/lenient-grazing-supplement-gs17">GS17 – Lenient grazing supplement</a></li>
            <li><a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/difficult-sites-supplement-sp1">SP1 - Difficult sites supplement</a></li>
            <li><a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/raised-water-level-supplement-sp2">SP2 - Raised water level supplement</a></li>
            <li><a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/shepherding-supplement-sp5">SP5 - Shepherding supplement</a></li>
            <li><a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/cattle-grazing-supplement-sp6">SP6 - Cattle grazing supplement</a></li>
            <li><a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/introduction-of-cattle-grazing-on-the-isles-of-scilly-sp7">SP7 - Introduction of cattle grazing on the Isles of Scilly</a></li>
            <li><a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/native-breeds-at-risk-supplement-sp8">SP8 - Native breeds at risk supplement</a></li>
            <li><a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/threatened-species-supplement-sp9">SP9 - Threatened species supplement</a></li>
            <li><a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/nil-fertiliser-supplement-sw14">SW14 – Nil fertiliser supplement</a></li>
            <li><a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/management-of-moorland-vegetation-supplement-up4">UP4 – Management of moorland vegetation supplement</a></li>
            <li><a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/moorland-re-wetting-supplement-up5">UP5 – Moorland re-wetting supplement</a></li>
            <li><a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/upland-livestock-exclusion-supplement-up6">UP6 – Upland livestock exclusion supplement</a></li>
            <li><a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/livestock-exclusion-supplement-scrub-and-successional-areas-wd9">WD9 – Livestock exclusion supplement</a></li>
            <li><a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/wetland-cutting-supplement-wt11">WT11 – Wetland cutting supplement</a></li>
            <li><a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/wetland-grazing-supplement-wt12">WT12 – Wetland grazing supplement</a></li>
          </ul>
          <a class="class=govuk-link govuk-link--no-underline" id="guidance"><h2 class="govuk-heading-m">Advice and suggestions for how to carry out this supplement</h2></a>
          <p class="govuk-body">The following section gives advice on carrying out this supplement successfully but does not form part of the requirements for this supplement.</p>
          <h3 class="govuk-heading-s" id="invasive">Non-native invasive species</h3>
          <p class="govuk-body">Invasive non-native plants are species that:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>have been introduced to the UK either intentionally or unintentionally</li>
            <li>spread and damage the environment, the economy and health</li>
          </ul>
       
          <h3 class="govuk-heading-s" id="where-supplement">Where this supplement can be used</h3>
          <p class="govuk-body">Use this supplement when aiming to do more than just control an invasive species’ spread and, if feasible, eradicate it. Exact details will be agreed with Natural England.</p>
          <p class="govuk-body">
            This supplement can also be used to control non-native invasive species in marginal areas (such as riverbanks, riparian habitats, ditches, channels, field margins, 
            corners and ponds). This can only be done if there is a Countryside Stewardship land management option on that land parcel.
          </p>
          
          <h3 class="govuk-heading-s" id="supplement-not">Where this supplement cannot be used</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>to control <a class="class=govuk-link govuk-link" href="https://www.gov.uk/government/publications/identification-of-injurious-weeds">weeds listed in the Weeds Act 1959</a></li>
            <li>to control bracken and gorse - use the appropriate supplement</li>
            <li>for rush infestations - if this is on land under a Countryside Stewardship option then apply for <a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/rush-infestation-control-supplement-gs16">GS16 - Rush infestation control supplement</a></li>
          </ul>
          <h3 class="govuk-heading-s" id="non-native">Controlling non-native invasive species</h3>
          <p class="govuk-body">Invasive species can be controlled through a range of methods, including:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>containing a species in a limited area</li>
            <li>preventing (or slowing) its spread</li>
            <li>localised population reduction or eradication in particular areas</li>
          </ul>
          <p class="govuk-body">Alternative methods include cutting by hand or cutting mechanically, applying herbicide or an alternative agreed method, depending on the plant being controlled.</p>
          <p class="govuk-body">If the applicant has permission to spray herbicide make sure that the person spraying has the relevant qualifications and certifications.</p>
          <p class="govuk-body">When controlling and disposing of invasive non-native plants on land, specific legal responsibilities must be complied with, including:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>spraying with herbicide</li>
            <li>cutting and burning</li>
            <li>burying invasive plant material</li>
            <li>disposing of invasive plant and contaminated soil off site</li>
          </ul>
          
          <h3 class="govuk-heading-s" id="bio">Biodiversity</h3>
          <p class="govuk-body">
            This supplement has been identified as being beneficial for biodiversity. All Countryside Stewardship habitat creation, restoration and management options are of great 
            significance for biodiversity recovery, as are the wide range of arable options in the scheme. Capital items and supplements can support this habitat work depending on 
            the holding’s situation and potential.
          </p>
          <p class="govuk-body">
            The connectivity of habitats is also very important and habitat options should be linked wherever possible. Better connectivity will allow wildlife to move/colonise 
            freely to access water, food, shelter and breeding habitat, and will allow natural communities of both animals and plants to adapt in response to environmental and climate change.
          </p>
          <a class="class=govuk-link govuk-link--no-underline" id="info"><h2 class="govuk-heading-m">Further information and how to apply</h2></a>
          <p class="govuk-body">
          Read
            <a href="https://www.gov.uk/guidance/countryside-stewardship-get-funding-to-protect-and-improve-the-land-you-manage" class="govuk-link">Countryside Stewardship guidance</a>
            to find out more information about Mid Tier and Higher Tier including how to apply.
          </p>
          <p class="govuk-body">Get more information on invasive weeds from:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the guide to <a class="class=govuk-link govuk-link" href="https://www.gov.uk/guidance/prevent-the-spread-of-harmful-invasive-and-non-native-plants">harmful weeds and invasive, non-native plants</a></li>
            <li>guidance on the <a class="class=govuk-link govuk-link" href="https://www.gov.uk/government/publications/preventing-the-release-into-the-wild-of-certain-plants-and-animals-guidance">Wildlife and Countryside Act and landowners’ responsibilities</a></li>
          </ul>
          
        </div>
        <!-- one third column-->
        <div class="govuk-grid-column-one-third">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">

          
          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" style=" border-top: 2px solid #1d70b8;">
          <h2 class="govuk-heading-s">Related content</h2>
          <a href="https://www.gov.uk/countryside-stewardship-grants/cattle-grazing-supplement-sp6" class="govuk-link"><p class="govuk-body-s">SP6: Cattle grazing supplement</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/creation-of-species-rich-grassland-gs8" class="govuk-link"><p class="govuk-body-s">GS8: Creation of species-rich grassland</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/restoration-towards-species-rich-grassland-gs7" class="govuk-link"><p class="govuk-body-s">GS7: Restoration towards species-rich grassland</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/rush-infestation-control-supplement-gs16" class="govuk-link"><p class="govuk-body-s">GS16: Rush infestation control supplement</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/planting-fruit-trees-te3" class="govuk-link"><p class="govuk-body-s">TE3: Planting fruit trees</p></a>
         
        </div>
    </main>
</div>



{% endblock %}