{% extends "layouts/main.html" %} {% block pageTitle %} Farming grant options finder – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block
beforeContent %} 
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          Private Beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new tool – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/Beta/SP-MVP/home.html">Farming grant options finder</a>
          </li>
        </ol>
      </div> 
</div>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">WD10: Management of upland wood pasture and parkland</h1>
          <p class="govuk-body">Find out about eligibility and requirements for the management of moorland option.</p>
          <p class="govuk-body">24 September 2021</p>
        
        <div style=" background: 	#1d70b8"class="govuk-!-padding-4">
            <ul class="govuk-list" style="color: white;">
              <ul class="govuk-list" style="color: white;">
                <li><strong>Open or closed:</strong> Open</li>
                <li><strong>Area of interest:</strong> Air quality, Historic environment</li>
                <li><strong>Land type:</strong> Moorland and upland, Woodland</li>
                <li><strong>Funding types:</strong> Option</li>
                <li><strong>Grant schemes:</strong> Countryside Stewardship</li>
                <li><strong>Payment types:</strong> Revenue</li>
            </ul>
        </div>
        <hr class="govuk-section-break govuk-section-break--m">
        

        <ul class="govuk-list" style="color: #1d70b8;">
            <li style="color:	#0b0c0c ;">Contents</li>
            <a class="class=govuk-link govuk-link--no-underline" href="#cost"><li>How much will be paid</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#where"> <li>Where to use this option</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#features"> <li>Features that can be included in this option</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#mid"> <li>Related Mid Tier options</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#environment"><li>How this item will benefit the environment</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#aims"><li>Aims</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#prohibited"><li>Prohibited Activities</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#manage"><li>Recommended management</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#records"><li>Keeping records</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#related"><li>Additional guidance and advice</li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#vet"> <li> &#8213;Veterinary treatments </li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#maintain"> <li> &#8213;Maintaining wood pasture and parkland </li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#trees"> <li> &#8213;Planting new trees </li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#consent"> <li> &#8213;Consents and permissions </li></a>
            <a class="class=govuk-link govuk-link--no-underline" href="#info"><li>Further information and how to apply</li></a>

        </ul>
          <div class="govuk-inset-text">
            This is an option in Countryside Stewardship.
          </div>
          <a class="class=govuk-link govuk-link--no-underline" id="cost"><h2 class="govuk-heading-m">How much will be paid</h2></a>
          <p class="govuk-body">£212 per hectare (ha)</p>
          <a class="class=govuk-link govuk-link--no-underline" id="where"><h2 class="govuk-heading-m">Where to use this option</h2></a>
          <p class="govuk-body">
            It’s available for Countryside Stewardship Mid Tier and Higher Tier for managing existing wood pasture and parkland in good condition. 
            Recreational parkland is only eligible where it forms part of the farmed environment.
          </p>
          <p class="govuk-body">Uplands (Inside the SDA)</p>
          <p class="govuk-body">For Mid Tier the land must be mapped on the Priority Habitat Inventory as wood pasture and parkland, see In Mid Tier this option can only be used subject to eligibility checks.
          </p>
          
          <a class="class=govuk-link govuk-link--no-underline" id="features"><h2 class="govuk-heading-m">Features that can be included in this option</h2></a>
          <p class="govuk-body">You can include the following features if they are part of the land, even if they are not eligible for the Basic Payment Scheme (BPS):</p>
          <ul class="govuk-list govuk-list--bullet">
           <li>rivers, streams, ditches, drains, and dykes or any open water less than 4 metres (m) wide</li>
           <li>ponds or inland standing water less than 100 square metres</li>
           <li>unsurfaced roads such as tracks, paths, or bridleways</li>
           <li>small areas of scrub and woodland that do not qualify for specific scrub, woodland, or other options</li>
          </ul>
        
          <a class="class=govuk-link govuk-link--no-underline" id="mid"><h2 class="govuk-heading-m">Related Mid Tier options</h2></a>
          <p class="govuk-body">You can locate the following options and supplements on the same area as this option.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://www.gov.uk/countryside-stewardship-grants/management-of-hedgerows-be3" class="govuk-link govuk-link">BE3 – Management of hedgerows</a></li>
            <li><a href="https://www.gov.uk/countryside-stewardship-grants/veteran-tree-surgery-be6" class="govuk-link govuk-link">BE6 - Veteran tree surgery (Higher Tier only)</a></li>
            <li><a href="https://www.gov.uk/countryside-stewardship-grants/haymaking-supplement-gs15" class="govuk-link govuk-link">GS15 - Haymaking supplement</a></li>
            <li><a href="https://www.gov.uk/countryside-stewardship-grants/rush-infestation-control-supplement-gs16" class="govuk-link govuk-link">GS16 - Rush infestation control supplement</a></li>
            <li><a href="https://www.gov.uk/countryside-stewardship-grants/organic-conversion-improved-permanent-grassland-or1" class="govuk-link govuk-link">OR1 - Organic conversion - improved permanent grassland</a></li>
            <li><a href="https://www.gov.uk/countryside-stewardship-grants/organic-conversion-unimproved-permanent-grassland-or2" class="govuk-link govuk-link">OR2 - Organic conversion - unimproved permanent grassland</a></li>
            <li><a href="https://www.gov.uk/countryside-stewardship-grants/organic-land-management-improved-permanent-grassland-ot1" class="govuk-link govuk-link">OT1 - Organic land management - improved permanent grassland</a></li>
            <li><a href="https://www.gov.uk/countryside-stewardship-grants/organic-land-management-unimproved-permanent-grassland-ot2" class="govuk-link govuk-link">OT2 - Organic land management - unimproved permanent grassland</a></li>
            <li><a href="https://www.gov.uk/countryside-stewardship-grants/difficult-sites-supplement-sp1" class="govuk-link govuk-link">SP1 - Difficult sites supplement (Higher Tier only)</a></li>
            <li><a href="https://www.gov.uk/countryside-stewardship-grants/bracken-control-supplement-sp3" class="govuk-link govuk-link">SP3 - Bracken control supplement (Higher Tier only)</a></li>
            <li><a href="https://www.gov.uk/countryside-stewardship-grants/control-of-invasive-plant-species-supplement-sp4" class="govuk-link govuk-link">SP4 - Control of invasive plant species supplement (Higher Tier only)</a></li>
            <li><a href="https://www.gov.uk/countryside-stewardship-grants/cattle-grazing-supplement-sp6" class="govuk-link govuk-link">SP6 - Cattle grazing supplement</a></li>
            <li><a href="https://www.gov.uk/countryside-stewardship-grants/native-breeds-at-risk-supplement-sp8" class="govuk-link govuk-link">SP8 - Native breeds at risk supplement (Higher Tier only)</a></li>
            <li><a href="https://www.gov.uk/countryside-stewardship-grants/threatened-species-supplement-sp9" class="govuk-link govuk-link">SP9 - Threatened species supplement</a></li>
            <li><a href="https://www.gov.uk/countryside-stewardship-grants/management-of-ditches-of-high-environmental-value-wt3" class="govuk-link govuk-link">WT3 – Management of ditches of high environmental value</a></li>
          </ul>
          

          <a class="class=govuk-link govuk-link--no-underline" id="environment"><h2 class="govuk-heading-m">How this item will benefit the environment</h2></a>
          <p class="govuk-body">
            It will maintain existing wood pasture and parkland on sites that still support mature and veteran trees. If successful there will be many of the following, depending on whether the site is predominantly wood pasture, parkland or a combination of both.
          </p>
          <ul class="govuk-list govuk-list--bullet">
              <li>Undisturbed standing and fallen deadwood that will provide habitats for invertebrates</li>
              <li>Additional semi-mature or mature trees that will provide continuity of the tree population</li>
              <li>Newly planted trees, spaced evenly with open crowns or patches of regeneration with space to allow open grown crowns to develop</li>
              <li>Open grown scrub within the wood-pasture</li>
              <li>Flowering trees and scrub such as hawthorn, crab apple, and wild pear that will provide food and nectar sources for wildlife</li>
              <li>Well-managed unimproved or semi-improved grassland or heathland, grazed by traditional breeds of cattle in wood pasture and deer and traditional breeds of cattle in parkland</li>
              <li>Well-maintained historic and archaeological features</li>
              <li>Well-maintained historic designed landscape planting features</li>
          </ul>

          <a class="class=govuk-link govuk-link--no-underline" id="aims"><h2 class="govuk-heading-m">Aims</h2></a>
          <div style=" background: 		#f3f2f1"class="govuk-!-padding-4">
            <p class="govuk-body">
              If you’re selected for a site visit, we will check that delivery of the aims is being met and the prohibited activities have not been carried out. 
              This will ensure the environmental benefits are being delivered. 
            </p>
          </div>
          <hr class="govuk-section-break govuk-section-break--m">

          <p class="govuk-body">Throughout the year the site will be cut and/or grazed to maintain a mix of different grass heights, scrub and trees.</p>
          <p class="govuk-body">Existing trees (including mature and veteran standing trees) will be protected from livestock and wild animals, and any fallen dead wood left in place for invertebrates.</p>
          <p class="govuk-body">Scrub and grass swards will be managed to meet the additional aims stated in your agreement.</p>
          <p class="govuk-body">Historic features such as parkland fences, railings or historic boundaries will be protected from damage. An undisturbed strip at least 0.5m wide will be present adjacent to the edge of the feature.</p>
          <p class="govuk-body">Maintenance works and minor repairs on structural historic and archaeological features will be carried out on a ‘like for like’ basis to retain the character of the feature in its local setting.</p>
          <p class="govuk-body">The margins around water features will be managed by grazing and/or cutting to control scrub. Shrubs, scrub or trees will be prevented from shading more than 25% of the southern side of the water feature.</p>


          <a class="class=govuk-link govuk-link--no-underline" id="prohibited"><h2 class="govuk-heading-m">Requirements</h2></a>
          <p class="govuk-body">To achieve the aims and deliver the environmental benefits, do not carry out any of the following activities.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Apply any fertilisers or manures</li>
            <li>Use pesticides, except for herbicides to spot tree or weed-wipe for the control of injurious weeds, invasive non-natives, nettles or bracken</li>
            <li>Plough, cultivate or re-seed</li>
            <li>Supplementary feed</li>
            <li>Harrow or roll</li>
            <li>Allow damage to existing trees or vegetation or remove deadwood from the site</li>
            <li>Carry out drainage works, including modifying existing drainage, without the RPA's written permission before work starts</li>
            <li>Alter the depth, shape, profile, and design of the built water body and associated engineering</li>
            <li>Alter the current water regime of any water features</li>
          </ul>
          
          <p class="govuk-body">On your annual claim you will be asked to declare that you have not carried out any prohibited activities.</p>

          <div style=" background: 		#f3f2f1"class="govuk-!-padding-4">
            <p class="govuk-body">
              In Mid Tier you can only use this option if it meets the relevant criteria and you have written approval from RPA. 
              Additional aims and prohibited activities may be added to refine the standard requirements, as part of the approval process.
            </p>
          </div>
          <hr class="govuk-section-break govuk-section-break--m">
          
          <a class="class=govuk-link govuk-link--no-underline" id="manage"><h2 class="govuk-heading-m">Recommended management</h2></a>
          <p class="govuk-body">To assist you in achieving the aims and deliver the environmental benefits for this option, we recommend that you use best practice.</p>
          <p class="govuk-body">We recommend that you:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a class="class=govuk-link govuk-link" href="https://www.forestresearch.gov.uk/publications/common-sense-risk-management-of-trees-landowner-summary/">graze and/or cut to maintain area of closely grazed turf interspersed with taller tussocks</a></li>
            <li>retain all mature and veteran standing trees and all standing and fallen deadwood, provided that it is consistent with the National Tree Safety Group document <a class="class=govuk-link govuk-link" href="https://www.forestresearch.gov.uk/publications/common-sense-risk-management-of-trees-landowner-summary/">Common sense risk management of trees: landowner summary</a> - you must leave fallen dead wood uncut and in place</li>
            <li>protect existing trees to prevent damage from livestock and wild animals - manage tree guards to prevent any damage to growing trees</li>
            <li>protect historic features such as parkland fences, railings or historic boundaries from damage</li>
            <li>do not cultivate the undisturbed 0.5m wide strip adjacent to historic features and do not allow scrub to develop</li>
            <li>maintain the current water regime of any water features carry out maintenance works and minor repairs on structural historic or archaeological features on a ‘like for like’ basis to keep the character of the feature in its local setting</li>
            <li>retain the depth, shape, profile and design of the built water body and associated engineering without alteration</li>
            <li>manage margins around water features by grazing and/or cutting to control scrub. Do not allow shrubs, scrub or trees to shade more than 25% of the southern side of the water feature. Control scrub and undesirable plant species so that by year 2 cover of the feature is no more than 5% (or as stated in the additional aims). All cut material should be removed.</li>
          </ul>
          
          <p class="govuk-body">In Mid Tier, additional clauses may be included to refine the standard requirements. These will be discussed and agreed as part of the approval process.</p>
          
          <a class="class=govuk-link govuk-link--no-underline" id="records"><h2 class="govuk-heading-m">Keeping records</h2></a>
          <p class="govuk-body">Where there is uncertainty about whether the aims of the options have been delivered, we will take into account any records or evidence you may have kept 
            demonstrating delivery of the aims of the option. This will include any steps you’ve taken to follow the recommended management set out above. 
            It’s your responsibility to keep such records if you want to rely on these to support your claim.
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Any bank statements, receipted invoices or permissions connected with the work</li>
            <li>Photographs of structural, historic and archaeological features</li>
            <li>Photographs of the management taken</li>
            <li>A monthly record of the number of grazing livestock in each parcel</li>
            <li>Records of all management activity on the option area for each parcel</li>
            <li>Photographs of the water feature, clearly showing its shape and design and all associated engineering features such as sluices, weirs, dams and other water control structures</li>
            <li>Photographs of the water feature and surrounding buffers, clearly showing the extent of any areas of scrub, bracken or pernicious weeds</li>
            <li>Photographs showing before and after shots of all maintenance works and minor repairs that have been carried out</li>
          </ul>
          
         

          <a class="class=govuk-link govuk-link--no-underline" id="related"><h2 class="govuk-heading-m">Additional guidance and advice</h2></a>
          <p class="govuk-body"> The following advice is helpful, but they are not requirements for this item.</p>

            
          
          <a class="class=govuk-link govuk-link--no-underline" id="guidance"><h2 class="govuk-heading-m">Advice and suggestions for how to carry out this option</h2></a>
          <p class="govuk-body">The following advice is helpful, but they are not requirements for this item.</p>
      
          
          <h3 class="govuk-heading-s" id="vet">Veterinary treatments</h3>
          <p class="govuk-body">
            Avoid applying veterinary treatments on grazing livestock wherever possible. Chemicals from these treatments could harm the insects and fungi that are typical of wood pasture and parkland.
          </p>
          
          <h3 class="govuk-heading-s" id="maintain">Maintaining wood pasture and parkland</h3>
          <p class="govuk-body">
            On historic parkland, provide a detailed feasibility study (management plan) tailored to the site. This can be an existing plan or can be funded through 
            <a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants/feasibility-study-pa2">PA2 Feasibility Study</a>
            item.
          </p>
          <p class="govuk-body">Use grazing livestock, preferably traditional breed cattle in wood pasture or traditional breed cattle and deer in parkland, to maintain the site. Avoid compaction around veteran trees.</p>
          <p class="govuk-body">Continuity of veteran tree or dead wood habitat is a major concern on wood pasture. If sufficient semi-mature trees are present consider the creation of dead wood habitat on trees capital item and encourage new trees through natural regeneration if possible or with planting.</p>
          
          <h3 class="govuk-heading-s" id="trees">Planting new trees</h3>
          <p class="govuk-body">Try to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>space out newly planted trees (or patches of natural regeneration) so they are wide enough to grow an open crown</li>
            <li>pick trees that are suitable as eventual replacements for mature or veteran trees</li>
            <li>select tree species appropriate to the historic parkland design but consider varieties or provenances that are resilient to local climate change</li>
            <li>on wood pasture or a site with veteran trees maintain the genetic stock of the veteran trees on site - choose varieties that provide the same ecological wood decay conditions as mature or veteran trees already on the site</li>
          </ul>
          
          <h3 class="govuk-heading-s" id="consent">Consents and permissions</h3>
          <p class="govuk-body">Be aware that a number of consents and permissions may apply.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>The Tree Preservation Orders (TPOs) and Conservation Orders may apply to the trees on site</li>
            <li>Old trees especially can host European Protected Species, such as bats</li>
          </ul>
          <a class="class=govuk-link govuk-link--no-underline" id="info"><h2 class="govuk-heading-m">Further information and how to apply</h2></a>
          <p class="govuk-body">
          Read
            <a href="https://www.gov.uk/guidance/countryside-stewardship-get-funding-to-protect-and-improve-the-land-you-manage" class="govuk-link">Countryside Stewardship guidance</a>
            to find out more information about Mid Tier and Higher Tier including how to apply.
          </p>
          <p class="govuk-body">Read the following guidance booklets for more detail on managing ancient or veteran trees.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a class="class=govuk-link govuk-link" href="http://www.ancienttreeforum.co.uk/resources/ancient-tree-guides/">Ancient tree guides (booklets 1 to 8)</a></li>
            <li>Lonsdale, D (ed) 2014, <i>Ancient and other veteran trees: further guidance on management</i>, Tree Council</li>
            <li>Read, H (ed) 2000, <a class="class=govuk-link govuk-link" href="http://publications.naturalengland.org.uk/publication/75035">Veteran trees: A guide to good management</a>, Veteran Trees Initiative</li>
          </ul>
          
          
        </div>
        <!-- one third column-->
        <div class="govuk-grid-column-one-third">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">
          <hr class="govuk-section-break govuk-section-break--m">

          
          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" style=" border-top: 2px solid #1d70b8;">
          <h2 class="govuk-heading-s">Related content</h2>
          <a href="https://www.gov.uk/countryside-stewardship-grants/upland-livestock-exclusion-supplement-up6" class="govuk-link"><p class="govuk-body-s">UP6: Upland livestock exclusion supplement</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/moorland-re-wetting-supplement-up5" class="govuk-link"><p class="govuk-body-s">UP5: Moorland re-wetting supplement</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/management-of-moorland-vegetation-supplement-up4" class="govuk-link"><p class="govuk-body-s">UP4: Management of moorland vegetation supplement</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/shepherding-supplement-sp5" class="govuk-link"><p class="govuk-body-s">SP5: Shepherding supplement</p></a>
          <a href="https://www.gov.uk/countryside-stewardship-grants/management-of-rough-grazing-for-birds-up2" class="govuk-link"><p class="govuk-body-s">UP2: Management of rough grazing for birds</p></a>
         
        </div>
    </main>
</div>



{% endblock %}