{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      What are the goals for your land or farm?
    </h1>

    <p>Find out what funding you could get from the Farming and Countryside Programme. This is for land or farms in England.</p>
    <p>You will not have to log in or share personal information. This service does not confirm your eligibility.</p>

  </div>
</div>

<div id="contact-hint" class="govuk-hint">
  Select all that apply.
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-half">

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Create</h2>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
      <label class="govuk-label govuk-checkboxes__label" for="waste">
      </label>
    </div>
  </div>
  <div class="govuk-summary-card__content">
    <div class="govuk-body"> Start something from new.</div>
  </div>
</div>


</div>

<div class="govuk-grid-column-one-half">

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Improve</h2>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
      <label class="govuk-label govuk-checkboxes__label" for="waste">
      </label>
    </div>
  </div>
  <div class="govuk-summary-card__content">
    <div class="govuk-body"> Develop what you're doing.</div>
  </div>
</div>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">


<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Manage</h2>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
      <label class="govuk-label govuk-checkboxes__label" for="waste">
      </label>
    </div>
  </div>
  <div class="govuk-summary-card__content">
    <div class="govuk-body"> Maintain what you have.</div>
  </div>
</div>

</div>

<div class="govuk-grid-column-one-half">

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Protect</h2>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
      <label class="govuk-label govuk-checkboxes__label" for="waste">
      </label>
    </div>
  </div>
  <div class="govuk-summary-card__content">
    <div class="govuk-body"> Guard what you have.</div>
  </div>
</div>

  </div>
</div>

<a href="cardsubcat.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
  Continue
  </a>







{% endblock %}
