{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    /* Filter by elements */
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Roboto;
  border: 1px;
  border-color: 	#b1b4b6;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
  border: solid;
  border-color: 	#b1b4b6;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}


  </style>
</head>

<script>
  filterSelection("all")
  function filterSelection(c) {
    var x, i;
    x = document.getElementsByClassName("column");
    if (c == "all") c = "";
    for (i = 0; i < x.length; i++) {
      w3RemoveClass(x[i], "show");
      if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
    }
  }
  
  function w3AddClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
    }
  }
  
  function w3RemoveClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      while (arr1.indexOf(arr2[i]) > -1) {
        arr1.splice(arr1.indexOf(arr2[i]), 1);     
      }
    }
    element.className = arr1.join(" ");
  }
  
  
  // Add active class to the current button (highlight it)
  var btnContainer = document.getElementById("myBtnContainer");
  var btns = btnContainer.getElementsByClassName("btn");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function(){
      var current = document.getElementsByClassName("active");
      current[0].className = current[0].className.replace(" active", "");
      this.className += " active";
    });
  }


// Create a "close" button and append it to each list item
var myNodelist = document.getElementsByTagName("LI");
var i;
for (i = 0; i < myNodelist.length; i++) {
  var span = document.createElement("SPAN");
  var txt = document.createTextNode("\u00D7");
  span.className = "close";
  span.appendChild(txt);
  myNodelist[i].appendChild(span);
}

// Click on a close button to hide the current list item
var close = document.getElementsByClassName("close");
var i;
for (i = 0; i < close.length; i++) {
  close[i].onclick = function() {
    var div = this.parentElement;
    div.style.display = "none";
  }
}

// Add a "checked" symbol when clicking on a list item
var list = document.querySelector('ul');
list.addEventListener('click', function(ev) {
  if (ev.target.tagName === 'LI') {
    ev.target.classList.toggle('checked');
  }
}, false);

// Create a new list item when clicking on the "Add" button
function newElement() {
  var li = document.createElement("li");
  var inputValue = document.getElementById("myInput").value;
  var t = document.createTextNode(inputValue);
  li.appendChild(t);
  if (inputValue === '') {
    alert("You must write something!");
  } else {
    document.getElementById("myUL").appendChild(li);
  }
  document.getElementById("myInput").value = "";

  var span = document.createElement("SPAN");
  var txt = document.createTextNode("\u00D7");
  span.className = "close";
  span.appendChild(txt);
  li.appendChild(span);

  for (i = 0; i < close.length; i++) {
    close[i].onclick = function() {
      var div = this.parentElement;
      div.style.display = "none";
    }
  }
}
</script>

<body>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Check available funding and grants for your land or farm
    </h1>
  </div>
  <div class="govuk-inset-text">
    This service does not confirm your eligibility. You cannot get the same
    funding twice on a single land parcel.
  </div>

<h2 class="govuk-heading-m">Search</h2>
<p class="govuk-!-font-size-16 govuk-hint">
  Enter a keyword or the name of a grant.
</p>


  <div class="govuk-form-group">
    <input class="govuk-input govuk-!-width-three-quarters" id="myInput" name="search-term" type="text">
    <span onclick="newElement()" class="govuk-button">Search</span>
  </div>

  <!-- MAIN (Center website) -->
  <div class="main"> 

    
    
  <div id="myBtnContainer">
    <button class="govuk-button govuk-button--secondary active" onclick="filterSelection('all')"> Show all</button>
    <button class="govuk-button govuk-button--secondary" onclick="filterSelection('nature')"> Nature</button>
    <button class="govuk-button govuk-button--secondary" onclick="filterSelection('cars')"> Cars</button>
    <button class="govuk-button govuk-button--secondary" onclick="filterSelection('people')"> People</button>
    <button class="govuk-button govuk-button--secondary" onclick="filterSelection('people')" id="myUL"></button>
    
  </div>

  <!-- Funding Grid -->
  <div class="row">
    <div class="column nature">
      <div class="content">
        
        <h3 class="govuk-heading-s">Mountains</h3>
        <p class="govuk-body">Lorem ipsum dolor..</p>
      </div>
    </div>
    <div class="column nature">
      <div class="content">
        
        <h3 class="govuk-heading-s">Lights</h3>
        <p class="govuk-body">Lorem ipsum dolor..</p>
      </div>
    </div>
    <div class="column nature">
      <div class="content">
        
        <h3 class="govuk-heading-s">Forest</h3>
        <p class="govuk-body">Lorem ipsum dolor..</p>
      </div>
    </div>
    
    <div class="column cars">
      <div class="content">
        
        <h3 class="govuk-heading-s">Retro</h3>
        <p class="govuk-body">Lorem ipsum dolor..</p>
      </div>
    </div>
    <div class="column cars">
      <div class="content">
        
        <h3 class="govuk-heading-s">Fast</h3>
        <p class="govuk-body">Lorem ipsum dolor..</p>
      </div>
    </div>
    <div class="column cars">
      <div class="content">
        
        <h3 class="govuk-heading-s">Classic</h3>
        <p class="govuk-body">Lorem ipsum dolor..</p>
      </div>
    </div>
  
    <div class="column people">
      <div class="content">
        
        <h3 class="govuk-heading-s">Girl</h3>
        <p class="govuk-body">Lorem ipsum dolor..</p>
      </div>
    </div>
    <div class="column people">
      <div class="content">
        
        <h3 class="govuk-heading-s">Man</h3>
        <p class="govuk-body">Lorem ipsum dolor..</p>
      </div>
    </div>
    <div class="column people">
      <div class="content">
        
        <h3 class="govuk-heading-s">Woman</h3>
        <p class="govuk-body">Lorem ipsum dolor..</p>
      </div>
    </div>
  <!-- END GRID -->
  </div>
  
  <!-- END MAIN -->
  </div>
  </div>
</body> 
  

  
  





{% endblock %}
