{% extends "layouts/main.html" %} {% block pageTitle %} GOV.UK page template –
{{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block content %}
<head>
<style>
.govuk-form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust the spacing between elements */
}

.select-container {
  flex: 1; /* Distribute available space equally among all containers */
  max-width: calc(25% - 10px); /* Adjust the width of each container */
  /* You can also use 'width' property instead of 'max-width' if you want fixed widths */
}

 
</style>
</head>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Check available funding and grants for your land or farm
    </h1>
  </div>
  <div class="govuk-inset-text">
    This service does not confirm your eligibility. You cannot get the same
    funding twice on a single land parcel.
  </div>

<h2 class="govuk-heading-m">Search</h2>
<p class="govuk-!-font-size-16 govuk-hint">
  Enter a keyword or the name of a grant.
</p>

<input
  class="govuk-input govuk-!-width-full"
  id="one-third"
  name="one-third"
  type="text"/>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break">
 
  <div class="govuk-form-group">
    <div class="select-container">
    <label class="govuk-label" for="sort">
      Priorities
    </label>
    <select class="govuk-select" id="sort" name="sort">
      <option value="published">Recently published</option>
      <option value="updated" selected>Recently updated</option>
      <option value="views">Most views</option>
      <option value="comments">Most comments</option>
    </select>
    </div>
    <div class="select-container">
    <label class="govuk-label" for="sort">
      Activities
    </label>
    <select class="govuk-select" id="sort" name="sort">
      <option value="published">Recently published</option>
      <option value="updated" selected>Recently updated</option>
      <option value="views">Most views</option>
      <option value="comments">Most comments</option>
    </select>
    </div>
    <div class="select-container">
    <label class="govuk-label" for="sort">
      Grant scheme
    </label>
    <select class="govuk-select" id="sort" name="sort">
      <option value="published">Recently published</option>
      <option value="updated" selected>Recently updated</option>
      <option value="views">Most views</option>
      <option value="comments">Most comments</option>
    </select>
    </div>
    <div class="select-container">
    <label class="govuk-label" for="sort">
      Payment type
    </label>
    <select class="govuk-select" id="sort" name="sort">
      <option value="published">Recently published</option>
      <option value="updated" selected>Recently updated</option>
      <option value="views">Most views</option>
      <option value="comments">Most comments</option>
    </select>
    </div>
  </div>
  

<hr class="govuk-section-break govuk-section-break--m govuk-section-break" />
<hr class="govuk-section-break govuk-section-break--m govuk-section-break" />

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Air quality</h2>
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            id="waste"
            name="waste"
            type="checkbox"
            value="carcasses"
          />
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
        </div>
      </div>
      <div class="govuk-summary-card__content">
        <div class="govuk-body">Cleanliness and purity levels in the air.</div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Arable land</h2>
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            id="waste"
            name="waste"
            type="checkbox"
            value="carcasses"
          />
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
        </div>
      </div>
      <div class="govuk-summary-card__content">
        <div class="govuk-body">Fertile land suitable for growing crops.</div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Biodiversity</h2>
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            id="waste"
            name="waste"
            type="checkbox"
            value="carcasses"
          />
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
        </div>
      </div>
      <div class="govuk-summary-card__content">
        <div class="govuk-body">Variety of plant and animal species.</div>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Boundaries</h2>
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            id="waste"
            name="waste"
            type="checkbox"
            value="carcasses"
          />
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
        </div>
      </div>
      <div class="govuk-summary-card__content">
        <div class="govuk-body">Physical or legal borders for land.</div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Coast</h2>
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            id="waste"
            name="waste"
            type="checkbox"
            value="carcasses"
          />
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
        </div>
      </div>
      <div class="govuk-summary-card__content">
        <div class="govuk-body">Where land meets a body of water.</div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Educational access</h2>
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            id="waste"
            name="waste"
            type="checkbox"
            value="carcasses"
          />
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
        </div>
      </div>
      <div class="govuk-summary-card__content">
        <div class="govuk-body">Ways to help with learning for visitors.</div>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Flood risk</h2>
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            id="waste"
            name="waste"
            type="checkbox"
            value="carcasses"
          />
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
        </div>
      </div>
      <div class="govuk-summary-card__content">
        <div class="govuk-body">How likely flooding is to happen.</div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Grassland</h2>
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            id="waste"
            name="waste"
            type="checkbox"
            value="carcasses"
          />
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
        </div>
      </div>
      <div class="govuk-summary-card__content">
        <div class="govuk-body">
          Land covered with different types of grass.
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Historic environment</h2>
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            id="waste"
            name="waste"
            type="checkbox"
            value="carcasses"
          />
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
        </div>
      </div>
      <div class="govuk-summary-card__content">
        <div class="govuk-body">Sites with historical importance.</div>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Livestock management</h2>
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            id="waste"
            name="waste"
            type="checkbox"
            value="carcasses"
          />
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
        </div>
      </div>
      <div class="govuk-summary-card__content">
        <div class="govuk-body">Care and handling of farm animals.</div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Organic land</h2>
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            id="waste"
            name="waste"
            type="checkbox"
            value="carcasses"
          />
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
        </div>
      </div>
      <div class="govuk-summary-card__content">
        <div class="govuk-body">Land cultivated using organic methods.</div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Pollinators and wildlife</h2>
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            id="waste"
            name="waste"
            type="checkbox"
            value="carcasses"
          />
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
        </div>
      </div>
      <div class="govuk-summary-card__content">
        <div class="govuk-body">
          Ways to increase food sources for pollinators.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Priority habitats</h2>
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            id="waste"
            name="waste"
            type="checkbox"
            value="carcasses"
          />
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
        </div>
      </div>
      <div class="govuk-summary-card__content">
        <div class="govuk-body">
          Areas that need protection and conservation.
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Trees (non-woodland)</h2>
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            id="waste"
            name="waste"
            type="checkbox"
            value="carcasses"
          />
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
        </div>
      </div>
      <div class="govuk-summary-card__content">
        <div class="govuk-body">Trees not part of a larger forested area.</div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Uplands</h2>
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            id="waste"
            name="waste"
            type="checkbox"
            value="carcasses"
          />
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
        </div>
      </div>
      <div class="govuk-summary-card__content">
        <div class="govuk-body">Higher areas of land used for grazing.</div>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Vegetation control</h2>
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            id="waste"
            name="waste"
            type="checkbox"
            value="carcasses"
          />
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
        </div>
      </div>
      <div class="govuk-summary-card__content">
        <div class="govuk-body">Management of plants for crops to grow.</div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Water quality</h2>
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            id="waste"
            name="waste"
            type="checkbox"
            value="carcasses"
          />
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
        </div>
      </div>
      <div class="govuk-summary-card__content">
        <div class="govuk-body">Cleanliness and health of water sources.</div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Woodland</h2>
        <div class="govuk-checkboxes__item">
          <input
            class="govuk-checkboxes__input"
            id="waste"
            name="waste"
            type="checkbox"
            value="carcasses"
          />
          <label class="govuk-label govuk-checkboxes__label" for="waste">
          </label>
        </div>
      </div>
      <div class="govuk-summary-card__content">
        <div class="govuk-body">Areas of land covered with trees.</div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
