{% extends "layouts/main.html" %} {% block pageTitle %} Check your answers
template – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block
beforeContent %} {{ govukBackLink({ text: "Back", href:
"javascript:window.history.back()" }) }} {% endblock %} 


{% block content %}
<head>
  <script src="https://kit.fontawesome.com/deb1d61b21.js" crossorigin="anonymous"></script>
</head>

<!--Introductory text-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      Check available funding and grants for your land or farm
    </h1>
    <div class="govuk-inset-text">
      This service does not confirm your eligibility. You cannot get the same funding twice on a single land parcel.
    </div>
    <p>You can also find out about<a href=""> upcoming funding and grants</a> or check <a href=""> closed funding or grants</a>. </p>
    
  </div>
</div> 

<!--Body of page-->
<div class="govuk-width-container" id="search">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">

<!--1/3 column-left-->
    <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <h2 class="govuk-heading-m">Search</h2>
          <p class="govuk-!-font-size-16 govuk-hint">Enter a keyword or the name of a grant. Use the filters to narrow your search.</p>
          <input class="govuk-input govuk-!-width-full" id="one-third" name="one-third" type="text">
          <hr class="govuk-section-break govuk-section-break--m">
          <a href="#" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Search
          </a>
          <hr class="govuk-section-break govuk-section-break">
          <a href="option2filter.html" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Clear all filters
          </a>
 <!--Accordions-->         
          <div class="govuk-accordion" data-module="govuk-accordion" id="Heading" aria-expanded="true">
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1" aria-expanded="true">
                    <h3 class="govuk-heading-s">Priorities</h3>
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        Air quality
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        Arable land
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        Biodiversity
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        Boundaries
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        Coast
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                        Educational access
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                        Flood risk 
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                        Grassland
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        Historic environment
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        Livestock management
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        Organic land
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        Pollinators and wildlife
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        Priority habitats
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        Trees (non-woodland)  
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        Uplands
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        Vegetation control
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        Water quality
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        Woodland
                      </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                    <h3 class="govuk-heading-s">Goals</h3>
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                      Creating or improving
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                      Managing or protecting
                    </label>
                  </div>
                </div>
              </div>
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                    <h3 class="govuk-heading-s">Grant scheme</h3>
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                      Countryside Stewardship (CS)
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                      Farming Equipment and Technology fund (FETF)
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
                      Sustainable Farming Incentive (SFI)
                    </label>
                  </div>
                </div>
              </div>
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                    <h3 class="govuk-heading-s">Payment type</h3>
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                      Capital payment
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                      Revenue payment
                    </label>
                  </div>
                </div>
              </div>
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                    <h3 class="govuk-heading-s">Closing date</h3>
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                      Less than 1 month
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                      Between 1 and 3 months
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
                      Over 3 months
                    </label>
                  </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>
 <!--2/3 layout-->
 <!--Links to emails, subscriptions and shortlist-->
    </div>
    <div class="govuk-grid-column-two-thirds">
      
      <table class="govuk-table">
        <thead class="govuk-table__head">
           <tr class="govuk-table__row">
            <th scope="col" class="govuk-body-l govuk-!-font-weight-bold" style="text-align: left;">29 results</h3></th>
            <th scope="col" class="govuk-link"><a class="govuk-link" href="#">Get emails</a></th>
             <th scope="col" class="govuk-link"><a class="govuk-link" href="#">Subscribe to feed</a></th>
             <th scope="col" class="govuk-link"><a class="govuk-link" href="shortlist.html">Your shortlist</a></th>
           </tr>
         </thead>
         </table>
       
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<!--Tabs-->
<div class="govuk-tabs" data-module="govuk-tabs">
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#grants">
        Grants (3)
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#options">
        Options (26)
      </a>
    </li>
    <p class="govuk-body" style="text-align: right;">Add to shortlist</p>
 </ul>
  <div class="govuk-tabs__panel" id="grants">
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
         <p class="govuk-body">
              <a href="#" class="govuk-link">Farmland wildlife on improved grassland 2023</a>
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                      <label class="govuk-label govuk-checkboxes__label" for="organisation">
                        
                      </label>
                    </div>
                   </div>
                </fieldset>
              </div>
            </p>
             <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Priorities:
                </dt>
                <dd class="govuk-summary-list__value govuk-!-width-full">
                  Biodiversity, Grassland, Uplands
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Goals:
                </dt>
                <dd class="govuk-summary-list__value govuk-!-width-full">
                  Creating or improving, Managing or protecting
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Grant scheme:
                </dt>
                <dd class="govuk-summary-list__value govuk-!-width-full">
                  Sustainable Farming Incentive (SFI)
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Payment type:
                </dt>
                <dd class="govuk-summary-list__value govuk-!-width-full">
                  <p class="govuk-body">Revenue payment</p>
                  </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Closing date:
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">to be confirmed</p>
                  </dd>
              </div>
            </dl>
          </tr>
       </tbody>
       <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
         <p class="govuk-body">
              <a href="#" class="govuk-link">Low input grassland 2023</a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="#" class="govuk-link">Shortlist</a>
            </p>
             <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Priorities:
                </dt>
                <dd class="govuk-summary-list__value govuk-!-width-full">
                  Biodiversity, Grassland, Uplands
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Goals:
                </dt>
                <dd class="govuk-summary-list__value govuk-!-width-full">
                  Creating or improving, Managing or protecting
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Grant scheme:
                </dt>
                <dd class="govuk-summary-list__value govuk-!-width-full">
                  Sustainable Farming Incentive (SFI)
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Payment type:
                </dt>
                <dd class="govuk-summary-list__value govuk-!-width-full">
                  <p class="govuk-body">Revenue payment</p>
                  </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Closing date:
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">To be confirmed</p>
                  </dd>
              </div>
            </dl>
          </tr>
       </tbody>
       <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
         <p class="govuk-body">
              <a href="#" class="govuk-link">Mid Tier grants and Wildlife Offers 2023</a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="#" class="govuk-link">Shortlist</a>
            </p>
             <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Priorities:
                </dt>
                <dd class="govuk-summary-list__value govuk-!-width-full">
                  Air quality, Arable land, Biodiversity, Pollinators and wildlife, Uplands, Water quality
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Goals:
                </dt>
                <dd class="govuk-summary-list__value govuk-!-width-full">
                  Creating or improving, Managing or protecting
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Grant scheme:
                </dt>
                <dd class="govuk-summary-list__value govuk-!-width-full">
                  Countryside Stewardship (CS)
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Payment type:
                </dt>
                <dd class="govuk-summary-list__value govuk-!-width-full">
                  <p class="govuk-body">	Captial payment and Revenue payment</p>
                  </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Closing date:
                </dt>
                <dd class="govuk-summary-list__value">
                  <p class="govuk-body">11.59pm 30 September 2023</p>
                  </dd>
              </div>
            </dl>
          </tr>
       </tbody>
    </table>
  </div>

</div>
        

    
    

    





<!--Footer-->

          <script>
          function changetoremove1() {
          document.getElementById("Add1").innerHTML = "Remove from shortlist";
          }
          </script>
          </dd>
        </div>

      </dl>
    </div>
  </main>
</div>



{% endblock %}
