{% extends "govuk-prototype-kit/layouts/unbranded.html" %} {% block pageTitle %} Farming grant options finder – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block
    beforeContent %} 
    {% endblock %} 
    
    {% block content %}
    <script>
      document.addEventListener("DOMContentLoaded", (event) => {  
        var input = document.getElementById("google-search");
     input.addEventListener("keypress", function(event) {
        if (event.key === "Enter") {
          event.preventDefault();
          document.getElementById("link").click();
        }
      });
});

    </script>
    
  <style>
    body {
      background: url("/public/images/Google.png") no-repeat center center fixed;
      /* Background properties */
      background-size: contain;
      background-position: top;

      
      /* Other styles for the body element */
      
      padding: 5%;
      
    }

    /* Additional styles for your content go here */
  </style>
</head>
<body>

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l">
      <div class="govuk-grid-row">
        <form>
        <div class="govuk-grid-column-two-thirds" style="background-image: images/Google: .png;">
          <div class="govuk-form-group">
            <hr class="govuk-section-break govuk-section-break--l">
            <hr class="govuk-section-break govuk-section-break--l">
            <hr class="govuk-section-break govuk-section-break--l">
            <input class="govuk-input" id="google-search" name="googleSearch" type="text" style="margin-left: 30%;">
          </div>
        </div>
        
         
       
        <a href="home/data" id="link">
        <button type="button" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="margin-left: 20%;" id="google-button">
          Google Search
        </button>
       </a>
      </form>
      </div>
    </main>
  </div>


</body>
</html>
{% endblock %}
