{% extends "layouts/main.html" %}
{% block pageTitle %} Farming grant options finder– {{ serviceName }} – GOV.UK Prototype Kit {% endblock %}
{% block
beforeContent %}{% endblock %}

{% block content %}
  <style>
    /* Set a fixed height for the container */
    .vertical {
      height: 300px;
      /* vertical scroll bar height */
      overflow-y: scroll;
      /* Add a vertical scrollbar when content overflows */
    }

    /*Search bar styling*/
    .search-container {
      display: flex;
      overflow: hidden;
      margin-bottom: 10px;
    }

    .search-button {
      background-color: #1f70b8;
      color: #fff;
      padding: 8px 12px;
      cursor: pointer;
    }

    /*Row links for email, etc*/
    .link-container {
      display: flex;
      justify-content: space-between;
      /* Distribute items with space between them */
      flex-wrap: wrap;
      /* Allow wrapping to the next line if needed */
    }

    /* Style for each item */
    .item {
      margin: 0;
    }

    /* Style to align the first item to the left */
    .item:first-child {
      margin-right: auto;
    }

    /*Styling for pills*/
    .pill-container {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;
    }

    .pill {
      background-color: #f3f2f1;
      color: #000;
      border-radius: 20px;
      padding: 5px 10px;
      margin: 5px;
      display: flex;
      align-items: center;
      cursor: pointer;
      text-transform: capitalize;
      border-color: #000;
      border-style: solid;
      border-width: thin;
    }

    .pill-close {
      margin-left: 5px;
      cursor: pointer;
    }
  </style>

  <script>

    document.addEventListener("DOMContentLoaded", function (event) {
      let form = document.getElementById('filterForm');

      form.addEventListener('input', function (e) {
        e.preventDefault();

        filterResults();
      })
    });

    function filterResults() {
      let openClosedFilters = document.querySelectorAll('input[name="open_closed"]:checked');
      let openClosedResults = [];
      for (let i = 0; i < openClosedFilters.length; i++) {
        openClosedResults.push(openClosedFilters[i].value);
      }

      let landTypeFilters = document.querySelectorAll('input[name="land_type"]:checked');
      let landTypeResults = [];
      for (let i = 0; i < landTypeFilters.length; i++) {
        landTypeResults.push(landTypeFilters[i].value);
      }

      let areaOfInterestFilters = document.querySelectorAll('input[name="area_of_interest"]:checked');
      let areaOfInterestResults = [];
      for (let i = 0; i < areaOfInterestFilters.length; i++) {
        areaOfInterestResults.push(areaOfInterestFilters[i].value);
      }

      let grantSchemeFilters = document.querySelectorAll('input[name="grant_scheme"]:checked');
      let grantSchemeResults = [];
      for (let i = 0; i < grantSchemeFilters.length; i++) {
        grantSchemeResults.push(grantSchemeFilters[i].value);
      }

      let paymentTypeFilters = document.querySelectorAll('input[name="payment_type"]:checked');
      let paymentTypeResults = [];
      for (let i = 0; i < paymentTypeFilters.length; i++) {
        paymentTypeResults.push(paymentTypeFilters[i].value);
      }

      filterDataResults(openClosedResults, landTypeResults, areaOfInterestResults, grantSchemeResults, paymentTypeResults);
    }

    function filterDataResults(selectedOpenClosed, selectedLandTypes, selectedAreaOfInterest, selectedGrantSchemes, selectedPaymentTypes) {
      var resultsList = document.getElementById('results');
      var resultsCount = 0;

      var items = resultsList.querySelectorAll('li');

      for (let i = 0; i < items.length; i++) {
        if (items[i]) {
          const item = items[i];

          const options = item
            .getAttribute('data-options')
            .split(' '); // Split options into an array

          const openClosedProp = item.querySelector('input[name="openClosedProp"]');
          const landTypesProp = item.querySelectorAll('input[name="landTypesProp"]');
          const areaOfInterestProp = item.querySelectorAll('input[name="areaOfInterestProp"]');
          const grantSchemeProp = item.querySelectorAll('input[name="grantSchemeProp"]');
          const paymentTypeProp = item.querySelectorAll('input[name="paymentTypeProp"]');

          const openClosedResult = filterOpenClosed(selectedOpenClosed, openClosedProp.value);
          const landTypesResult = filterAndResults(selectedLandTypes, landTypesProp);
          const areaOfInterestResult = filterAndResults(selectedAreaOfInterest, areaOfInterestProp);
          const grantSchemeResult = filterAndResults(selectedGrantSchemes, grantSchemeProp);
          const paymentTypeResult = filterAndResults(selectedPaymentTypes, paymentTypeProp);

          const showItem = openClosedResult && landTypesResult && areaOfInterestResult && grantSchemeResult && paymentTypeResult;

          if (showItem) {
            item.style.display = '';
            resultsCount++;
          } else {
            item.style.display = 'none';
          }
        }
      }

      clearPills();

      for (const selectedOpenClosedItem of selectedOpenClosed) {
        createPill(selectedOpenClosedItem, 'open_closed', selectedOpenClosedItem)
      }

      for (const selectedLandTypesItem of selectedLandTypes) {
        createPill(selectedLandTypesItem, 'land_type', selectedLandTypesItem)
      }

      for (const selectedAreaOfInterestItem of selectedAreaOfInterest) {
        createPill(selectedAreaOfInterestItem, 'area_of_interest', selectedAreaOfInterestItem)
      }

      for (const selectedGrantSchemeItem of selectedGrantSchemes) {
        createPill( selectedGrantSchemeItem, 'grant_scheme', selectedGrantSchemeItem)
      }

      for (const selectedPaymentTypeItem of selectedPaymentTypes) {
        createPill(selectedPaymentTypeItem, 'payment_type', selectedPaymentTypeItem)
      }

      document
        .getElementById("resultsCount")
        .innerHTML = resultsCount;
    }

    function filterOpenClosed(selectedOpenClosed, openClosedProp) {
      if (!selectedOpenClosed || selectedOpenClosed.length === 0) {
        return true;
      }

      for (selectedOpenClosedItem of selectedOpenClosed) {
        if (getOpenClosedValue(openClosedProp) === selectedOpenClosedItem) {
          return true;
        }
      }

      return false;
    }

    function filterAndResults(selectedOptions, props) {
      if (!selectedOptions || selectedOptions.length === 0) {
        return true;
      }

      if (!props || props.length === 0) {
        return false;
      }

      return andFilter(selectedOptions, props);
    }

    function andFilter(selections, props) {
      const propsArray = [...props];
      const selectionsArray = [...selections]

      const propsValues = propsArray.map((prop) => prop.value);

      for (selection of selectionsArray) {
        if (!propsValues.includes(selection)) {
          return false;
        }
      }

      return true;
    }

    function orFilter(selections, props) {
      const propsArray = [...props];
      const selectionsArray = [...selections]

      const propsValues = propsArray.map((prop) => prop.value);
      const selectionValues = selectionsArray.map((selection) => selection.value);

      for (selection of selectionValues) {
        if (propsValues.includes(selection)) {
          return true;
        }
      }

      return false;
    }

    function getOpenClosedValue(prop) {
      if (prop == 'true') {
        return 'open';
      } else {
        return 'closed';
      }
    }

    //Create pills
    function createPill(text, filterType, filterValue) {
      var pillContainer = document.getElementById('pillContainer');
      var pill = document.createElement('div');
      pill.id = 'pill-' + text;
      pill.setAttribute('filterType', filterType)
      pill.setAttribute('filterValue', filterValue)
      pill.className = 'pill';
      pill.innerHTML = '' + text + '<span class="pill-close" onclick="removePill(this)">&times;</span>';
      pillContainer.appendChild(pill);
    }

    function clearPills() {
      var pillContainer = document.getElementById('pillContainer');
      pillContainer.innerHTML = '';
    }

    function removePill(element) {
      var pillContainer = document.getElementById('pillContainer');

      const checkboxId = element
        .parentNode
        .getAttribute('filterValue');

      document
        .getElementById(checkboxId)
        .checked = false;

      pillContainer.removeChild(element.parentNode);

      filterResults();
    }

    //<!-- Initial down chevron and toggle-->

    function toggleChevron(icon) {
      // Toggle between up and down chevron
      icon
        .classList
        .toggle('fa-chevron-down');
      icon
        .classList
        .toggle('fa-chevron-up');
    }

    //button trigger on enter
    document.addEventListener("DOMContentLoaded", (event) => {
      var input = document.getElementById("searchInput");
      input.addEventListener("keypress", function (event) {
        if (event.key === "Enter") {
          event.preventDefault();
        }
      });
    });
  </script>

  <body onload="">

    <div class="govuk-grid-row">
      <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
          <strong class="govuk-tag govuk-phase-banner__content__tag">
        Private Beta
      </strong>
          <span class="govuk-phase-banner__text">
        This is a new tool – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
      </span>
        </p>
      </div>
      <div class="govuk-grid-column-full-width">

        <h1 class="govuk-heading-xl" style="margin-top: 20px;">
      Search for farming grants
    </h1>
        <p class="govuk-body"> From: <b>
            <a href="/path/of/page">Department for Environment, Food & Rural Affairs</a>
          </b> and <a href="/path/of/page" class="govuk-link">
            <b>Rural Payments Agency</a>
          </b>
        </p>

        <p class="govuk-body">Find out about grant options, items and actions in the Farming and Countryside Programme. This is for land or farms in England. 
      We will add more grants when they open.
    </p>

        <div class="govuk-inset-text">
      This tool does not confirm your eligibility.
      To get a grant for an option, item or action, you must meet the criteria of the grant scheme it belongs to.
    </div>
        <p class="govuk-body">
      You can search by keyword or the name of a grant. Use the filters to narrow your search.
   </p>

      </div>
    </div>

    <div class="govuk-width-container">
      <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">

          <div class="govuk-grid-column-one-third">
            <div class="govuk-form-group">
              <h2 class="govuk-heading-m">Search</h2>
              <div class="search-container">
                <input type="text" name="search" class="govuk-input govuk-!-width-full" id="searchInput">
                <div class="search-button">
                  <i class="fas fa-search"></i>
                </div>

              </div>

              <hr class="govuk-section-break govuk-section-break--m">
              <hr class="govuk-section-break govuk-section-break">

              <form name="filterForm" id="filterForm">
                {% for filterItem in filters %}
                  <details {{ "open" if filterItem.openByDefault else "" }}
                  class="govuk-details"
                  style="text-align: left"
                  data-module="govuk-details">

                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        {{ filterItem.name }}
                      </span>
                    </summary>

                    <div class="govuk-form-group">
                      <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

                        {% for optionItem in filterItem.options %}
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="{{ optionItem.id }}" name="{{ filterItem.filterName }}" type="checkbox" value="{{ optionItem.id }}">
                            <label class="govuk-label govuk-checkboxes__label" for="{{ optionItem.id }}">
                              {{ optionItem.name }}
                            </label>
                          </div>
                        {% endfor %}

                      </div>
                    </div>
                  </details>
                  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                {% endfor %}
              </form>
            </div>

          </div>
          <div class="govuk-grid-column-two-thirds">
            <div class="link-container">
              <div class="item govuk-body-l govuk-!-font-weight-bold">
                <span id="resultsCount"></span> results</div>
              <div class="item" style="padding-right: 20px;">
                <a class="govuk-link" href="#">
                  <i class="fa-regular fa-envelope" style="padding-right: 5px;"></i>Get emails</a>
              </div>
              <div class="item">
                <a class="govuk-link" href="#">
                  <i class="fa-solid fa-wifi" style="rotate: 45deg; padding-right: 5px;"></i>Subscribe to feed</a>
              </div>

            </div>

            <!--Pill container-->
            <div class="pill-container" id="pillContainer"></div>

            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
            <div hidden id="resultsContainer">
              <p class="govuk-body>There are no matching results.</p>
        <p class="govuk-body>Improve your search results by:</p>
              <ul>
                <li>remove filters</li>
                <li>double-check spelling</li>
                <li>use fewer keywords</li>
                <li>search for something less specific</li>
              </ul>
            </div>

            <ul class="govuk-list"  id="results">

              {% for item in results %}
                <li data-options="{{ item.dataOptions }}" style="list-style: none;">
                  <p class="govuk-body govuk-!-font-weight-bold">
                    <a href="{{ item.url }}" class="govuk-link">{{ item.name }}</a>
                  </p>
                  <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <div class="govuk-summary-list__row">
                      <!-- 
            <dd class="govuk-summary-list__value">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nemo nisi impedit ab nam quo aperiam nihil, ullam doloribus amet reprehenderit illum illo deserunt laborum molestiae inventore magni quae maxime?
            </dd>
            -->
                    </div>
                    <div class="govuk-summary-list__row">
                      <dd class="govuk-summary-list__value">
                        <b>Open or closed:</b>
                        {{ "Open" if item.open else "Closed" }}
                      </dd>
                    </div>
                    <input type="hidden" name="openClosedProp" value="{{ item.open }}">
                    {% if item.landTypes %}
                      <div class="govuk-summary-list__row">
                        <dd class="govuk-summary-list__value">
                          <b>Land type:</b>
                          {{ item.landTypes | toLandTypeValue }}
                        </dd>
                      </div>
                      {% for landTypeItem in item.landTypes %}
                        <input type="hidden" name="landTypesProp" value="{{ landTypeItem }}"/>
                      {% endfor %}
                    {% endif %}

                    {% if item.areaOfInterest %}
                      <div class="govuk-summary-list__row">
                        <dd class="govuk-summary-list__value">
                          <b>Area of interest:</b>
                          {{ item.areaOfInterest }}
                        </dd>
                      </div>
                      {% for areaOfInterestItem in item.areaOfInterest %}
                        <input type="hidden" name="areaOfInterestProp" value="{{ areaOfInterestItem }}"/>
                      {% endfor %}
                    {% endif %}

                    <div class="govuk-summary-list__row">
                      <dd class="govuk-summary-list__value">
                        <b> Funding types:</b>
                        {{ item.fundingTypes }}
                      </dd>
                    </div>

                    {% if item.grantSchemes %}
                      <div class="govuk-summary-list__row">
                        <dd class="govuk-summary-list__value">
                          <b> Grant schemes:</b>
                          {{ item.grantSchemes }}
                        </dd>
                      </div>
                      {% for grantSchemeItem in item.grantSchemes %}
                        <input type="hidden" name="grantSchemeProp" value="{{ grantSchemeItem }}"/>
                      {% endfor %}
                    {% endif %}

                    {% if item.paymentTypes %}
                      <div class="govuk-summary-list__row">
                        <dd class="govuk-summary-list__value">
                          <b> Payment types:</b>
                          {{ item.paymentTypes }}
                        </dd>
                      </div>
                      {% for paymentTypeItem in item.paymentTypes %}
                        <input type="hidden" name="paymentTypeProp" value="{{ paymentTypeItem }}"/>
                      {% endfor %}
                    {% endif %}

                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                  </dl>
                </li>

              {% endfor %}
            </ul>
          </div>

        </main>
      </div>
    </body>
  {% endblock %}