{% extends "layout.html" %}

{% block pageTitle %}
  Get funding for farming and land management
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}
<a onclick="history.back()" class="govuk-back-link">Back</a>
{% endblock %}



{% block content %}

    
    <form action="pr-calculation-2" method="post" novalidate>

      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset">

         <div class="govuk-grid-row">
            <div class="govuk-width-container">
              
              <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                  Calculation complete
                </h1>
                <div class="govuk-panel__body">
                  Your estimated progressive reductions are based on a starting payment amount of <br><strong>£50,000.00</strong>
                </div>
              </div>

            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

              <!-- Estimated payments -->
              <table class="govuk-table govuk-!-margin-top-6">
                <caption class="govuk-table__caption govuk-table__caption--m">Your estimated payment after progressive reductions</caption>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">Year</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-!-width-two-thirds">Amount</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="border-bottom:none;">&nbsp;</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="border-bottom:none;">&nbsp;</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-one-third">2021</th>
                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-two-thirds">£46,500.00</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-two-thirds" style="border-bottom:none;">&nbsp;</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-two-thirds" style="border-bottom:none;">&nbsp;</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-one-third">2022</th>
                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-two-thirds">£39,000.00</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-two-thirds" style="border-bottom:none;">&nbsp;</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-two-thirds" style="border-bottom:none;">&nbsp;</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-one-third">2023</th>
                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-two-thirds">£31,500.00</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-two-thirds" style="border-bottom:none;">&nbsp;</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-two-thirds" style="border-bottom:none;">&nbsp;</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-one-third">2024</th>
                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-two-thirds">£24,000.00</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-two-thirds" style="border-bottom:none;">&nbsp;</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric govuk-!-width-two-thirds" style="border-bottom:none;">&nbsp;</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="govuk-grid-row">
            <div class="govuk-width-container">
              <!--YOUR progressive reductions -->
              <table class="govuk-table govuk-!-margin-top-6">
                <caption class="govuk-table__caption govuk-table__caption--m">Your progressive reductions</caption>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-half">Scheme year</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">2021</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">2022</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">2023</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">2024</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-one-half">£30,000.00 or less</th>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£1,500.00</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£6,000.00</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£10,500.00</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£15,000.00</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-one-half">amounts above £30,000.00 and no more than £50,000.00</th>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£2,000.00</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£5,000.00</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£8,000.00</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">£11,000.00</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-one-half">Total progressive reductions</th>
                    <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£3,500.00</strong></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£11,000.00</strong></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£18,500.00</strong></td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"><strong>£26,000.00</strong></td>
                  </tr>
                </tbody>
              </table>

              <!-- Progrssive reductions -->
              <table class="govuk-table govuk-!-margin-top-9">
                <caption class="govuk-table__caption govuk-table__caption--m">Progressive reductions calculation</caption>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-half">Scheme year</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">2021</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">2022</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">2023</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">2024</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-one-half">£30,000.00 or less</th>
                    <td class="govuk-table__cell govuk-table__cell--numeric">5%</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">20%</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">35%</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">50%</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-one-half">amounts above £30,000.00 and no more than £50,000.00</th>
                    <td class="govuk-table__cell govuk-table__cell--numeric">10%</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">25%</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">40%</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">55%</td>
                  </tr>
                </tbody>
              </table>

            
            </div>
          </div>

        </fieldset>

      </div>

    </form>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
  
        <h2 class="govuk-heading-m">If you need help</h2>
        <p class="govuk-body-m">If you require help in using this calculator, please call the Rural Payments helpline on <span id="phoneNumber"><a href="tel:03000 200 301">03000 200 301</a></span>, Monday to Friday 8.30am to 5pm.</p>
  
        <p class="govuk-body-m">If you would like more information about schemes and grants funded through the reductions to BPS, please visit the our <a href="https://www.gov.uk/government/collections/rural-payments-and-grants">Rural payments and grants</a> page.</p>
  
        <div class="govuk-!-margin-top-6" style="padding:20px; background-color:#f3f2f1; border-left-color:#666;">
          <h2 class="govuk-heading-m">Give feedback on this service</h2>
          <p class="govuk-body-m">Take a 3 minute survey about your application so that we can improve the service. The survey will open in a new window.<br><br>
            <a href="" target="_blank" class="govuk-link">Give feedback</a>
          </p>
        </div>
  
      </div>
    </div>

{% endblock %}
