{% extends "layouts/main.html" %} {% block pageTitle %} Farming grant options finder – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block
  beforeContent %} 
  {% endblock %} 
  
  {% block content %}
  
  <div class="govuk-grid-row">
      <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
          <strong class="govuk-tag govuk-phase-banner__content__tag">
            Private Beta
          </strong>
          <span class="govuk-phase-banner__text">
            This is a new tool – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
          </span>
        </p>
      </div>
      <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="#">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/Beta/SP-MVP/home.html">Farming grant options finder</a>
            </li>
          </ol>
        </div> 
  </div>
  
  <div class="govuk-width-container">
      <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">AHL4: 4m to 12m grass buffer strip on arable and horticultural land</h1>
            <p class="govuk-body">Find out about where you can do this action and what you need to do for a 4m to 12m grass buffer strip on arable and horticultural land.</p>
            <p class="govuk-body">Updated 13 December 2023</p>
          
          <div style=" background: 	#1d70b8"class="govuk-!-padding-4">
              <ul class="govuk-list" style="color: white;">
                  <li><strong>Open or closed:</strong> Open</li>
                  <li><strong>Area of interest:</strong> Boundaries, Crops, Pollinators and wildlife, Soil</li>
                  <li><strong>Land type:</strong> Arable land</li>
                  <li><strong>Funding types:</strong> Item</li>
                  <li><strong>Grant schemes:</strong> Sustainable Farming Incentive</li>
                  <li><strong>Payment types:</strong> Revenue</li>
              </ul>
          </div>
          <hr class="govuk-section-break govuk-section-break--m">
          
  
          <ul class="govuk-list" style="color: #1d70b8;">
              <li style="color:	#0b0c0c ;">Contents</li>
              <a class="class=govuk-link govuk-link--no-underline" href="#cost"><li>What you’ll be paid</li></a>
              <a class="class=govuk-link govuk-link--no-underline" href="#aims"> <li>This action’s aim</li></a>
              <a class="class=govuk-link govuk-link--no-underline" href="#where"> <li>Where you can do this action</li></a>
              <a class="class=govuk-link govuk-link--no-underline" href="#eligible"><li>Eligible land for AHL4</li></a>
              <a class="class=govuk-link govuk-link--no-underline" href="#other"><li>Other land management actions or options you can do on the same area as AHL4</li></a>
              <a class="class=govuk-link govuk-link--no-underline" href="#actions"><li>Actions or options that can be located on the same area as AHL4</li></a>
              <a class="class=govuk-link govuk-link--no-underline" href="#what"><li>What to do</li></a>
              <a class="class=govuk-link govuk-link--no-underline" href="#when"><li>When to do it</li></a>
              <a class="class=govuk-link govuk-link--no-underline" href="#how"><li>How to do it</li></a>
              <a class="class=govuk-link govuk-link--no-underline" href="#evidence"><li>What evidence to keep</li></a>
              <a class="class=govuk-link govuk-link--no-underline" href="#info"><li>Further information and how to apply</li></a>

                
          </ul>
          <div class="govuk-inset-text">
            This is an action in the <a class="class=govuk-link govuk-link" href="https://www.gov.uk/government/collections/sustainable-farming-incentive-guidance">Sustainable Farming Incentive.</a>
          </div>
            <a class="class=govuk-link govuk-link--no-underline" id="cost"><h2 class="govuk-heading-m">What you’ll be paid</h2></a>
            <p class="govuk-body">You’ll receive £451 per hectare per year for the total area of land you choose to enter into this action.</p>
            <p class="govuk-body">
              In your SFI application, you’ll enter the area measurement in hectares for each land parcel. For each buffer strip, measure the length (in metres)
               you want to enter into this action. Multiply that length by the relevant width (which must be 4m to 12m and can vary over the length of the buffer 
               strip) to give you the area in m². Divide that area by 10,000 to convert it into hectares.
            </p>
            <a class="class=govuk-link govuk-link--no-underline" id="aims"><h2 class="govuk-heading-m">This action’s aim</h2></a>
            <p class="govuk-body">
              This action’s aim is that there’s a grass buffer strip with an intact grass sward throughout the year, without tracks, compacted areas or poaching.
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>protect existing landscape and heritage features</li>
              <li>provide habitat for wildlife</li>
              <li>prevent pollutants, such as sediment and nutrients, from being carried in surface water runoff, if located next to a watercourse</li>
              <li>support an Integrated Pest Management (IPM) approach, if located close to cropped areas, which can help to reduce costs and improve farm resilience</li>
            </ul>

            <a class="class=govuk-link govuk-link--no-underline" id="where"><h2 class="govuk-heading-m">Where you can do this action</h2></a>
            <p class="govuk-body">
              You can do this action on eligible agricultural land located below the moorland line. The table below sets out what land is eligible for AHL4.
            </p>

            <a class="class=govuk-link govuk-link--no-underline" id="eligible"><h2 class="govuk-heading-m">Eligible land for AHL4</h2></a>
          
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Eligible land type</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Eligible land use code</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Compatible land cover</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Arable land, including temporary grassland</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><a class="class=govuk-link govuk-link" href="https://www.gov.uk/guidance/rural-payments-land-use-codes-2023#al2">Arable crops</a></td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">Arable land</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Arable land, including temporary grassland</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric"><a class="class=govuk-link govuk-link" href="https://www.gov.uk/guidance/rural-payments-land-use-codes-2023#al3">Leguminous and nitrogen-fixing crops</td></a>
                  <td class="govuk-table__cell govuk-table__cell--numeric">Arable land</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Arable land, including temporary grassland</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">FAO1</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">Arable land</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Arable land, including temporary grassland</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">TG01</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">Arable land</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Permanent crops – horticultural</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">TC01</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">Permanent crops</td>
                </tr>
              </tbody>
            </table>
            <p class="govuk-body">
              The <a class="class=govuk-link govuk-link" href="https://www.gov.uk/guidance/glossary-of-terms-for-the-sfi-2023-offer">glossary</a>
              explains what we mean by land types, land use codes and compatible land covers.
            </p>
            <p class="govuk-body">The SFI application service will automatically calculate what area may be eligible for this action in each land parcel. 
              This is called the ‘SFI available area’. You must check this area is an eligible land type. Find out how the SFI available area is calculated in the information on
              <a class="class=govuk-link govuk-link" href="https://www.gov.uk/guidance/what-land-is-eligible-for-an-sfi-agreement.">land that’s eligible for the SFI actions.</a>
            </p>
            <p class="govuk-body">You can apply for this action on either the total SFI available area in each land parcel shown in your SFI application, or part of that area.</p>
            <p class="govuk-body">
              This action is static. You must do it on the same area of eligible land each year of your 3-year SFI agreement. You cannot move the area each year.
            </p>

            <a class="class=govuk-link govuk-link--no-underline" id="other"><h2 class="govuk-heading-m">Other land management actions or options you can do on the same area as AHL4</h2></a>
  
            <p class="govuk-body">
              The table below sets out which other SFI actions, Countryside Stewardship (CS) management options, Environmental Stewardship (ES) 
              revenue options and SFI pilot standards can be located on the same eligible area within a land parcel as AHL4.
            </p>

            <a class="class=govuk-link govuk-link--no-underline" id="actions"><h2 class="govuk-heading-m">Actions or options that can be located on the same area as AHL4</h2></a>
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Scheme</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Action or option codes that can be located on the same area as AHL4</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header"><abbr title="Sustainable Farming Incentive 2023">SFI 2023</abbr></th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">SAM1, IPM1, NUM1</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header"><abbr title="Countryside Stewardship">CS</abbr></th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">OR3, OR4, OR5, OT3, OT4, OT5, SW17</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header"><abbr title="Environmental Stewardship">ES</abbr></th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">No ES revenue options</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header"><abbr title="Sustainable Farming Incentive pilot">SFI pilot</abbr></th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">No area-based SFI pilot standards</td>
                </tr>

              </tbody>
            </table>

            <p class="govuk-body">
              Use the
              <a class="class=govuk-link govuk-link" href="https://www.gov.uk/countryside-stewardship-grants">CS grant finder</a>
              to search for the CS option codes shown above.
            </p>
            <p class="govuk-body">The SFI actions for hedgerows (HRW1, HRW2 and HRW3), CS option BE3 and the introductory 
              level of the SFI pilot hedgerows standard can be done on the eligible boundaries of a land parcel entered into AHL4.
            </p>
            <p class="govuk-body">
              If an action or option cannot be located on the same area as AHL4, this is because it’s not an eligible land type, 
              or the activities are incompatible, or you would be paid twice for doing the same activities on the same land. In this case, 
              that area will be automatically removed from the affected land parcel’s SFI available area in your SFI application.
            </p> 
            <p class="govuk-body">If this is the case, you may be able to do the action on a different area in the same land parcel if:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>it’s an eligible land type for the action or option</li>
              <li>it’s a part-parcel action or option</li>
              <li>the area used for the action or option does not overlap with the area used for AHL4</li>
            </ul>
            <p class="govuk-body">
              Read the information about
              <a class="class=govuk-link govuk-link" href="https://www.gov.uk/guidance/eligibility-of-land-for-an-sfi-agreement-thats-used-for-other-schemes-and-funding-sources">eligibility of land used for other schemes and funding sources</a>
              to find out more.
            </p>
            <a class="class=govuk-link govuk-link--no-underline" id="what"><h2 class="govuk-heading-m">What to do</h2></a>
            <p class="govuk-body">You must establish and maintain a grass strip that’s at least 4m to 12m wide (on average in each land parcel) on the edge of arable and 
              horticultural land entered into this action. It can be more than 12m wide, but you’ll only be paid for the 12m width.
            </p>
            <p class="govuk-body">The grass strip must buffer an existing landscape feature, or certain heritage features, such as:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>hedgerows</li>
              <li>stone walls</li>
              <li>woodland</li>
              <li>ditches, rivers and streams</li>
              <li>upstanding historic or archaeological features, such as earthworks, in-field structures, or buildings</li>
            </ul>
            <p class="govuk-body">
              You can also locate the grass buffer strip next to:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>trackways that channel runoff water directly into a watercourse</li>
              <li>fence lines that form links between areas of wildlife habitat</li>
            </ul>
            <p class="govuk-body">
              The buffer strip for this action must be in addition to any regulatory requirements relating to buffer strips and green cover next to landscape features. For example, it must be in addition to
              <a href="https://www.gov.uk/government/publications/cross-compliance-2023/cross-compliance-2023#gaec-1-establishment-of-buffer-strips-along-watercourses" class="class=govuk-link govuk-link"> GAEC1: Establishment of buffer strips along watercourses</a>
              and 
              <a href="https://www.gov.uk/government/publications/cross-compliance-2023/cross-compliance-2023#gaec-7a-boundaries" class="class=govuk-link govuk-link"> GAEC7a: Boundaries</a>
              under the cross compliance rules, which will continue to apply until 31 December 2023, and any successor regulatory requirements.
            </p>
            <p class="govuk-body">Once established, you must maintain the grass buffer strip. To do this, you must manage it in a way that can reasonably be expected to achieve this action’s aim.</p>
            <p class="govuk-body">
              You must cut part of the strip’s width along as much of the strip as possible, next to the edge of the cropped area to provide some shorter vegetation. 
              This is to provide a range of habitat types. You must only cut the grass buffer strip during the late summer, so the activity does not disturb breeding 
              birds or damage nests.
            </p>
            <p class="govuk-body">You must not do any of the following on the grass buffer strip once it’s established:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>use it for regular vehicular access, turning or storage</li>
              <li>apply any fertilisers and manures</li>
              <li>use pesticides, except for herbicides to weed wipe or spot treat for the control of injurious weeds, invasive non-native species, nettles or bracken</li>
            </ul>
            <p class="govuk-body">You can maintain existing grass buffer strips to meet this action if they:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>meet the requirements explained above</li>
              <li>are not already being paid for under another ELM scheme option, such as CS option SW1 (4m to 6m buffer strip on cultivated land)</li>
            </ul>
            <a class="class=govuk-link govuk-link--no-underline" id="when"><h2 class="govuk-heading-m">When to do it</h2></a>
            <p class="govuk-body">You must:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>establish the grass buffer strip during the first 12 months of your SFI agreement</li>
              <li>maintain the same area of grass buffer strip in each subsequent year of your 3-year SFI agreement</li>
            </ul>

            <a class="class=govuk-link govuk-link--no-underline" id="how"><h2 class="govuk-heading-m">How to do it</h2></a>
            <p class="govuk-body">It’s up to you how you complete this action, as long as you do it in a way that can reasonably be expected to achieve this action’s aim.</p>
            <p class="govuk-body">
              You may find it helpful to read the voluntary guidance on
              <a class="class=govuk-link govuk-link" href="https://www.gov.uk/guidance/how-to-do-the-sfi-actions-for-buffer-strips">
                how to establish and maintain a 4m to 12m grass buffer strip</a>
              , but you do not have to follow it.
            </p>

            <a class="class=govuk-link govuk-link--no-underline" id="evidence"><h2 class="govuk-heading-m">What evidence to keep</h2></a>
            <p class="govuk-body">
              You should keep evidence to show what you’ve done to complete this action. This will help if it’s not clear that you’ve completed the action 
              in a way that could reasonably be expected to achieve this action’s aim. You must supply this evidence if we ask for it.
            </p>
            <p class="govuk-body">This evidence could include photographs and other documentation to show what you’ve done to complete this action. It could also include 
              field operations at a land parcel level and associated invoices. If you choose to take photographs, read the guidance on
              <a class="class=govuk-link govuk-link" href="https://www.gov.uk/guidance/how-to-take-photographic-evidence-for-sfi-actions.">how to take photographic evidence for SFI actions</a>
            </p>
            <a class="class=govuk-link govuk-link--no-underline" id="info"><h2 class="govuk-heading-m">Further information and how to apply</h2></a>
            <p class="govuk-body">Read
            <a href="https://www.gov.uk/government/collections/sustainable-farming-incentive-guidance" class="govuk-link">Sustainable Farming Incentive guidance</a>
            to find out more information about SFI, including how to apply.
            </p>
          </div>
            <!-- one third column-->
          <div class="govuk-grid-column-one-third">
            <hr class="govuk-section-break govuk-section-break--m">
            <hr class="govuk-section-break govuk-section-break--m">
            <hr class="govuk-section-break govuk-section-break--m">
            <hr class="govuk-section-break govuk-section-break--m">
            <hr class="govuk-section-break govuk-section-break--m">
            <hr class="govuk-section-break govuk-section-break--m">
            <hr class="govuk-section-break govuk-section-break--m">
            <hr class="govuk-section-break govuk-section-break--m">
            <hr class="govuk-section-break govuk-section-break--m">
            <hr class="govuk-section-break govuk-section-break--m">
            <hr class="govuk-section-break govuk-section-break--m">
            <hr class="govuk-section-break govuk-section-break--m">
            <hr class="govuk-section-break govuk-section-break--m">
            
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" style=" border-top: 2px solid #1d70b8;">
            <h2 class="govuk-heading-s">Related content</h2>
            <a href="https://www.gov.uk/guidance/sfi-actions-for-buffer-strips#igl3-4m-to-12m-grass-buffer-strip-on-improved-grassland" class="govuk-link"><p class="govuk-body-s">IGL3: 4m to 12m grass buffer strip on improved grassland</p></a>
            <a href="https://www.gov.uk/guidance/sfi-actions-for-buffer-strips"><p class="govuk-body-s">SFI actions for buffer strips</p></a>
            
           
          </div>
      </main>
  
  
  
  {% endblock %}