{% extends "layouts/main.html" %} {% block pageTitle %} Farming grant options finder – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block
  beforeContent %} 
  {% endblock %} 
  
  {% block content %}
  
  <div class="govuk-grid-row">
      <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
          <strong class="govuk-tag govuk-phase-banner__content__tag">
            Private Beta
          </strong>
          <span class="govuk-phase-banner__text">
            This is a new tool – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
          </span>
        </p>
      </div>
      <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="#">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="/Beta/SP-MVP/home.html">Farming grant options finder</a>
            </li>
          </ol>
        </div> 
  </div>
  
  <div class="govuk-width-container">
      <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">HRW1: Assess and record hedgerow condition</h1>
            <p class="govuk-body">Find out about where you can do this action and what you need to do for assessing and recording hedgerow condition.</p>
            <p class="govuk-body">Updated 13 December 2023</p>
          
          <div style=" background: 	#1d70b8"class="govuk-!-padding-4">
              <ul class="govuk-list" style="color: white;">
                  <li><strong>Open or closed:</strong> Open</li>
                  <li><strong>Area of interest:</strong> Biodiversity, Boundaries, Pollinators and wildlife</li>
                  <!--<li><strong>Land type:</strong></li>-->
                  <li><strong>Funding types:</strong> Item</li>
                  <li><strong>Grant schemes:</strong> Sustainable Farming Incentive</li>
                  <li><strong>Payment types:</strong> Revenue</li>
              </ul>
          </div>
          <hr class="govuk-section-break govuk-section-break--m">
          
  
          <ul class="govuk-list" style="color: #1d70b8;">
              <li style="color:	#0b0c0c ;">Contents</li>
              <a class="class=govuk-link govuk-link--no-underline" href="#cost"><li>What you’ll be paid</li></a>
              <a class="class=govuk-link govuk-link--no-underline" href="#aims"> <li>This action’s aim</li></a>
              <a class="class=govuk-link govuk-link--no-underline" href="#where"> <li>Where you can do this action</li></a>
              <a class="class=govuk-link govuk-link--no-underline" href="#other"><li>Other land management actions or options you can do on the same area as HRW1</li></a>
              <a class="class=govuk-link govuk-link--no-underline" href="#actions"><li>Actions or options that can be located on the same area as HRW1</li></a>
              <a class="class=govuk-link govuk-link--no-underline" href="#what"><li>What to do</li></a>
              <a class="class=govuk-link govuk-link--no-underline" href="#when"><li>When to do it</li></a>
              <a class="class=govuk-link govuk-link--no-underline" href="#how"><li>How to do it</li></a>
              <a class="class=govuk-link govuk-link--no-underline" href="#evidence"><li>What evidence to keep</li></a>
              <a class="class=govuk-link govuk-link--no-underline" href="#info"><li>Further information and how to apply</li></a>

                
          </ul>
            <div class="govuk-inset-text">
              This is an action in the Sustainable Farming Incentive.
            </div>
            <hr class="govuk-section-break govuk-section-break--m">
            <a class="class=govuk-link govuk-link--no-underline" id="cost"><h2 class="govuk-heading-m">What you’ll be paid</h2></a>
            <p class="govuk-body">You’ll receive £3 per 100 metres for one side of an eligible hedgerow per year.</p>

            <hr class="govuk-section-break govuk-section-break--m">
            <a class="class=govuk-link govuk-link--no-underline" id="aims"><h2 class="govuk-heading-m">This action’s aim</h2></a>
            <p class="govuk-body">
              This action’s aim is that you:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>understand the condition of your hedgerows</li>
              <li>effectively plan how they can be managed to improve their condition</li>
            </ul>
            <hr class="govuk-section-break govuk-section-break--m">
            <a class="class=govuk-link govuk-link--no-underline" id="where"><h2 class="govuk-heading-m">Where you can do this action</h2></a>
            <p class="govuk-body">
              You can do this action on one side or both sides of an eligible hedgerow. Read the information about
              <a href="https://www.gov.uk/guidance/what-land-is-eligible-for-an-sfi-agreement#how-we-define-eligible-land-types-and-features-for-sfi" class="class=govuk-link govuk-link">
                how we define an eligible hedgerow for SFI</a>.
            </p>
            <p class="govuk-body">You can choose what total length of eligible hedgerows to enter into this action.</p>

            <hr class="govuk-section-break govuk-section-break--m">
            <a class="class=govuk-link govuk-link--no-underline" id="other"><h2 class="govuk-heading-m">Other land management actions or options you can do on the same area as HRW1</h2></a>
  
            <p class="govuk-body">
              The table below sets out which other SFI actions, Countryside Stewardship (CS) management options, Environmental Stewardship (ES) revenue options 
              and SFI pilot standards you can do in land parcels with eligible boundaries entered into HRW1.
            </p>
            <hr class="govuk-section-break govuk-section-break--m">
            <a class="class=govuk-link govuk-link--no-underline" id="actions"><h2 class="govuk-heading-m">Actions or options that can be located on the same area as HRW1</h2></a>
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Scheme</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Action or option codes that can be located on the same area as HRW1</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">SFI 2023</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">All SFI actions</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">CS</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">All CS management options, including BE3 (management of hedgerows)</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">ES</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">All ES revenue options</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">SFI pilot</th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">All SFI pilot standards, including all levels of the SFI pilot hedgerows standard</td>
                </tr>

              </tbody>
            </table>

            <hr class="govuk-section-break govuk-section-break--m">
            <a class="class=govuk-link govuk-link--no-underline" id="what"><h2 class="govuk-heading-m">What to do</h2></a>
            <p class="govuk-body">You must: </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>assess the condition of all the hedgerows entered into this action</li>
              <li>produce a written hedgerow condition assessment record for these hedgerows</li>
            </ul>
            <p class="govuk-body">
              If you’ve already assessed these hedgerows and produced a written hedgerow condition assessment record in the last 5 years, you can use it to meet this action.</p>
            
              <hr class="govuk-section-break govuk-section-break--m">
            <a class="class=govuk-link govuk-link--no-underline" id="when"><h2 class="govuk-heading-m">When to do it</h2></a>
            <p class="govuk-body">You must:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>assess the condition of the hedgerows and complete a written hedgerow condition assessment record within the first 12 months of your SFI agreement</li>
              <li>review the condition of the hedgerows and update the hedgerow condition assessment record in each subsequent year of your SFI agreement</li>
            </ul>

            <hr class="govuk-section-break govuk-section-break--m">
            <a class="class=govuk-link govuk-link--no-underline" id="how"><h2 class="govuk-heading-m">How to do it</h2></a>
            <p class="govuk-body">It’s up to you how you complete this action, as long as you do it in a way that could reasonably be expected to achieve this action’s aim.</p>
            <p class="govuk-body">
              You may find it helpful to read the voluntary guidance on
              <a class="class=govuk-link govuk-link" href="https://www.gov.uk/guidance/how-to-do-the-sfi-actions-for-hedgerows#hrw1">
                how to assess and record hedgerow condition</a>
              , but you do not have to follow it.
            </p>

            <hr class="govuk-section-break govuk-section-break--m">
            <a class="class=govuk-link govuk-link--no-underline" id="evidence"><h2 class="govuk-heading-m">What evidence to keep</h2></a>
            <p class="govuk-body">
              You must keep a written record of your hedgerow condition assessment. You must supply this evidence if we ask for it.
            </p>
            <a class="class=govuk-link govuk-link--no-underline" id="info"><h2 class="govuk-heading-m">Further information and how to apply</h2></a>
            <p class="govuk-body">Read
            <a href="https://www.gov.uk/government/collections/sustainable-farming-incentive-guidance" class="govuk-link">Sustainable Farming Incentive guidance</a>
            to find out more information about SFI, including how to apply.
            </p>
          </div>
            <!-- one third column-->
          <div class="govuk-grid-column-one-third">
            <hr class="govuk-section-break govuk-section-break--m">
            <hr class="govuk-section-break govuk-section-break--m">
            <hr class="govuk-section-break govuk-section-break--m">
            <hr class="govuk-section-break govuk-section-break--m">
            <hr class="govuk-section-break govuk-section-break--m">
            <hr class="govuk-section-break govuk-section-break--m">
            <hr class="govuk-section-break govuk-section-break--m">
            <hr class="govuk-section-break govuk-section-break--m">
            <hr class="govuk-section-break govuk-section-break--m">
            <hr class="govuk-section-break govuk-section-break--m">
            <hr class="govuk-section-break govuk-section-break--m">
            
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" style=" border-top: 2px solid #1d70b8;">
            <h2 class="govuk-heading-s">Related content</h2>
            <a href="https://www.gov.uk/guidance/sfi-actions-for-hedgerows#hrw2-manage-hedgerows" class="govuk-link"><p class="govuk-body-s">HRW2: Manage hedgerows</p></a>
            <a href="https://www.gov.uk/guidance/sfi-actions-for-hedgerows#hrw3-maintain-or-establish-hedgerow-trees"><p class="govuk-body-s">HRW3: Maintain or establish hedgerow trees</p></a>
            <a href="https://www.gov.uk/guidance/sfi-actions-for-hedgerows" class="govuk-link"><p class="govuk-body-s">SFI actions for hedgerows</p></a>
           
          </div>
      </main>
  
  
  
  {% endblock %}