
<div class="govuk-grid-column-one-third">
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Priorities
    </span>
  </summary>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="priorities-1" name="priorities" type="checkbox" value="air-quality">
          <label class="govuk-label govuk-checkboxes__label" for="priorities-1">
            Air quality
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="priorities-2" name="priorities" type="checkbox" value="arable-land">
          <label class="govuk-label govuk-checkboxes__label" for="priorities-2">
            Arable land
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="priorities-3" name="priorities" type="checkbox" value="biodiversity">
          <label class="govuk-label govuk-checkboxes__label" for="priorities-3">
            Biodiversity
          </label>
        </div>
      </div>
    </fieldset>
  </div>
</details>
</div>