
{% extends "layout.html" %}

{% block pageTitle %}
  Prototype index
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
  	 <span class="govuk-caption-l">Future farming information for farmers</span>
  	 Prototypes
    </h1>

  </div>
</div>

<!-- CURRENT SPRINT -->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div style="border:5px solid SteelBlue; background: GhostWhite" class="govuk-!-padding-6 govuk-!-margin-bottom-8">
    	<h2 class="govuk-heading-l">
    		Current Sprint - 12
        <br><p class="govuk-heading-s">(Find Team - Sprint 3)</p>
    	</h2>

      <!-- CONTENT -->
      <h3 class="govuk-heading-s">Summary</h3>
      <p class="govuk-body-s">Progressive reductions calculator v2.2</p>
      <ul class="govuk-list govuk-list--bullet" style="margin-top: -20px">
        <li class="govuk-body-s">Updated content throughout prototype</li>
      </ul>
      <p class="govuk-body-s">Find funding v2.1 created</p>
      <p class="govuk-body-s">Find adviser v2.2</p>
      <ul class="govuk-list govuk-list--bullet" style="margin-top: -20px">
        <li class="govuk-body-s">Repositioned filters (left column) in order of importance</li>
        <li class="govuk-body-s">First filter defaults to open</li>
        <li class="govuk-body-s">Filters are fixed height so if there are many check boxes a scroll bar appears</li>
        <li class="govuk-body-s">Personalised the adevisers summary</li>
        <li class="govuk-body-s">Added free/paid for or price filter</li>
        <li class="govuk-body-s">Lebelled 'link to website' more obviously</li>
        <li class="govuk-body-s">Remove "Subscribe to feed"</li>
        <li class="govuk-body-s">Searcvh field works</li>
      </ul>
      <p class="govuk-body-s">Find adviser v1.2</p>
      <ul class="govuk-list govuk-list--bullet" style="margin-top: -20px">
        <li class="govuk-body-s">included initial step between start and advice type choice so user can search by 'funding', 'regulations', 'schemes'.</li>
        <li class="govuk-body-s">added 'county' to postcode search step based on user feedback</li>
        <li class="govuk-body-s">added 'Dairy' as option'</li>
      </ul>
      <p class="govuk-body-s">Scheme interaction diagrams</p>
      <ul class="govuk-list govuk-list--bullet" style="margin-top: -20px">
        <li class="govuk-body-s">Shared with Service Designer of Advice Team (Becky Miller) to collaborate on Mural board (URL below).</li>
      </ul>
      
      <p class="govuk-body"></p>

      <h3 class="govuk-heading-s">Prototypes</h3>
  	  <div class="govuk-grid-row govuk-!-margin-bottom-6">
      	<div class="govuk-grid-column-full">
          <ul class="govuk-list govuk-!-margin-bottom-7">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="v1-4/_get-funding/start-get-funding">Find funding V2.1</a> <strong class="govuk-tag">NEW</strong>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="v1-4/_find-adviser/search?sectors=_unchecked&skills=_unchecked&counties=_unchecked&qualifications=_unchecked&experiences=_unchecked&name=">Find an adviser V2.2 - Filters</a> <strong class="govuk-tag govuk-tag--yellow">Updated</strong>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="v1-4/_find-adviser/start-find-adviser">Find Advice V1.2 - start page</a> <strong class="govuk-tag govuk-tag--yellow">Updated</strong>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="v1-4/progressive-reductions-calculator/pr-landing-page.html">Progressive reductions calculator journey : 2.2</a> <strong class="govuk-tag govuk-tag--yellow">Updated</strong>
            </li>
          </ul>

          <h3 class="govuk-heading-s">Scheme interaction mapping</h3>
          <ul class="govuk-list govuk-!-margin-bottom-7">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="https://app.mural.co/t/1010defra0589/m/1010defra0589/1660733013760/d1830d3dc59f64044e2a5112a9054483a94188fe?sender=u2cba98f9422081631d756935">MURAL - How the schemes interact (TIMELINE diagram)</a> <strong class="govuk-tag govuk-tag--pink">In progress</strong>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/public/images/Scheme-interactions-timeline.png">How the schemes interact (TIMELINE diagram)</a> <!--<strong class="govuk-tag">New</strong>-->
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="/public/images/Scheme-interactions.png">How the schemes interact (TREE diagram)</a> <!--<strong class="govuk-tag">New</strong>-->
            </li>
          </ul>

          <h3 class="govuk-heading-s">To do</h3>
          <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
            <li>Continue with modifying find adviser prototypes</li>
            <li>Coninue developing the scheme interaction mapping</li>
          </ul>

          <h3 class="govuk-heading-s">Reference</h3>
          <ul class="govuk-list govuk-!-margin-bottom-2">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/guidance/funding-for-farmers">Funding for farmers (live)</a>
            </li>
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="https://calculate-direct-payment-reductions.defra.gov.uk">Progressive reductions calculator (live)</a>
            </li>
          </ul>
          <!-- END CONTENT -->

    		</div>
      <div class="govuk-grid-column-one-half">
      </div>
  	</div>
  </div>
  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">
</div>
</div>

<!-- END CURRENT SPRINT -->


<!--
============================================================================
Previous phases
============================================================================
-->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">Previous Sprints</h2>

    <!--
    {{ govukInsetText({
      text: "No previous phases."
    }) }}
    -->

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default"><div class="govuk-accordion__controls">
      <button type="button" class="govuk-accordion__open-all" aria-expanded="false"><span class="govuk-visually-hidden"></span></button>
    </div>


    <!-- SPRINT 11 | Find Team Sprint 2 -->
    <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
            <button type="button" id="accordion-default-heading-1" aria-controls="accordion-default-content-1" class="govuk-accordion__section-button" aria-expanded="false">
                Sprint 11 | Find Team Sprint 2
              </button><span class="govuk-accordion__icon" aria-hidden="true"></span></h2>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <div class="govuk-!-padding-6 govuk-!-margin-bottom-8">
            
                  
                  <!-- CONTENT -->
                  <h3 class="govuk-heading-s">Summary</h3>
                  <p class="govuk-body">Find an adviser: Filtering concept prototype created to demonstrate features.</p>
                  <p class="govuk-body">Progressive reductions calculator: Prototyped modified to incorporate user feedback.</p>
                  <p class="govuk-body">Created diagram the visualise the interaction of the schemes.</p>
            
                  <h3 class="govuk-heading-s">Prototypes</h3>
                  <div class="govuk-grid-row govuk-!-margin-bottom-6">
                    <div class="govuk-grid-column-full">
                      <ul class="govuk-list govuk-!-margin-bottom-7">
                        <li>
                          <a class="govuk-link govuk-link--no-visited-state" href="v1-3/_find-adviser/search?sectors=_unchecked&skills=_unchecked&counties=_unchecked&qualifications=_unchecked&experiences=_unchecked&name=">Find an adviser V2 - Filters</a> <strong class="govuk-tag">New</strong>
                        </li>
                        <li>
                          <a class="govuk-link govuk-link--no-visited-state" href="v1-3/_find-adviser/start-find-adviser">Find an adviser V1 - start page</a> <strong class="govuk-tag govuk-tag--yellow">Updated</strong>
                        </li>
                        <li>
                          <a class="govuk-link govuk-link--no-visited-state" href="v1-3/progressive-reductions-calculator/pr-landing-page.html">Progressive reductions calculator journey : 2.1</a>
                        </li>
                        <li>
                          <a class="govuk-link govuk-link--no-visited-state" href="v1-3/progressive-reductions-calculator/pr-landing-page-2-2.html">Progressive reductions calculator journey : 2.2</a>
                        </li>
                        <li>
                          <h3 class="govuk-heading-s"><br>Calculation screen variations</h3>
                        </li>
                        <li>
                          <a class="govuk-link govuk-link--no-visited-state" href="v1-3/progressive-reductions-calculator/pr-calculation-2-2.html">Progressive reductions calculation screen : 2.1</a>
                        </li>
                        <li>
                          <a class="govuk-link govuk-link--no-visited-state" href="v1-3/progressive-reductions-calculator/pr-calculation.html">Progressive reductions calculation screen : 2.2</a>
                        </li>
                      </ul>

                      <h3 class="govuk-heading-s">Scheme interaction mapping</h3>
                      <ul class="govuk-list govuk-!-margin-bottom-7">
                        <li>
                          <a class="govuk-link govuk-link--no-visited-state" href="/public/images/Scheme-interactions-timeline.png">How the schemes interact (TIMELINE diagram)</a> <strong class="govuk-tag">New</strong>
                        </li>
                        <li>
                          <a class="govuk-link govuk-link--no-visited-state" href="/public/images/Scheme-interactions.png">How the schemes interact (TREE diagram)</a> <strong class="govuk-tag">New</strong>
                        </li>
                      </ul>
            
                      <h3 class="govuk-heading-s">To do</h3>
                      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
                        <li>Further develop the Find an Adviser filtering prototype</li>
                      </ul>
            
                      <h3 class="govuk-heading-s">Reference</h3>
                      <ul class="govuk-list govuk-!-margin-bottom-2">
                        <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/guidance/funding-for-farmers">Funding for farmers (live)</a>
                      </li>
                      <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="https://calculate-direct-payment-reductions.defra.gov.uk">Progressive reductions calculator (live)</a>
                      </li>
                    </ul>
                    <!-- END CONTENT -->
            
                    </div>
                  <div class="govuk-grid-column-one-half">
                  </div>
                </div>
              </div>
              <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">
            </div>
            </div>
          </div>
    </div>

    <!-- SPRINT 10 | Find Team Sprint 1 -->
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
        <button type="button" id="accordion-default-heading-1" aria-controls="accordion-default-content-1" class="govuk-accordion__section-button" aria-expanded="false">
            Sprint 10 | Find Team Sprint 1
          </button><span class="govuk-accordion__icon" aria-hidden="true"></span></h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <div class="govuk-!-padding-6 govuk-!-margin-bottom-8">
        
              <!-- CONTENT -->
              <h3 class="govuk-heading-s">Summary</h3>
              <p class="govuk-body">Funding for farmers landing page: created a variation of the homepage to replace 'in content' text links with secondary call to action button when linking to a process (such as find funding).</p>
              <p class="govuk-body">Find an adviser: prototype created to demonstrate this user journey.</p>
              <p class="govuk-body">Progressive reductions calculator: Prototyped demonstrating improvements upon the existing product.</p>
        
              <h3 class="govuk-heading-s">Prototypes</h3>
              <div class="govuk-grid-row govuk-!-margin-bottom-6">
                <div class="govuk-grid-column-one-half">
                  <ul class="govuk-list govuk-!-margin-bottom-7">
                    <li>
                      <a class="govuk-link govuk-link--no-visited-state" href="v1-2/_landing-page/funding-for-farmers-guidance">Funding for farmers landing page variation</a>
                    </li>
                    <li>
                      <a class="govuk-link govuk-link--no-visited-state" href="v1-2/_find-adviser/start-find-adviser">Find an adviser - start page</a>
                    </li>
                    <li>
                      <a class="govuk-link govuk-link--no-visited-state" href="v1-2/progressive-reductions-calculator/pr-landing-page.html">Progressive reductions calculator journey : 2.1</a>
                    </li>
                    <li>
                      <a class="govuk-link govuk-link--no-visited-state" href="v1-2/progressive-reductions-calculator/pr-landing-page-2-2.html">Progressive reductions calculator journey : 2.2</a>
                    </li>
                    <li>
                      <h3 class="govuk-heading-s"><br>Calculation screen variations</h3>
                    </li>
                    <li>
                      <a class="govuk-link govuk-link--no-visited-state" href="v1-2/progressive-reductions-calculator/pr-calculation-2-2.html">Progressive reductions calculation screen : 2.1</a><br><i>(this version is included within the complete journey above)</i>
                    </li>
                    <li>
                      <a class="govuk-link govuk-link--no-visited-state" href="v1-2/progressive-reductions-calculator/pr-calculation.html">Progressive reductions calculation screen : 2.2</a>
                    </li>
                    <!--
                      <li>
                      <a class="govuk-link govuk-link--no-visited-state" href="v1-2/progressive-reductions-calculator/pr-calculation-2.html">Progressive reductions calculation screen 2.3</a>
                    </li>
                  -->
                  </ul>
        
                  <h3 class="govuk-heading-s">To do</h3>
                  <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
                    <li>Progressive reductions calculator content update</li>
                    <li>Find funding journey prototype</li>
                  </ul>
        
        
                  <h3 class="govuk-heading-s">Live pages (for reference)</h3>
        
                  <ul class="govuk-list govuk-!-margin-bottom-2">
                  <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/guidance/funding-for-farmers">Funding for farmers</a>
                  </li>
                  <li>
                    <a class="govuk-link govuk-link--no-visited-state" href="https://calculate-direct-payment-reductions.defra.gov.uk">Progressive reductions calculator</a>
                  </li>
                </ul>
                <!-- END CONTENT -->
        
                </div>
              <div class="govuk-grid-column-one-half">
              </div>
            </div>
          </div>
          <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">
        </div>
        </div>
      </div>
    </div>

    <!-- PHASE 2 -->
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
        <button type="button" id="accordion-default-heading-1" aria-controls="accordion-default-content-1" class="govuk-accordion__section-button" aria-expanded="false">
            Phase 2
          </button><span class="govuk-accordion__icon" aria-hidden="true"></span></h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <div class="govuk-!-padding-6 govuk-!-margin-bottom-8">
              <h2 class="govuk-heading-l">
                Find funding and find adviser prototypes
              </h2>

              <div class="govuk-grid-row govuk-!-margin-bottom-6">
                <div class="govuk-grid-column-one-half">

                  <h3 class="govuk-heading-s">
                    Prototypes
                  </h3>
                  <ul class="govuk-list">
                    <li>
                      <a class="govuk-link govuk-link--no-visited-state" href="_get-funding/start-get-funding">Get funding for farming start page</a>
                    </li>
                    <li>
                      <a class="govuk-link govuk-link--no-visited-state" href="_find-adviser/start-find-adviser">Find an adviser start page</a>
                    </li>
                  </ul>
                </div>

                <div class="govuk-grid-column-one-half">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- PHASE 1 -->
    <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
          <button type="button" id="accordion-default-heading-1" aria-controls="accordion-default-content-1" class="govuk-accordion__section-button" aria-expanded="false">
              Phase 1
            </button><span class="govuk-accordion__icon" aria-hidden="true"></span></h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <div style="border:5px solid SteelBlue; background: GhostWhite" class="govuk-!-padding-6 govuk-!-margin-bottom-8">
              	<h2 class="govuk-heading-l">
              		Specification builder
              	</h2>

              	<div class="govuk-grid-row govuk-!-margin-bottom-6">
              		<div class="govuk-grid-column-one-half">

                    <h3 class="govuk-heading-s">
                      End-to-end journey
                    </h3>
                    <ul class="govuk-list">
                      <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="beta/phase-1/start">Service start page</a>
                      </li>
                      <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="beta/phase-1/dashboard">Dashboard</a>
                      </li>
                      <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="beta/phase-1/start_new-specification">Create new specification start page</a>
                      </li>
                    </ul>
              		</div>

                  <div class="govuk-grid-column-one-half">

                  </div>
              	</div>
              </div>
            </div>
          </div>
        </div>
    </div>

  </div>
</div>


{% endblock %}
