{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Check available funding and grants for your land or farm
    </h1>
    <p> From: <a href="/path/of/page">Department for Environment, Food & Rural Affairs</a> and <a href="/path/of/page" class="govuk-link" >Rural Payments Agency</a></p>

    <p>Find out what funding the Farming and Countryside Programme offers. This is for land or farms in England. </p>
    <p>You may be able to apply for one or more funds and grants if you or your land are eligible. The guidance for each fund and grant will explain where this is possible. </p>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          This service does not confirm your eligibility. You cannot get the same funding twice on a single land parcel.
        </strong>
      </div> 
   
  </div>
</div> 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div class="govuk-form-group" style="background:	#f3f2f1; padding: 20px;">
      <h1 class="govuk-heading-l">Browse all available funding</h1>
      <p class="govuk-body">See a list of all grants aand options. You can filter the list based on your needs.</p>
      <p class="govuk-body">
      <a href="" class="govuk-link">Browse all available funding</a>
      </p>
      </br>
      </br>

    </div>


</div>
<div class="govuk-grid-column-one-half">


  <div class="govuk-form-group" style="background:	#f3f2f1; padding: 20px;">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--l" for="event-name">
        Search for all available funding
      </label>
    </h1>
    <div id="event-name-hint" class="govuk-hint">
      Enter a code, keyboard, name of grant or scheme.
    </div>
    <input class="govuk-input govuk-!-width-two-thirds" id="event-name" name="eventName" type="text" aria-describedby="event-name-hint">
  </br>
  </br>
  <button class="govuk-button" data-module="govuk-button">
    Search
  </button>
  </div>

  </div>
  </div>
</div>


</div>


{% endblock %}

