{% extends "layouts/main.html" %} {% block pageTitle %} Check your answers
template – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %} {% block
beforeContent %} {{ govukBackLink({ text: "Back", href:
"javascript:window.history.back()" }) }} {% endblock %} 
{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Check available funding and grants for your land or farm
    </h1>
   
    <div class="govuk-inset-text">
      This service does not confirm your eligibility. You cannot get the same
      funding twice on a single land parcel.
    </div>
    <div class="govuk-width-container">
      <main class="govuk-main-wrapper">
        <h2 class="govuk-heading-m">Search</h2>
        <p class="govuk-!-font-size-16 govuk-hint">
          Enter a keyword or the name of a grant.
        </p>
        
        <form id="searchBox" name="searchBox" action="/" method="post">
          <div class="govuk-form-group">
                       
            {{ govukInput({
            
            name: 'search-box'
            
            }) }}
            
          </div>
        

        <hr class="govuk-section-break govuk-section-break--m">
        <hr class="govuk-section-break govuk-section-break">

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" width="20%">
                <details
                  class="govuk-details"
                  style="text-align: left"
                  data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Priorities
                    </span>
                  </summary>
                  <div class="govuk-form-group">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="air-qualilty" name="air-qualilty" type="checkbox" value="air-qualilty">
                        <label class="govuk-label govuk-checkboxes__label" for="air-qualilty">
                          Air quality
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="arable" name="arable" type="checkbox" value="arable">
                        <label class="govuk-label govuk-checkboxes__label" for="arable">
                          Arable land
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="biodiversity" name="biodiversity" type="checkbox" value="biodiversity">
                        <label class="govuk-label govuk-checkboxes__label" for="biodiversity">
                          Biodiversity
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="boundaries" name="boundaries" type="checkbox" value="boundaries">
                        <label class="govuk-label govuk-checkboxes__label" for="boundaries">
                          Boundaries
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="coast" name="coast" type="checkbox" value="coast">
                        <label class="govuk-label govuk-checkboxes__label" for="coast">
                          Coast
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="educational" name="educational" type="checkbox" value="educational">
                        <label class="govuk-label govuk-checkboxes__label" for="educational">
                          Educational access
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="flood" name="flood" type="checkbox" value="flood">
                        <label class="govuk-label govuk-checkboxes__label" for="flood">
                          Flood risk 
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="grassland" name="grassland" type="checkbox" value="grassland" checked>
                        <label class="govuk-label govuk-checkboxes__label" for="grassland">
                          Grassland
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="historic-environment" name="historic-environment" type="checkbox" value="historic-environment">
                        <label class="govuk-label govuk-checkboxes__label" for="historic-environment">
                          Historic environment
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="livestock" name="livestock" type="checkbox" value="livestock">
                        <label class="govuk-label govuk-checkboxes__label" for="livestock">
                          Livestock management
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="organic" name="organic" type="checkbox" value="organic">
                        <label class="govuk-label govuk-checkboxes__label" for="organic">
                          Organic land
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="pollinators" name="pollinators" type="checkbox" value="pollinators">
                        <label class="govuk-label govuk-checkboxes__label" for="pollinators">
                          Pollinators and wildlife
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="habitats" name="habitats" type="checkbox" value="habitats">
                        <label class="govuk-label govuk-checkboxes__label" for="habitats">
                          Priority habitats
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="trees" name="trees" type="checkbox" value="trees">
                        <label class="govuk-label govuk-checkboxes__label" for="trees">
                          Trees (non-woodland)  
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="uplands" name="uplands" type="checkbox" value="uplands">
                        <label class="govuk-label govuk-checkboxes__label" for="uplands">
                          Uplands
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="vegetation" name="vegetation" type="checkbox" value="vegetation">
                        <label class="govuk-label govuk-checkboxes__label" for="vegetation">
                          Vegetation control
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="water" name="water" type="checkbox" value="water">
                        <label class="govuk-label govuk-checkboxes__label" for="water">
                          Water quality
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="woodland" name="woodland" type="checkbox" value="woodland">
                        <label class="govuk-label govuk-checkboxes__label" for="woodland">
                          Woodland
                        </label>
                    </div>
                    </div>
                  </div>
                </details>
              </th>
              <th scope="col" class="govuk-table__header" width="20%">
                <details
                  class="govuk-details"
                  style="text-align: left"
                  data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Activities
                    </span>
                  </summary>
                  <div class="govuk-form-group">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="create" name="create" type="checkbox" value="create">
                        <label class="govuk-label govuk-checkboxes__label" for="create">
                          Creating or improving
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="manage" name="manage" type="checkbox" value="manage">
                        <label class="govuk-label govuk-checkboxes__label" for="manage">
                          Managing or protecting
                        </label>
                      </div>
                    </div>
                  </div>
                </details>
              </th>
              <th scope="col" class="govuk-table__header" width="20%">
                <details
                  class="govuk-details"
                  style="text-align: left"
                  data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Grant scheme
                    </span>
                  </summary>
                  <div class="govuk-form-group">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="cs" name="cs" type="checkbox" value="cs">
                        <label class="govuk-label govuk-checkboxes__label" for="cs">
                          Countryside Stewardship (CS)
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="fetf" name="fetf" type="checkbox" value="fetf">
                        <label class="govuk-label govuk-checkboxes__label" for="fetf">
                          Farming Equipment and Technology fund (FETF)
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="sfi" name="sfi" type="checkbox" value="sfi">
                        <label class="govuk-label govuk-checkboxes__label" for="sfi">
                          Sustainable Farming Incentive (SFI)
                        </label>
                      </div>
                    </div>
                  </div>
                </details>
              </th>
              <th scope="col" class="govuk-table__header" width="20%">
                <details
                  class="govuk-details"
                  style="text-align: left"
                  data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Payment type
                    </span>
                  </summary>
                  <div class="govuk-form-group">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="capital" name="capital" type="checkbox" value="capital">
                        <label class="govuk-label govuk-checkboxes__label" for="capital">
                          Capital payment
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="revenue" name="revenue" type="checkbox" value="revenue">
                        <label class="govuk-label govuk-checkboxes__label" for="revenue">
                          Revenue payment
                        </label>
                      </div>
                    </div>
                  </div>
                </details>
              </th>
              <th scope="col" class="govuk-table__header" width="20%">
                <details
                  class="govuk-details"
                  style="text-align: left"
                  data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Closing date
                    </span>
                  </summary>
                  <div class="govuk-form-group">
                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="1month" name="1month" type="checkbox" value="1month">
                        <label class="govuk-label govuk-checkboxes__label" for="1month">
                          Less than 1 month
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="3month" name="3month" type="checkbox" value="3month">
                        <label class="govuk-label govuk-checkboxes__label" for="3month">
                          Between 1 and 3 months
                        </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="plus3month" name="plus3month" type="checkbox" value="plus3month">
                        <label class="govuk-label govuk-checkboxes__label" for="plus3month">
                          Over 3 months
                        </label>
                      </div>
                    </div>
                  </div>
                </details>
              </th>
            </tr>
          </thead>
        </table>
      </form>
      <a href="option3filter.html">
          <button id="search-box" class="govuk-button" data-module="govuk-button">
            Search
          </button>
      </a>
     </div>
    </main>
  </div>
</div>


{% endblock %}
