{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<head>
  <script src="https://kit.fontawesome.com/deb1d61b21.js" crossorigin="anonymous"></script>
</head>

<!--Introductory text-->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      Check available funding and grants for your land or farm
    </h1>
    <p> From: <a href="/path/of/page">Department for Environment, Food & Rural Affairs</a> and <a href="/path/of/page" class="govuk-link" >Rural Payments Agency</a></p>

    <p>Find out what funding the Farming and Countryside Programme offers. This is for land or farms in England. </p>
    <p>You may be able to apply for one or more funds and grants if you or your land are eligible. The guidance for each fund and grant will explain where this is possible. </p>

    <div class="govuk-inset-text">
      This service does not confirm your eligibility. You cannot get the same funding twice on a single land parcel.
    </div>
    <p>You can also find out about<a href=""> upcoming funding and grants</a> or check <a href=""> closed funding or grants</a>. </p>
    
  </div>
</div> 

<!--Body of page-->
<div class="govuk-width-container" id="search">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">

<!--1/3 column-left-->
    <div class="govuk-grid-column-one-third">
        <div class="govuk-form-group">
          <h2 class="govuk-heading-m">Search</h2>
          <p class="govuk-!-font-size-16 govuk-hint">Enter a keyword or the name of a grant. Use the filters to narrow your search.</p>
          <input class="govuk-input govuk-!-width-full" id="one-third" name="one-third" type="text">
          <hr class="govuk-section-break govuk-section-break--m">
          <a href="#" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Search
          </a>
          <hr class="govuk-section-break govuk-section-break">
          <a href="/Alpha/Version_4/Filter/option2filter.html" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Clear all filters
          </a>
 <!--Accordions-->         
          <div class="govuk-accordion" data-module="govuk-accordion" id="Heading" aria-expanded="true">
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1" aria-expanded="true">
                    Priorities
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        Air quality
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        Arable land
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        Biodiversity
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        Boundaries
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        Coast
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                        Educational access
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                        Flood risk 
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm" checked>
                      <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                        Grassland
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        Historic environment
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        Livestock management
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        Organic land
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        Pollinators and wildlife
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        Priority habitats
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        Trees (non-woodland)  
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        Uplands
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        Vegetation control
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        Water quality
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                      <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                        Woodland
                      </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                    Goals
                  </span>
                </h2>
              </div>
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="CS" name="organisation" type="checkbox" value="hmrc" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="organisation">
                    Creating or improving
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal" >
                  <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                    Managing or protecting
                  </label>
                </div>
            </div>
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                    Grant scheme
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                      Countryside Stewardship (CS)
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                      Farming Equipment and Technology fund (FETF)
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
                      Sustainable Farming Incentive (SFI)
                    </label>
                  </div>
                </div>
              </div>
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                    Payment type
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                      Capital payment
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                      Revenue payment
                    </label>
                  </div>
                </div>
              </div>
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                    Closing date
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation">
                      Less than 1 month
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-2" name="organisation" type="checkbox" value="employment-tribunal">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-2">
                      Between 1 and 3 months
                    </label>
                  </div>
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="organisation-3" name="organisation" type="checkbox" value="MOD">
                    <label class="govuk-label govuk-checkboxes__label" for="organisation-3">
                      Over 3 months
                    </label>
                  </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>
 <!--2/3 layout-->
 <!--Links to emails, subscriptions and shortlist-->
    </div>
    <div class="govuk-grid-column-two-thirds">
      
       <table class="govuk-table">
        <thead class="govuk-table__head">
           <tr class="govuk-table__row">
            <th scope="col" class="govuk-body-l govuk-!-font-weight-bold">29 results</h3></th>
            <th scope="col" class="govuk-link"><a class="govuk-link" href="#">Get emails</a></th>
             <th scope="col" class="govuk-link"><a class="govuk-link" href="#">Subscribe to feed</a></th>
           </tr>
         </thead>
         </table>
       
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<!--Tabs-->
<div class="govuk-tabs" data-module="govuk-tabs">
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#grants">
        Grants (3)
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#options">
        Options (26)
      </a>
    </li>
 </ul>
  <div class="govuk-tabs__panel" id="grants">
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <p class="govuk-body">
              <a href="#" class="govuk-link">Farmland wildlife on improved grassland 2023</a>
            </p>
            Priorities: Biodiversity, Grassland, Uplands<br>
            Goals: Creating or improving, Managing or protecting<br>
            Grant scheme: Sustainable Farming Incentive (SFI)<br>
            Payment type: Revenue payment<br>
            Closing date: to be confirmed
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <p class="govuk-body">
              <a href="#" class="govuk-link">Low input grassland 2023</a>
            </p>
            Priorities: Biodiversity, Grassland, Uplands<br>
            Goals: Creating or improving, Managing or protecting<br>
            Grant scheme: Sustainable Farming Incentive (SFI)<br>
            Payment type: Revenue payment<br>
            Closing date: to be confirmed
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <p class="govuk-body">
              <a href="#" class="govuk-link">Mid Tier grants and Wildlife Offers 2023</a>
            </p>
            Priorities: Air quality, Arable land, Biodiversity, Pollinators and wildlife, Uplands, Water quality<br>
            Goals: Creating or improving, Managing or protecting<br>
            Grant scheme: Countryside Stewardship (CS)<br>
            Payment type: Capital payment, revenue payment<br>
            Closing date: 11.59pm 15 September 2023
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="options">
   <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <p class="govuk-body">
              <a href="#" class="govuk-link">IGL1: Take improved grassland field corners or blocks out of management </a>
            </p>
            This is an action that you can add to a Sustainable Farming Incentive (SFI) agreement if you meet the eligibility criteria.<br>
            Priorities: Grassland, Uplands<br>
            Goals: Managing or protecting<br>
            Grant scheme: Sustainable Farming Incentive (SFI)<br>
            Payment type: Revenue payment
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <p class="govuk-body">
              <a href="#" class="govuk-link">IGL2: Winter bird food on improved grassland</a>
            </p>
            This is an action that you can add to a Sustainable Farming Incentive (SFI) agreement if you meet the eligibility criteria.<br>
            Priorities: Biodiversity, Grassland, Uplands<br>
            Goals: Creating or improving<br>
            Grant scheme: Sustainable Farming Incentive (SFI)<br>
            Payment type: Revenue payment
          </td>
        </tr>
      </tbody>
    
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">
        <p class="govuk-body">
          <a href="#" class="govuk-link">LIG1: Manage grassland with very low nutrient inputs outside severely disadvantaged areas</a>
        </p>
        This is an action that you can add to a Sustainable Farming Incentive (SFI) agreement if you meet the eligibility criteria.<br>
        Priorities: Biodiversity, Grassland, Uplands<br>
        Goals: Managing or protecting<br>
        Grant scheme: Sustainable Farming Incentive (SFI)<br>
        Payment type: Revenue payment
      </td>
    </tr>
  </tbody>

<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <p class="govuk-body">
      <a href="#" class="govuk-link">SW2: 4m to 6m buffer strip on intensive grassland</a>
    </p>
    This is an option that you can add to a Countryside Stewardship (CS) agreement if you meet the eligibility criteria.<br>
    Priorities: Air quality, Boundaries, Grassland, Uplands, Water quality<br>
    Goals: Creating or improving<br>
    Grant scheme: Countryside Stewardship (CS)<br>
    Payment type: Revenue payment
  </td>
</tr>
</tbody>

<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <p class="govuk-body">
      <a href="#" class="govuk-link">SW8: Management of intensive grassland adjacent to a watercourse</a>
    </p>
    This is an option that you can add to a Countryside Stewardship (CS) agreement if you meet the eligibility criteria.<br>
    Priorities: Air quality, Biodiversity, Grassland, Uplands, Water quality<br>
    Goals: Managing or protecting<br>
    Grant scheme: Countryside Stewardship (CS)<br>
    Payment type: Revenue payment
  </td>
</tr>
</tbody>

<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <p class="govuk-body">
      <a href="#" class="govuk-link">SW9: Seasonal livestock removal on intensive grassland</a>
    </p>
    This is an option that you can add to a Countryside Stewardship (CS) agreement if you meet the eligibility criteria.<br>
    Priorities: Biodiversity, Grassland, Uplands, Water quality<br>
    Goals: Managing or protecting<br>
    Grant scheme: Countryside Stewardship (CS)<br>
    Payment type: Revenue payment
  </td>
</tr>
</tbody>
</table>
  </div>
</div>
        

    
    

    





<!--Footer-->

          <script>
          function changetoremove1() {
          document.getElementById("Add1").innerHTML = "Remove from shortlist";
          }
          </script>
          </dd>
        </div>

      </dl>
    </div>
  </main>
</div>



{% endblock %}
