{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Do you want to see funding that is closing soon?
          </h1>
        </legend>

        <p class="govuk-hint">You can apply for funding until it closes.</p>

         <div class="govuk-radios" data-module="govuk-radios">
         <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
            <label class="govuk-label govuk-radios__label" for="contact-2">
              Yes, I want to see funding that is closing soon
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste">
                  Less than 1 month
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                  Between 1 and 3 months
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                  Over 3 months
                </label>
              </div>
          </div>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
          <label class="govuk-label govuk-radios__label" for="contact">
            No, I want to see all funding
          </label>
        </div>
      </fieldset>
    </div>

    <a href="/Alpha/Version_4/Filter/filter_results_organic.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Confirm and continue
      </a>
  </div>
</div>


      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m">Your answers</h2>
          <p>
            <a href="/Alpha/Version_4/Filter/startwiz.html">Start again</a>
        </p>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What types of funding are you interested in?
              </dt>
              <dd class="govuk-summary-list__value">
                All funding
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/Alpha/Version_4/Filter/question-type-of-funding.html">
                  Change<span class="govuk-visually-hidden"> previous application number</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What type of land use do you want the funding to cover?
              </dt>
              <dd class="govuk-summary-list__value">
               Organic land
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/Alpha/Version_4/Filter/question-type-of-land.html">
                  Change<span class="govuk-visually-hidden"> previous application number</span>
                </a>
              </dd>
            </div>
          </dl>
        </div>
      </div>
    

  </div>
</div>
{% endblock %}
